[2015-02-25 09:33] evilaliv3 commented on #188
yep thats for sure fabio but it's more for the final output for the system to be outputted on the filesystem.

i did it in past for tor2web by using https://twistedmatrix.com/documents/current/api/twisted.python.logfile.DailyLogFile.html
more than on log rotation we should study also what are the standard formats for the serialization (or let's say the most common one on a unix system)

[2015-02-25 09:39] fpietrosanti commented on #188
@evilaliv3 logging to db is much more sensibile/risky than logging to filesystem and require more care, including rotation, archival/automatic-deleting, visualizzati in, export and usually there are logging framework to do that

[2015-02-25 10:04] evilaliv3 commented on #189
agreed, thanks @vecna

[2015-02-25 14:14] vecna commented on #297
The check is never assigned on token request, or the potential attacker can stress your function of disk checking.

The check is performed once every 30 seconds by a scheduled process, and based on the amount of disk, set the alarm level. you and Fabio propose the percentage + size check, I'm good with that.

my analysis in the beginning was not to remain string to a certain amount/percentage, but

[2015-02-25 14:22] evilaliv3 commented on #297
i agree on the check performed once every 30 seconds and result of the simple check kept in memory. from now i do not see any problem due to the check that is performed but for sure in the future we will probably add a bunch of other checks in this in relation to varous resources so very good argument to do that. nice catch man!

i agree also on the two thresholds (i think the user should define o

[2015-02-25 14:38] hellais commented on #1009
I this this issue can be closed since it does not provide enough information to debug it.

[2015-02-25 14:38] #1009 closed

[2015-02-25 14:43] hellais commented on #1101
@fpietrosanti does this not fit your requirements: https://github.com/JimLiu/angular-markdown-editor?

[2015-02-25 14:44] hellais commented on #1113
Is this still relevant?

I think we have agreed that flow.js is the solution.

[2015-02-25 14:56] evilaliv3 commented on #1113
you are right @hellais

[2015-02-25 14:56] #1113 closed

[2015-02-25 15:04] evilaliv3 commented on #1101
great for my point of view @hellais.

what we shall discuss is
1) is markdown enough for our reasons? it lacks the possibility fo custom positions of element inside the markdown
2) to solve 1) we can use CSS and modify the markdown directive that apply showdown in order to make it generate unique id inside each generated elem. e.g inside PageTitle element shodown should assign id=elem1, id=elem2,

[2015-02-25 15:24] hellais commented on #1101
I need to think more about this issue, but we should do this incrementally.

Step 1) Implement markdown for all textarea fields
Step 2) Think of how to extend customisation to also support positioning

[2015-02-25 15:26] vecna commented on #232
**confusion has been made**. Probably I have not to extend this issue as part of D7.3 and just to open a new one.

Two kinds of data are here discussed:

  * SuccessCase: when a node or a receiver publish a news based on a submission. Is important that inside the globaleaks node, the admin or the receiver, report that success case. link + when + description. This can be used to display the success

[2015-02-25 15:26] vecna commented on #188
I can't take a look existing framework and figure out how integrate them in globaleaks design. not now at least, not in two days. I step out of the issue.

[2015-02-25 16:07] vecna commented on #796
@evilaliv3 @hellais did you saw some angular module to implement a countdown ?

[2015-02-25 16:21] hellais commented on #796
@vecna This directive seems aproapriate: https://github.com/siddii/angular-timer

[2015-02-25 16:44] evilaliv3 commented on #232
is see. the successCases may be eventually and exported list of links expored by the node and the trust will be build by the real presence of the real presence of the story at the specified linksthis links.

for the opendata format was my fault and of the team in general to not follow it properly. sorry for that.

ok to postpone this to the moment we can properly study it. we are in a moment where

[2015-02-25 16:51] evilaliv3 commented on #1101
i agree that the implementation would keep in mind a little the various steps so that step 1 for sure should not be trashed as a whould while addressing step 2. but if you agree that 1) and 2) as described by me can work (obviously properly tuned) we can proceed with 1)

let me know so that we can work on this by starting integratin the two libraries and applyng their usage to textareas (and also

[2015-02-25 21:25] vecna commented on #297
still there are something to do:

  * the point raised by @fpietrosanti on the overall percentage are still good
  * submission is not "disabled" and has to be
  * #872 ramkdisk has to be kept in account (and is enough check that ~ 2k are available.. just the keys are kept for a short period of time, right ?)

[2015-02-25 22:26] vecna opened #1178 "Specification and prototype of Success Case collectors"
From #232:

SuccessCase: when a node or a receiver publish a news based on a submission. Is important that inside the globaleaks node, the admin or the receiver, report that success case. link + when + description. This can be used to display the success cases of the nodes. will be exported publicly by an API, in the beginning, not used, until leakdirectory will not fetch that.

[2015-02-25 23:29] vecna commented on #1178
please feedback on the specification above @evilavli3 @fpietrosanti @hellais

[2015-02-26 00:13] evilaliv3 commented on #1178
i've never requested a specification of the micro feature but at least that the macro topics of the project are properly defined and after that there is a plan and a vision of what we want to do start addressing the.

this is due to the fact that on each deliverable we have an amount of time allocated (e.g. D7.3 see only 40 men days allocates) so that it's important to have a roadmp and a clear id

[2015-02-26 08:31] fpietrosanti commented on #1178
That feature would be ineffective until some major big developments will happen, so let's postpone or it will just become a dead piece of code and UI (because not user will use it, so no effective testing will ever happen).

Please just postpone it.

Additionally, understanding the meaning / usefulness of "let's collect success case of an initiative" because it's something that "adopters" should u

[2015-02-26 08:52] fpietrosanti commented on #1178
Regarding the last point, i just made a feature discussion with Lorenzo from IRPI that gave very useful info:
- He would like to handle this data from receiver panel (not from admin)
- He would like to have the "public profiles" on LeakDirectory to be two separate, one for IRPILeaks and one for ExpoLeaks, that in their use-case are separate context of GlobaLeaks (like for OCCRPLeaks)

I didn't ask

[2015-02-26 09:03] fpietrosanti opened #1179 "Setup and integrate a new email notification facility specific for GlobaLeaks notifications"
Setup and integrate a new email notification facility specific for GlobaLeaks notifications because the old one died.

Hermes Center should provide an email notification service for default email installation.

This service shall be based on Postfix SMTP/TLS with authentication over Tor Hidden Service.

This service should avoid any logging.

This service should preemptively block sending any emai

[2015-02-26 09:08] fpietrosanti opened #1180 "Detect if email notification are not working and disable Whistleblowing"
Today the default email server account hard-coded in GlobaLeaks stopped working.

This revealed a critical scenario:
- That few people change it (we need to implement #724)
- That when notification email is down, the admin cannot detect it (because email is down)

This ticket is to try to solve the issue (the admin don't know that email notification stopped working).

GlobaLeaks should detect cont

[2015-02-26 11:21] evilaliv3 opened #1181 "Evaluate the possiblity to support the use of a local postfix, or eventually denied its configuration"
We should evaluate the possiblity to support the use of a local postfix, or eventually denied its configuration.

Currently infact this is not problem but it's only not prevented so that users (jpleaks) tried to configure a local postfix in order to solve issue https://github.com/globaleaks/GlobaLeaks/issues/1179.

We should take a decision on:
1) allowing local smtp server usage; this would lead

[2015-02-26 11:21] evilaliv3 commented on #1181
related to this there is still a possibility that a not so experienced user use the public ip addess of the globaleaks server to configure the local SMTP. this would work like a charm leading to deanonimization of the setup. shall we prevent this somehow? if yes how?

[2015-02-26 15:45] fpietrosanti commented on #1181
We can also simply do the following procedure:
IF smtp_server = ("localhost" || 127.0.0.1) ; then NO_TOR

[2015-02-26 15:52] evilaliv3 commented on #1181
i agree on adding this simple check clientside on validation and serverside on saving.

obviusly the check its not complet leaving tons of possibilities (127.0.0.2), but it solve the more common situations.

[2015-02-26 21:59] vecna commented on #1175
it is good enough ?

[2015-02-26 22:31] vecna commented on #1178
@fpietrosanti @evilaliv3 answers inline:

I don't think so, based on the list of HS we can (interally) crawl that data and start to display, for presentation (like, at IJF) the effects of GlobaLeaks after three years from the release.

That's good indeed. but, I guess, this is part of **our** vision on how node has to provide feedback inside the network of node. Adopters can give a shit about, but

[2015-02-27 00:55] evilaliv3 commented on #1175
good in the aim but i'm not perfectly sure that that a cat excecuted after a service tor restart will found the hostname already present. tomorrow i will check it and we need to be sure of this before releasing this.

[2015-02-27 01:00] evilaliv3 commented on #1175
i see that @fpietrosanti already addressed this here without updating this ticket.

https://github.com/globaleaks/GlobaLeaks/commit/8f6f3113aebf4220e7c47a162a47f5c2f8de8110

i would probably go on reveting this patch added inside the package and integrate your text with the one of @fpietrosanti . it's better to keep this output out from the package and put it inside the init script due to strong c

[2015-02-27 09:23] fpietrosanti commented on #1159
When the admin type "smtp.gmail.com" in the server-name in the admin interface (or in the setup wizard) he must be given highly-visibile advice/notification that Google will work only by following instructions available at https://github.com/globaleaks/globaleaks/wiki/NotificationTroubleShooting#Google with a clickable link

[2015-02-27 09:24] fpietrosanti commented on #1159
When in the log there is a delivery error going to "smtp.gmail.com" in the server-name the logs must report and advice that Google will work only by following instructions available at https://github.com/globaleaks/globaleaks/wiki/NotificationTroubleShooting#Google

[2015-02-27 09:27] evilaliv3 commented on #1159
Okay, i found the solution that is explained here:
https://support.google.com/accounts/answer/6010255?hl=en

The user has simply to log in on GMAIL and then enable a siimple page dedicated to this setting:
https://www.google.com/settings/security/lesssecureapps

i'm going to document it on the wiki

[2015-02-27 10:10] evilaliv3 commented on #1159
done: https://github.com/globaleaks/GlobaLeaks/wiki/NotificationTroubleShooting

@fpietrosanti can you make a review of it?
i've tried to use the same sentences of google to not confuse the user.
a final statement to not cause fear in the user is needed due to the terminology "enable less secure apps access" that the user will face while enabling the setting, so i added the following:

"Don't be w

[2015-02-27 10:24] evilaliv3 commented on #1159
damn @fpietrosanti, this does not work.

sometimes gmail continue to block it as it really  do not like the IP of the connection to change and change and change:

this is the error i got while performin additional tests; the first worked, seconds not.
2015-02-27 11:21:23+0100 '[!] Failed to contact smtp.gmail.com:587 (SMTP Error: 534 5.7.14)'
2015-02-27 11:21:23+0100 "[!] Failed to contact smtp.gm

[2015-02-27 11:43] evilaliv3 opened #1182 "GlobaLeaks SMTP notification should support only TLS methods"
It seems that due to a bug globaleaks is currently not using strong SSL/TLS protocols while performing  SMTP connections.

This has been spotted while disabling SSLv2 on default smtp server used for demo purposes and configuration of wich is included in globaleaks defaults.

[2015-02-27 11:55] evilaliv3 commented on #1182
analyzing the bug i've understood the issue that is not a security bug but simply a malcunction bug.

the issue lies in line 127 of globaleaks/utils/mailutils.py: https://github.com/globaleaks/GlobaLeaks/blob/b48fcfa07dfcb89dd194deaa65051f6714325013/backend/globaleaks/utils/mailutils.py#L127

here we enfoce the use of SSLv3, this way when one use SMTP/TLS the configuration was only working if the

[2015-02-27 12:29] fpietrosanti opened #1183 "Enable support to disable Torrification and certificate validation of notification"
This ticket is to enable support to:
- Disable Torrification
- Disable certificate validation

There are certain conditions where certificate validation make sending notification fails (such as with self-signed CA).

There are certain conditions where Torrification make sending notification fails (such as Google/Gmail or other ISP that put email in spam).

When disabling Torrification the user sha

[2015-02-27 12:31] evilaliv3 opened #1184 "Enable support to validation of SSL Certificates while performing external connections"

[2015-02-27 12:33] fpietrosanti opened #1185 "Enable sending email notification with Gmail by using Gmail API"
This ticket is to enable sending email with Gmail by using Gmail API in order to avoid ending up in Spam.

To integrate the Gmail API https://developers.google.com/gmail/api the globaleaks platform should enable authorization trough OAuth procedure.

It shall be first be tested, in advance, if the usage of Gmail API fix the Spam/Reject issue of using smtp.gmail.com identifyed by ticket #1159

[2015-02-27 12:35] fpietrosanti commented on #1162
That's related to #1177

[2015-02-27 12:43] evilaliv3 commented on #1184
Related to this the code has been already written by me ans is integrated on Tor2web and in production, since at least one year: https://github.com/globaleaks/Tor2web/blob/62e4fd938183572b711933dd5915fce424784bc8/tor2web/utils/ssl.py#L192

[2015-02-27 12:43] evilaliv3 commented on #1184
The feature described in this ticket is currently needed in related to notifications but it would be important and in place also before having implemented other features like eventual Leak directory pushing / or other resource fetching like onionoo resource, or whatever. \cc @vecna

[2015-02-27 13:00] evilaliv3 commented on #1182
@hellais / @vecna can you validate this solution so that by today or tomorrow i can push out this fix?

[2015-02-27 15:00] vecna commented on #297
please review, now are implemented:

  * < 1% disable submission
  * < 2% raise a warning (and cause captcha)
  * < 1GB disable submission
  * < 2GB raise a warning (and cause captcha)
  * max 5 submission with full file upload: raise a warning (and cause captcha)
  * max 15 submission with full file upload: raise a warning

There are also a new element available for the template, %DiskMessage%, c

[2015-02-27 15:01] vecna commented on #872
Closing this issue, discussion and updated done in #297

[2015-02-27 15:04] vecna commented on #1175
I totally miss @fpietrosanti patch :(
put a sleep before the file check ?
put some address to get support in the text message ?

[2015-02-27 15:14] vecna commented on #1182
is hard to test it.... how can be tested ?

[2015-02-27 15:25] vecna commented on #1179
@evilaliv3 @hellais @mmaker there are many issues mail related, did someone of yours get experience with https://twistedmatrix.com/trac/wiki/TwistedMail ?

[2015-02-27 15:38] fpietrosanti commented on #1179
@vecna we can have a postfix running on localhost on the machine hosting demo.globaleaks.org with some basic configuration to listen on 127.0.0.1:25, exposed on Tor Hidden Service land, with SMTP/TLS and authentication configured.

That service shall detect email being originated from GlobaLeaks (with some Header and/or Subject matching) whitelisting that ones, and blocking everything else by usin

[2015-02-27 16:01] evilaliv3 commented on #1182
i know. at least as code analysis. reading the ticket of Tor i reported  and see if it sound reasonable to you.

to this aim probably in future we will have to integrate in our CI environment a set of different SMTP servers (probably integrable also in travis itself in order to simulate the connections against different mail servers configured with the nost important relevan differnt configs.

[2015-02-27 16:38] evilaliv3 commented on #1179
@vecna not never worked on that.

i agree to simpify the solution to configure  bunch of postfix instances on a machine (e.g., demo.globaleaks.org)

the real problem in all is to test against them during unit testing; due to his strong pythonic experience I would like to ask @maker to work on that and to @hellais to support him with suggestions.

[2015-02-27 16:51] evilaliv3 opened #1186 "Improve the teaching/awareness/support infos inside of install.sh"
In reference to ticket https://github.com/globaleaks/GlobaLeaks/issues/1175 it would be interesting to enrich the install.sh script with various things like:
 - welcome message with the funny colored logo we had in past
 - a statement that clarify what globaleaks is and the good use that one can do of it
 - information on how to get support from it (e.g., the email support@), the mailinglist.

the

[2015-02-27 16:53] evilaliv3 commented on #1175
@vecna apart from the sleep correction that we should see if it is really needed of if tor has already created the hidden service keys when returning from a "service tor restart", i've opened the ticket above to discuss the other things that i find important let's say as all the teaching information we have in globaleaks like the privacy badge, the security awareness badge etc.

[2015-02-27 17:32] evilaliv3 commented on #297
fine for me in the intent that is reasonable. going to see the code and leaving eventuals comments there.

[2015-02-27 17:59] evilaliv3 commented on #1182
we got a confirmation by a new adopter that the fix seems to work like a charm.

[2015-02-27 18:38] mikehearn commented on #1161
There's no requirement to use JS to create certificates. Browsers know how to generate and install certificates in their local (OS) cert store using the HTML 5 <keygen> tag.

You can try out the flow for yourself here:

https://www.comodo.com/home/email-security/free-email-certificate.php

If you go there in IE, Safari or Chrome then you should end up with a certificate installed in the local oper

[2015-02-28 00:04] vecna commented on #921
At the moment I've hardcoded two days, to permit a flexible timing, we need a DB update.
In the meantime, the translation of the new notification template may start.

In the commit, also a cleaning of the "cleaning" logic has been done, with the token the internaltip.mark == 'submission' do not exists anymore. That's why the branch as HEAD to token-integration.

At the moment we've a constrain:

[2015-02-28 00:10] vecna commented on #1174
Can be close I guess

[2015-02-28 00:10] vecna commented on #1115
Managed days ago

[2015-02-28 00:10] #1115 closed

[2015-02-28 00:33] evilaliv3 commented on #1115
if you remember the commit just as reference remember to put it somehou in the ticket just as documentation.

and remember to assign as last the mileston of the mount you addressed it so that we have also a way to see what was adressd during a particular month

[2015-02-28 00:37] evilaliv3 commented on #1174
i will close this after testing it just to see what happens if we write -z with no arguments.
and i want to see what happens in general in this situations and eventually open tickets of improvements if this conditions are not well handled.

[2015-02-28 00:41] evilaliv3 commented on #921
k if this is ready i will assign this to me for integration that i will do in march (probably the week of the 5th)

i don't like so much to reuse finalize, first with differnt meanings.
so can you please describe here the states you need? i will implement the right migration when integration.

i've also accumulated tons of other changes and additions that i would like to add to next db migration i

[2015-02-28 00:41] vecna commented on #1120
Can we close this issue ? is still a bug ? @mmaker @evilaliv3

[2015-02-28 00:43] vecna commented on #1106
that is a sort of totally architectural bug that we can solve only converting all the list in dict, using the INT as keys ?

[2015-02-28 00:45] vecna commented on #1103
I don't see this bug in the latest versions, can we consider it solved ?

[2015-02-28 00:50] vecna commented on #1095
soon will be addressed with #1096, is the same

[2015-02-28 00:50] #1095 closed

[2015-02-28 00:52] vecna commented on #984
I don't know which part of code can raise this stuff, @evilaliv3 @mmaker @hellais any ideas ?

[2015-02-28 00:55] vecna commented on #932
any way to reproduce ?

[2015-02-28 00:56] vecna commented on #925
what we can do about that ?

[2015-02-28 01:19] vecna commented on #1174
@evilaliv3 happen that globaleaks do not start and ask to you to put an argument

[2015-02-28 05:12] vecna commented on #921
**Off Topic in the DB changes: ReceiverTip.assigned_label unicode to be added to ReceiverTip**

The status used:

  * 'finalized' when WB complete the submission
  * 'first' when delivery make it switch and generate ReceiverTip (after 30 second smore or less)
  * after EXPIRATION DATE - ALERT TIME, receiver get notification, the status can be renamed 'alerted', now is used 'submission'.
  * if the

[2015-02-28 05:13] vecna commented on #1096
I'm catching the exception now, but probably is one of the error that has to trigger an "high level alarm mode" and disable submission, because they can't work if that happen. I guess has to be part of the log/alarm/message refactor. need to be kept in mind.

[2015-02-28 05:13] #1175 closed

[2015-02-28 07:21] evilaliv3 commented on #1096
I see, let's see this open for a few. i will evaluate a solution while integrating all the work you have done,

[2015-02-28 07:24] evilaliv3 commented on #872
an issue has to be considered closed when integrated in devel by the review of someone.

let's try to re-enter all in this path. i will take care of this.

[2015-02-28 07:30] evilaliv3 commented on #921
**concerning the Off Topic comment in the DB changes: ReceiverTip.assigned_label

are you talking of the single label that is sent in the email right? if yes i agree for this solution.
if you instead means the TAGS my suggestion for the future is that we add a Tags table:
(ID, object_type, TAG(nicode_internazionalized)) to be associated to various object_types (e.s rtips by reference or multiple r

[2015-02-28 07:33] evilaliv3 commented on #921
i've temporary assigned it to me in order to remember me to push upstream the templates by review them, complete with @hellais and include in devel branch so to anticiapate translators.

[2015-02-28 07:35] evilaliv3 commented on #1174
great thanks. assignin this to me so that i will remember to simply test it and close.

[2015-02-28 07:39] evilaliv3 commented on #932
i don't remember if i've already fixed this.
by the way is something that ways happen simply by opening the web application. cause is due to the use of a bootstrap class.

i will take care of the issue that i'm confident of the various templates that have this issue.

thanks @vecna

[2015-02-28 07:41] evilaliv3 commented on #984
i verified this few days ago. propbably in my case i simply powered of the network wifi that was able to cause the same behaviour.

[2015-02-28 07:43] evilaliv3 commented on #1103
no change have been applied in relation to this.
and it may be also connected to the fact that various notifications where not working since mitotz changed something to the postfix of the default mail credentials. let's keep whit open for a few.

[2015-02-28 07:49] evilaliv3 commented on #1106
what do you mean?

from the solution you propose it seems that what i written it was not clear.
let me clarify with an example:
Let me say we have the following Contexts "One, Two, Three" and that i order them alphabetically.
I will get the order: "One, Three, Two"
Let us than switch to italian: we will se "Uno, Tre, Due" but in italian the alphabetical order is "Due, Tre, Uno".

by the way writin

[2015-02-28 07:50] evilaliv3 commented on #1120
yep, i was waiting for the validation of my solution by @mmaker.

let's leave this assigned to him.

[2015-02-28 08:41] fpietrosanti commented on #641
Add also:
- Google Cloud
- OTF Cloud

[2015-02-28 12:09] vecna commented on #872
Yes ok for the policy but is duplicated in the other issue mentioned :P

[2015-02-28 12:19] vecna commented on #921
About the OT: I was meaning #1156 (touch notification %TemplateKeywords% and a ReceiverTip field, Status page UI and TipList UI), not Tag. good idea about Tag, but I don't have yet an use case in my mind.

[2015-02-28 12:31] vecna commented on #1106
Ok I see your point, but you are advantaging the alphabetical order because is "neutral", some node, want keep as first the things they want give priority.

That's why I was guessing, a not-language-dependent ordering is required in a list, and the alphabetical reordering is just a client side feature, for the day the admin press on the button.

[2015-02-28 12:40] evilaliv3 commented on #1106
Both exists since ever vecna but the alphabetical reordering I simply
implemented without any db support has this internationalisation drawback
since ever.

I've described above how I'll solve it that will continue to be optional
and not enforced like now

[2015-02-28 12:49] evilaliv3 commented on #921
I agree on postponing tags. In past you added this as simply pickle or
unicode. I changed this recently removing tag viable so I was simply
annotating the good way to reintroduce it eventually in the feature when
dealing with TI requirements.

[2015-02-28 13:05] vecna commented on #1180
I don't see why of **disable submissions**, that is the core asset of the node...  when the receiver just do not get emails.
Receiver, in these case, have to login without something that say them "hey, log in".

in a high sensitive node, this mean that blocking email system influence ability of node to receiver submission, I don't think is acceptable.

Disable submission is the extreme ratio we ca

[2015-02-28 15:11] fpietrosanti commented on #1180
@vecna you're speaking about an interesting "edge case" that's where notifications are disabled.

But generally we shall assume that notification are a core part of the functional workflow of GlobaLeaks (with recent problems with our default email server we got a shit load of requests of people worried by notification not working anymore).

If notifications are enabled, but are not working, then G

[2015-02-28 19:03] vecna commented on #1186
I like the idea.
by theory, we have to communicate these points:

   * **for them alone**: remember that a whistleblowing initiative is done by 10% of the software. give some link to understand how set up a proper initiative.
   * **for them as part of the community**: globaleaks-talks - support@ address - twitter account - how report an issue
   * next mandatory steps: save HS, complete the wizar

[2015-03-02 19:02] vecna commented on #798
Implemented first draft of digest: https://github.com/globaleaks/GlobaLeaks/tree/issue/921%2B748-expiration-notif /cc @evilaliv3

[2015-03-03 13:01] fpietrosanti commented on #798
@vecna i'd suggest to make it configurable with a node-level and receiver-level settings as follow:

[Email Notification Preferences]
Maximum Notification Per Recipient per Hour: X (within this threshold there's no flood protection in place)

Anytime that limit is surpassed, we'll start limiting the outgoing notifications for that recipient to value Y/hour for K hours, just discarding any over-quo

[2015-03-03 21:34] vecna commented on #798
discarding has never been considered an option (and this is very different from the needs recent requirement expressed by TI - never lose an email - ).
And this is also completely different from the digest approach (for reduce notification).

Anyway, I'll see in the next week what can be added, I guess the easier approach, is a receiver setting a maximum number of email per hour, and if it happen,

[2015-03-04 09:05] fpietrosanti commented on #798
Because email does not practically have *any informative content* creating composite emails made up of the content of the many unsent notification emails may just not be useful for end-user.

Discarding it's just the quicker and easier way to prevent a notification flood from being a problem.

Regarding this digest, is that specified or described functionally how it should work / which is the cont

[2015-03-04 14:58] fpietrosanti opened #1187 "Make the credit card hint on the Receipt page configurable"
This ticket is to make the credit card hint box on the Receipt page configurable as follow:

- Display the credit card hint (default)

- Don't display (it shall be taken care to align all the text in the interface properly)

- Configure custom text (enable admin to write it's own custom hint)

[2015-03-04 15:08] vodkina commented on #1178
I agree with those saying that this feature is mainly uneffective just now.
Nevertheless, the discussion on possible implementations is a good point.
I postpone this to March Milestone, but I'd largely prefer the attention would be better focused on more urgent features and tasks.

[2015-03-05 02:29] vecna commented on #798
The goal was "do not modify the templates", so, at the moment, the digest is:

Mail Title: Tip (Number of Tip), File (number of file), Comment (number of comment)
Mail Content:

The Title of original mail 1
---------------
Content mail 1
===============================
The Title of original mail 2
---------------
Content mail 2
===============================

At the moment, the encrypted template

[2015-03-05 02:35] vecna commented on #798
but I see your point, skip notification is not a big deal when a certain flood is detected. just the user has to be noticed that "10k notification for you has been suppressed in the latest two hours".

[2015-03-05 02:38] vecna commented on #1181
we can add a strings in /etc/defaults/globaleaks called "ip address where local server is checked if you enable the option above: 127.0.0.1"
and the option above is:
"enable local mailserver: [some option ?]"

[2015-03-06 09:19] #1116 closed

[2015-03-06 16:39] evilaliv3 commented on #1148
i've talked with various RTL peopple and they agree that numbers are always readed in LTR also by RTL speakers so that this ticket should not be reopended.

i will take care of it. it's not simply needed to revert the ticket cause also in the initial implementation things where working wrong.

[2015-03-08 08:42] #1182 closed

[2015-03-08 08:43] evilaliv3 commented on #1150
implemented and integrated in devel since various time.

[2015-03-08 08:43] #1150 closed

[2015-03-08 09:33] evilaliv3 commented on #1148
fixed!

[2015-03-08 09:33] #1148 closed

[2015-03-08 09:34] evilaliv3 commented on #297
i've still to review and integrate this. i'm moving the issue to the march milestone and taking care of this in the next days.

[2015-03-08 09:38] evilaliv3 commented on #1108
i'm going to add the support for this ticket in the devel branch and to integrate the code in a new branch called feature/end-2-end-encryption.

[2015-03-08 09:41] evilaliv3 commented on #1067
this ticket is currently addressed as as custom fix for the amnesty branch.
moving this ticket to next milestone and i will discuss it in the next devs call asking for feedback.

[2015-03-08 10:02] evilaliv3 commented on #1095
mmm @vecna your fix is correct but applied to a different piece of code. i'm going to fix it in devel branch globally.

and in general also please do not put fix like this in branches that are totally unrelated. better if you simply apply the fix directly in devel branch.

[2015-03-08 17:29] evilaliv3 commented on #1187
as short term fix i'm going to make possible to to disable it simply by CSS and to add the variable in order to disable it this will be released in few days releasing a new stable version (current master) with only the translations by the localization lab)

then  i will integrate the long term fix with possibility for configuration thjat will pushed out in some weeks after various integration acti

[2015-03-08 17:31] evilaliv3 commented on #1186
@fpietrosanti can you provide also your feedback with what you would like to see there?

[2015-03-09 13:22] origliante commented on #1181
I'm adding security = 'disabled' as an option to sendmail() to my fork, it would make local smtp usage easier to configure

[2015-03-09 13:35] evilaliv3 commented on #1181
mmm @origliante security as variable name here does not have a clear meaning.
using a local sendmail account does not mean that the local sendmail cannot be torified (e.g. being launched with "torify sendmail").

so i think that simply we should have a setting: "torify mail notifications" with a default True and a warning on the case the user chose to disable it that should say: "Warning: This way

[2015-03-09 13:44] origliante commented on #1181
Sorry I try to clear it up. There are two variables, one controlling the use of tor socks vs tcp4:
GLSetting.tor_socks_enable

And another one controlling the use of SSL/TLS:
security=GLSetting.memory_copy.notif_security

What can be done to make it simpler to use a local SMTP is to:
1) add another GLSetting variable about using tor for notifications
2) add a security='disabled' state to tell send

[2015-03-09 14:43] fpietrosanti commented on #1181
Please consider that network sandboxing with automatic iptables tor redirection will prevent all those modifications from working, unless we modify the way sandboxing is applied by having a special exception for 127.0.0.0/8 network.

[2015-03-09 15:19] evilaliv3 commented on #1181
yep sure @fpietrosanti, and we already discussed the possible idea of removing this things from the init script and doing them from the daemon in order to make possible controlling them at runtimem by configuration. but let's do not think to them right now.

@origliante: for 2) i'm a little critig. people will end using unencrypted smtp servers for local networks and eventually also for remote one

[2015-03-09 15:29] fpietrosanti commented on #1181
@evilaliv3 we need to do it anyway, just now, if we want to allow globaleaks to talk to 127.0.0.1 without disabling NETWORK_SANDBOXING

[2015-03-09 17:09] fpietrosanti opened #1188 "Provide statistics on how many whistleblowing login back on submission with a receipt"
This ticket is to collect, elaborate and publish statistics on how many whistleblowing login back on submission with a receipt.

Collecting this specific data is very relevant to assess the effectiveness of the current receipt system.

This ticket it to:
- define the data to be collected
- define the raw output format (open-data like)
- define privacy concern (what kind of data must be aggregated)

[2015-03-10 12:03] fpietrosanti opened #1189 "GlobaLeaks does not work with Orweb from Mobile because Javascript is disabled"
GlobaLeaks does not work with Orweb from mobile because Javascript is disabled.

The user see the following error:
![nojs](https://cloud.githubusercontent.com/assets/770363/6574453/37c92232-c725-11e4-81fd-7284aa5928d6.jpg)

Once the user go in the Preferences and click "Enable Javascript" he will see the interface:
![yesjs](https://cloud.githubusercontent.com/assets/770363/6574490/d3f7a034-c725-11

[2015-03-10 12:09] fpietrosanti commented on #1189
@n8fr8 we have this problem with Orweb, is it possible to detect client-side that a user is running Orweb with Javascript disabled?

[2015-03-10 14:09] fpietrosanti commented on #1189
Below settings with JS disabled by default:
![js-disabled](https://cloud.githubusercontent.com/assets/770363/6576410/531474c6-c737-11e4-9b4a-9735539f7b23.jpg)

Below settings with JS manually enabled:
![js-enabled](https://cloud.githubusercontent.com/assets/770363/6576415/5b632398-c737-11e4-81da-1c6a8a2c15a5.jpg)

With the previously uploaded screenshots we can improve the default page explaining

[2015-03-10 16:03] evilaliv3 opened #1190 "Authentication improvement: Prevent cleartext passwords being sent to server"
It would be interesting (and important) to improve the authentication mechanism implemented by globaleaks by preventing cleartext password being sent to the server.

***n.b.*** this idea does not replace password hashing+salting on serverside, but simply want to avoid that the server knows the cleartext password (possible reused by the user so making the server itself not in possibility to stole r

[2015-03-11 08:29] evilaliv3 commented on #1190
the approach followed to address this ticket could be probably the same of https://github.com/globaleaks/GlobaLeaks/issues/1176

siimply the password used by the user will be password = scrypt(possibly_reused_password)

[2015-03-12 18:28] n8fr8 commented on #1189
I like the guide you have created. That said, I am not sure what you are specifically asking us to do with Orweb?

Otherwise, we are working away on getting Orfox/TB "Mini" out, so that will be the new preferred browser for people to use.

[2015-03-13 08:23] fpietrosanti commented on #1189
@n8fr8 It's a question: There's a way to fingerprint a user coming from Orweb, that have Javascript disabled by default, in order to provide visual instructions on how to enable it?

Because we got feedback from LeMonde in France that users complain that GlobaLeaks does not work with "Orweb" (Because Javascript is disabled), so we'd love to provide visual instructions on how to enable it. But to d

[2015-03-13 09:39] fpietrosanti commented on #1190
Hi all,

that's the suggested scrypt implementation to be used within GlobaLeaks from the Cryptography mailing list.

-------- Forwarded Message --------
Subject: 	Re: [cryptography] Javascript Password Hashing: Scrypt with WebCrypto API?
Date: 	Wed, 11 Mar 2015 18:01:21 +0300
From: 	Solar Designer <solar@openwall.com>
To: 	Alfonso De Gregorio <alfonso.degregorio@gmail.com>
CC: 	Fabio Pietrosanti

[2015-03-13 10:54] evilaliv3 opened #1191 "Add the possibility to enable/disable post submission file uploads on the Tip pages"
It has been requested by an adopter to have the possibility to enable/disable post submission file uploads allow receivers to swich them on/off depending on the submission field answers.

What is currently missing is:
- the possibility to configure the context with: "Enable post submission uploads": On/Off";
- the possibility for the receiver to switch the submission instance value of this configu

[2015-03-13 11:22] evilaliv3 opened #1192 "Languages selector should be internationalized"
It has been suggested by translators and UI experts that also languages names should be internationalized so that depending on the user selected language also the language selector is understandable by the user.

e.g. for me that i'm italian, the "English" selector should appear "Inglese".

This would require extracting languages names and pushing them on transifex.

<bountysource-plugin>
---
Want

[2015-03-13 11:26] fpietrosanti commented on #1192
I'd suggest to evaluate if there is some library/archive that already do provide that feature (ie: name of languages in most of world languages), without a translator having to work over it.

[2015-03-13 11:32] evilaliv3 commented on #1192
it was already evaluated by me and that does not exist.

few libraries exists and not complete and in addition our translations are tightly mapped ont transifex names, and it's totally impossible that some library uses exactly the same names as starting point.

i will interact with the transifex developers in order to offer such a feature in general and share this translators effort on all the tra

[2015-03-13 11:37] fpietrosanti commented on #1192
Consider also asking this to OTF's mailing list, as a shared deliverable that many OTF projects will benefit from

[2015-03-13 12:24] evilaliv3 opened #1193 "Tips preview lacks of clear Comments/Messages counter indication"
Since the refactor related to https://github.com/globaleaks/GlobaLeaks/issues/1015 the Tip preview interface for the receiver is not providing good information for the user in relation to Comments/Messages counter.

Currently there is simply a counter called Comments. We should add a Messages counter with the private messages count.

I suggest to continue to call them Comments and Messages at leas

[2015-03-13 12:25] evilaliv3 commented on #1193
![unnamed](https://cloud.githubusercontent.com/assets/217034/6638248/49eba4ec-c984-11e4-9a0c-c3d2f924fc06.png)

this is the current status.

[2015-03-13 13:02] fpietrosanti commented on #1193
good

[2015-03-13 14:13] eighthave commented on #1192
I think the best way to handle the names of the languages is to keep in their native language only, and never translate them into any language (including English).

To take your Italian example, if you are reading the Italian text and you don't understand what Ελληνικά means, then that language option is not going to be useful for you.  But if you only speak Ελληνικά, then it is going to be a lot

[2015-03-13 14:18] eighthave commented on #1192
As for getting the names of languages in the native language, you can get them directly from Java/Android:

https://github.com/guardianproject/ChatSecureAndroid/blob/master/src/info/guardianproject/util/Languages.java

[2015-03-13 16:35] evilaliv3 commented on #1192
thank you @eighthave
your suggestion is gret.

the only problem in using simply the java mapping is that it do not offer a mapping for "Portugese (Brazil)" / "Portuguese (Spanish)" etc, e.g., how did you manage to create "español (España)" ?

it would be interesting to ask Transifex to export an API that export {lang_code, lang_name, native_lang_name} for each of the lang_code, so that all Transif

[2015-03-13 17:04] eighthave commented on #1192
Using the same approach, you can break the language code into its two parts, then query the system for the country name too.  I.e. `pt_BR`, then query for `pt` language name and `BR` country name.

[2015-03-13 17:14] eighthave commented on #1192
One thing to consider is whether you want to show the user all of the country variants.  The only case where the country variant makes the language very different is simplified vs traditional chinese (i.e. `zh_CN` vs the other `zh` variants like `zh_TW`).  For the rest, I think people will be able to understand it fine, but it'll just be a bit off.  We only use these language names when the user i

[2015-03-13 17:15] eighthave commented on #1192
Here are two examples of how we use it:
![language-chooser-chatsecure](https://cloud.githubusercontent.com/assets/143465/6643497/0573509a-c983-11e4-8770-2e604c069e15.png)
![language-chooser-courier](https://cloud.githubusercontent.com/assets/143465/6643498/057ad3ba-c983-11e4-8dd3-2a97dfbaf9ef.png)

[2015-03-13 20:18] infosquatter opened #1194 "Email notification"
I've been noticing since a long time some failures with the email notifications. In some cases I thought it was the email server, and maybe it is, but after having different nodes experiencing the same issues using different email servers, I'm sending this issue. Email notifications have been performing 3 different behaviors in what seems to  be in a random standard:
a) Arrive normally
b) Arrive w

[2015-03-13 20:19] infosquatter opened #1195 "Failure uploading .jpg"
In Mexicoleaks partner reported that .jpg files arrive with 1kb size and, obviously, in blank once downloaded and open. Partners say it happened with more than 1 submission tip.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9531663-failure-uploading-jpg?utm_campaign=plugin&utm_content=tracker%2F316378&utm_medium=issues&utm_source=g

[2015-03-13 20:25] infosquatter opened #1196 "Multiple hidden receivers for a single main receiver"
Knowing about the implementation of the hidden receiver, I would like to suggest to allow multiple hidden receivers for a single receiver. It will be extremely helpful for big/middle newsroom which have more than 1 journalist responsible for the submission reception and in other cases where nodes will have 1 receiver in the front but multiple in the back (Filtrala for example). Also, in the future

[2015-03-13 20:28] infosquatter opened #1197 "Issue adding PGP public key to receiver"
After a receiver was added to a context with multiple receivers and was the only receiver lacking a public pgp key attached, while attaching the key to this receiver the secure notification did not changed and receiver continued not able to receive submissions. Solution was to delete receiver from the context and add it again.

[2015-03-14 02:26] evilaliv3 commented on #1195
@fpietrosanti do you remember? it happened one time to lemonde. but we were not able to reproduce it. i will test it a bit. the thing is really strange as both reportts that the jpg is a valid one.

@infosquatter. are you able to reproduce it now?

[2015-03-14 02:28] evilaliv3 commented on #1194
the delay is ok as it part of a different approach of the mail scheduling implemented by @vecna.

i will do some tests verifying if it is real that c) sometimes may happen.

[2015-03-14 02:30] evilaliv3 commented on #1197
i will try to reproduce this tomorrow morning and see if i'm able to reproduce it and eventually fix it.

[2015-03-14 02:33] evilaliv3 commented on #1196
@infosquatter can you better clarify this issue?
you want two emails to be associated to the same receiver? this is against our ideas in general and in general we are against shared accounts for the same group.

what is the problem in having two hidden receivers on filtrala for example?

[2015-03-14 07:14] fpietrosanti commented on #1195
@infosquatter Please share the jpg file with which it's possible to reproduce the issue to facilitate the dev team to work on it, fixing it

[2015-03-14 07:15] fpietrosanti commented on #1194
@infosquatter Can you tell us which email server are you using? Because we found out that email sending "behind tor" revealed to be a bit problematic sometime

[2015-03-14 08:41] fpietrosanti commented on #1194
Applied label MexicoLeaks

[2015-03-14 08:42] fpietrosanti commented on #1196
Applied label MexicoLeaks

[2015-03-14 08:42] fpietrosanti commented on #1197
Applied label MexicoLeaks

[2015-03-14 10:27] evilaliv3 commented on #1197
this issue has been verified also by @origliant while developing end2end.

The issue existsed only on receiver side due to the fact that the update to the receiver settings didnt invalidate the /receivers API cache.

[2015-03-14 10:27] #1197 closed

[2015-03-14 15:10] evilaliv3 commented on #1183
With this commit i've added the possibility to disable the torification of the mailing system.

Obviously to make this working also the network_sandboxing should be modified or by allowing ip addresses of the smtp server or by completely disabling it.

right now all can be done by the /etc/defaults/globaleaks script.

what is still missing if the possibility to disable it directly by the client ad

[2015-03-14 15:13] evilaliv3 commented on #214
i've integrated various code implemented by @origliante on his private repository.

Now the debugging information is a little more rich (it's now more clear at which level smtp/ssl/socks/tcp level the errors is happening) but we still mis precise information about common errors.

[2015-03-14 15:13] evilaliv3 commented on #547
this should be now handled thanks to various fixes by @origliante.

[2015-03-14 15:14] #547 closed

[2015-03-14 15:16] evilaliv3 commented on #190
@origliante, with this commit https://github.com/globaleaks/GlobaLeaks/commit/7e93f4732618ebaacd7398e90f992410f723ad2c i've integrated the code you proposed for this issue.

to be precise this ticket is currently not addressed at all. we sill miss completely an unit testing of such a feaure. pleease notice the commit message i've written where with a small sentence i've tried to better qualify wha

[2015-03-14 18:07] fpietrosanti opened #1198 "Anomaly Detection email are not "useful" or "actionable""
Nowdays admin can receive Anomaly Detection email like:
admin@XXXXXXX.i1i105GBnsparency.i1i0ncy.i1i105GBnsparency.i1isuccessful_logins: 5
rency.i1i105GBnsparency.i1i0ncy.i1i105GBnsparency.i1it

Those email have a set of bugs:
- Are badly formatted/unreadable
- Are not useful at all or are not "actionable"
- Does not introduce/describe what are used for

For the following reason the anomaly detecti

[2015-03-14 23:55] evilaliv3 commented on #1198
@fpietrosanti you totally misunderstood the issue here.

the format of the email is clear and complete: https://github.com/globaleaks/GlobaLeaks/blob/master/client/app/data/txt/admin_anomaly_template.txt

what is happening is simply that there is a bug in the templating thing that make probably happen some cylick replacement that ends in fucking all the resulting email.

[2015-03-14 23:57] evilaliv3 commented on #1198
for sure the information provided can be better, but what is causing "admin@XXXXXXX.i1i105GBnsparency.i1i0ncy.i1i105GBnsparency.i1isuccessful_logins: 5
rency.i1i105GBnsparency.i1i0ncy.i1i105GBnsparency.i1it" is not a wrong template in the intention of the author but a bug that lies somewhere in the templating system

[2015-03-15 08:02] fpietrosanti commented on #1198
@evilaliv3 sure, one of the problem is the template, but i don't see the anomaly detection email nor useful nor actionable, that's where i mostly see the bug

[2015-03-15 18:10] fpietrosanti opened #1199 "GlobaLeaks does not output any error messages from init script's log_action_end_msg()"
It has been detected by an adopter that GlobaLeaks does not output any error messages from init script's log_action_end_msg() .

This problem has been detected on Debian:
root@globaLeaksXXX:/etc/init.d# uname -a
Linux globaLeaksXXX 2.6.32-20-pve #1 SMP Wed May 15 08:23:27 CEST 2013 i686 i686 i386 GNU/Linux
root@globaLeaksXXX:/etc/init.d# cat /etc/debian_version
wheezy/sid

Please note that this bu

[2015-03-16 10:34] evilaliv3 commented on #921
all the code related to this feature has been reviewd by me and integrated in devel branch. will be shipped in next release.

[2015-03-16 10:37] fpietrosanti commented on #921
Is it configurable the amount of days to be alerted before the expiry?

[2015-03-16 12:33] evilaliv3 commented on #921
you are right, this is missing.

do we wanna offer this configuration possibilities per user or at server level?
i'm starting thiking that in general as for a lot of settings like this a global configuration variable is enough.

[2015-03-16 13:14] fpietrosanti commented on #921
Default server-wide (globaleaks)
Receiver can override it

[2015-03-16 15:17] infosquatter commented on #1195
I tried,  but I could not reproduce it.

Giovanni Pellerano:

[2015-03-16 15:18] infosquatter commented on #1195
I dont have the access to the file. Will try to ask it.

Fabio (naif) Pietrosanti:

--
PEDRO NOEL
- Editor
Associated Whistle-Blowing Press - https://awp.is
Chaussée d'Alsemberg 608A
1180 Uccle/Bruxelles - Belgique
GPG key: http://pgp.mit.edu/pks/lookup?op=get&search=0x72B725E1410034FB

[2015-03-16 15:19] infosquatter commented on #1194
It's the Greenhost one.

Fabio (naif) Pietrosanti:

--
PEDRO NOEL
- Editor
Associated Whistle-Blowing Press - https://awp.is
Chaussée d'Alsemberg 608A
1180 Uccle/Bruxelles - Belgique
GPG key: http://pgp.mit.edu/pks/lookup?op=get&search=0x72B725E1410034FB

[2015-03-16 15:23] infosquatter commented on #1196
I honestly think GL software should consider a "Receiver" as a group of
people, due to how newsrooms and journalism work itself.

example?

I dont understand your question, can you reformulate please?

Giovanni Pellerano:

[2015-03-16 16:13] fpietrosanti commented on #1196
@infosquatter So, let me try to summarize your request:

You would like to have a sort "Group Receiver", selectable by the Whistleblower on the submission interface, that when selected, send the submission to two or more than two "Individual Receivers".

The "Group Receiver" would represent the media (es: El Pais), that's selectable among others on the submission interface, while the "Individual R

[2015-03-16 16:23] fpietrosanti opened #1200 "Collect and visualize statistics on email notifications to enable self-diagnostics of problems"
This ticket is to collect and visualize statistics on email notification flow, as a way to detect and diagnose email notification problems.

Today the notifications are not under the control of the admin, that can't know:
- How many notifications has been scheduled
- How many notifications has been sent
- How many notifications has been re-sent due to errors (retry)
- How many notifications attemp

[2015-03-16 16:58] infosquatter commented on #1196
That is it, exactly! Thanks!

Fabio (naif) Pietrosanti:

[2015-03-17 08:05] fpietrosanti opened #1201 "Enable tagging subject of Notifications with Context name (ALAC)"
This ticket is to enable tagging subject of Notifications with Context name.

This requirement comes from Transparency International Italy ALAC because they are going to host "multiple" initiatives on their ALAC platform (for anti-corruption of few public administration), so they need to differentiated inbound notifications emails, knowing to which context has been received.

Their preferred way o

[2015-03-17 08:09] fpietrosanti opened #1202 "Enable configuring Contexts that are "hidden" on the main submission interfaces"
This ticket is to enable configuring Context that are "hidden" on the main submission interfaces.

This requirement comes from Transparency International Italy ALAC because they are going to host "multiple" initiatives on their ALAC platform (for anti-corruption of few public administration), so they will have:
- their main ALAC's context https://alac.transparency.it that is the onlyy onew shown o

[2015-03-17 08:13] fpietrosanti opened #1203 "Enable customizing globaleaks graphical design of "embedded mode" on a context by context basis"
This ticket is to enable customizing globaleaks graphical design of "embedded mode" on a context by context basis.

This requirement comes from Transparency International Italy ALAC because they are going to host "multiple" initiatives on their ALAC platform (for anti-corruption of few public administration) and they will leverage the new "embedded" deployment support of GlobaLeaks, one for each P

[2015-03-17 08:39] evilaliv3 commented on #1203
concerning this topic i've some doubts and already a suggestion.
currently as specified this force the contexts that want to use the same layout to upload the same css, the same files and bla  bla; this represent a limiti the first step (setup) and in the mainainance (update in an aligned way of this)

what i suggest is to add a templateing system like common website framework offer and make possi

[2015-03-17 08:43] evilaliv3 commented on #1201
what do you mean for tagging?
already templates offer the possibility to configure the context name into the subject.

[2015-03-17 08:46] fpietrosanti commented on #1203
@evilaliv3 as i specified completely leave open to any implementation without technical constraint, it's only "functional specs" .

Please just consider that any customization must be doable from the admin interface.

[2015-03-17 08:47] fpietrosanti commented on #1201
If that's already doable, then it's probably only a matter of documenting it! Good! :)

[2015-03-17 10:03] evilaliv3 opened #1204 "Evaluate removal of max downloads of files"
As @vecna was suggesting it would be interesting to remove the max download file and the max access for the tips.

Now that all user accesses are tracked by a login the max download file and the max access file do not offer anything better that could not be managed by recognizing a patter of to much accesses to a resource.

Removing the max download file and the max access to tips we will solve is

[2015-03-17 10:07] evilaliv3 commented on #1156
@vecna / @fpietrosanti : i want you to think to this doubts of mine:

1) do we dant this label to be unique per Tip or multiple for each receiver Tip? the first solution has drawbacks in multi stakeolder initiatives like Publeaks. the latter has drawback in single cohesive small groups like IRPI/TI

2) do we want this label to be internationalizable? i think not it would be realle difficult to be

[2015-03-17 10:15] evilaliv3 opened #1205 "Evaluate the possiblity for mail templates simplifications"
Currently we offer a too much complex templating system for mails that are not used at all.

This ticket is to discuss the possible simplifications:
1) the configuration of mail titles both encrypted and unencrypted version is currently not needed as email subjects are in cleartest. what we want to do here?

2) in general currently we offer two customizations for encrypted/unencrypted mails. i sug

[2015-03-17 10:19] fpietrosanti commented on #1204
A unused feature is a dead feature & dead code, so imho we can trash it

[2015-03-17 10:30] fpietrosanti commented on #1156
1) I think that the request from TI of a label is "Per Receive on a single Tip" and it's something that the Receiver decide to type as a free-text when working on the Tip (e.g.:Giorgio decide that this tip is related to AppaltoXYZ and tag it as "AppaltoXYZ" or it's related to Comune di Rozzano, so he tag as "ComuneRozzano")

2) It's not internationalized because it's typed by the Receiver on the t

[2015-03-17 10:34] hellais commented on #1179
I have not used Twisted mail, but it seems pretty straightforward.

If you have some specific questions let me know.

[2015-03-17 10:35] hellais commented on #925
I think my above suggestion is still a viable option that is quite simple to implement and does not require external dependencies.

[2015-03-17 10:39] evilaliv3 commented on #1156
ok in case this is implemented per receiver i agree.

the issue is only if they want the label to be per Tip cause it will be a problem for multi stakeolder initiatives. for the moment so i modify the db so to accept a single per receiver and non internationalized "label".

[2015-03-17 10:41] evilaliv3 commented on #1179
great @hellais thanks.
it's origliante tnat probably will dig on this in a bit.

[2015-03-17 10:41] fpietrosanti commented on #1205
By having different templates for encrypted and unencrypted emails leave the possibility to implement functionalities such as "delivery of submissions over email" that once was available, but unspecified publicly. But given that this feature is not present anymore, if you want to simplify, we can have a single template. Then, in future, if/when we'll re-implement delivery of submission fields over

[2015-03-17 10:42] hellais commented on #984
This is an error being raised by `txsocksx` as the traceback indicates.

To properly handle this you should handle either all the `SOCKSError` subclasses (https://github.com/habnabit/txsocksx/blob/master/txsocksx/errors.py) or a subset of them and if it's a non permanent failure issue a retry.
As an example you can check out how we handle retries inside of ooniprobe for these sorts of cases: https

[2015-03-17 10:43] evilaliv3 commented on #925
you are right @hellais.

while implementing this we should keep in mind problems like: https://github.com/globaleaks/GlobaLeaks/issues/1189

[2015-03-17 10:44] evilaliv3 commented on #1205
no, i prefer to keep things that are in the roadmap. so i prefer to keep both templates. this solve my douby number 2)

what about number 1)?

[2015-03-17 10:45] hellais commented on #925
@evilaliv3 I don't think we should be investing time in supporting a browser that will soon be deprecated (OrWeb will be replaced by OrFox).

[2015-03-17 10:45] fpietrosanti commented on #1171
That's somehow related to #1140 of OCCRP

[2015-03-17 10:48] fpietrosanti commented on #1191
Which adopter?
Why a receiver want to change this behavior enabling/disabling file uploads?

[2015-03-17 10:49] evilaliv3 commented on #984
thank you @hellais.

@origliante can you take care also of this as part of your duties while working on notification failures debug improval (https://github.com/globaleaks/GlobaLeaks/issues/214) and notifications unit testing (https://github.com/globaleaks/GlobaLeaks/issues/190)?

[2015-03-17 10:52] fpietrosanti commented on #1205
@evilaliv3 is the two email will contain different stuff, it's reasonable to have different subjects

[2015-03-17 10:53] evilaliv3 commented on #925
i see and i agree. what we can do is in general to keep in mind this and find general solutions and design well written messagise and explainations of what is happening and how to point the user to solve his problem.

[2015-03-17 10:54] fpietrosanti commented on #214
@evilaliv3 linking the related ticket #1180 and #1200 that are related to the improvement of notification system w.t.r. to fault detection and diagnostics

[2015-03-17 10:56] evilaliv3 commented on #1191
cause they want to enable the whistleblower to submit material only when they have validated that the whistleblower has answered theyr question and the submission will be valid and circonstantiated.

this way they can avoid to forcefully validate videos/images wasting resources.

[2015-03-17 10:57] fpietrosanti commented on #925
@evilaliv3 Orbot is widely diffused and it's unlikely to go away in few months (maybe in 2 years?), btw sounds like a similar problem to provide better instructions for individual widely used browsers on how to enable JS.

[2015-03-17 11:04] evilaliv3 commented on #1205
i see, my doubt is the following and is related mostly to the internationalization overeaded that an adopter will face.

suppose the scenario of a multi language node with mixed receivers with both users with PGP and not-PGP. the adopter will have to configure and keep aligned two subjects (encrypted/unencrypted) for the same emalil type also if he has to do it for each language. the current imple

[2015-03-17 12:03] evilaliv3 commented on #1204
agreed! :) let's do it!

[2015-03-17 12:50] fpietrosanti commented on #1157
Thinking about it, i think that:
a) declaring whistleblower identity
b) providing an email/sms contact details

are not necessarily mutual, the choice could be different

[2015-03-17 15:32] evilaliv3 commented on #1094
the issue i was encountering has been fixed in bootstrap 3.3.4
https://github.com/twbs/bootstrap/blob/f5beebe726aa8c1810015d8c62931f4559b49664/less/modals.less#L65

i've retested it and extensively since a few and i'm now switching to it cause bootstrap-rtl is really more mature at this version; the 3.3.2 of bootstrap-rtl has few fix that still need to be done and will be ready in a few: https://g

[2015-03-17 20:16] evilaliv3 commented on #1204
removed!

[2015-03-17 20:16] #1204 closed

[2015-03-18 00:23] evilaliv3 commented on #1193
![screenshot from 2015-03-18 01 21 16](https://cloud.githubusercontent.com/assets/217034/6700351/2ec3152e-cd0d-11e4-81a7-2145d0564e9b.png)

implemented!
i've simplified the interface removing the column Info, and putting all inside the Preview column.
in addition the various infos like "Files", "Comments", "Private Messages" are shown only if the counter is > 0, this way the interface do not waste

[2015-03-18 00:24] #1193 closed

[2015-03-18 01:36] evilaliv3 commented on #1187
@fpietrosanti with this commit i've implemented the following:
1) the hint can now be disabled by the advanced settings with a setting "Disable key code hint panel"
2) the hint css is now customizable (hideable) by using css propery: KeyCodeHintBox

what is missing is the possibility to configure the tooltip entirely, thing that wont be addressed in the short term. so up to you if close this ticke

[2015-03-18 01:46] evilaliv3 commented on #1187
without hint:
![screenshot from 2015-03-18 02 21 14](https://cloud.githubusercontent.com/assets/217034/6701139/e2ee8c1c-cd18-11e4-93fd-1b0f07a951f7.png)

with hint:
![screenshot from 2015-03-18 02 21 33](https://cloud.githubusercontent.com/assets/217034/6701141/e77a8128-cd18-11e4-9075-954001c2b6fc.png)

[2015-03-18 08:42] fpietrosanti commented on #1199
It has been verified that the function log_action_end_msg  not providing output it's a matter of /etc/default/rcS settings VERBOSE=no by default.

We shall test if we can override this settings from within the init script

[2015-03-18 22:43] infosquatter opened #1206 "More useful stats"
So far the stats system has developed a lot, but far from the ideally useful. A practical feature that could  be improved/implemented:
- Information in numbers (so far info on tips, users, files, activity are shown on a list or in a color graphic only, what makes impossible to get real useful stats to build studies and use statistics)

It raises the issue regarding the power of surveillance an adm

[2015-03-18 22:55] evilaliv3 commented on #1206
thanks @infosquatter.

can you describe better your idea of god stats and what exact info you would like to have?
as you know currently stats are simply an instument for the admin to see that the node is working, but providing a non good anonymized stats make him in possibility to understand what happens, wen, to who, on each contexts.

all this things should be kept in mind so from our point of v

[2015-03-18 23:04] infosquatter commented on #1206
thanks @evilaliv3 . some examples:

number of tips - total/per-receiver/per-context/per-date/time
number of files uploaded - total/per-receiver/per-context/per-file-type/per-size/per-date/time

will add more, let me give a think.

[2015-03-20 17:29] evilaliv3 commented on #1167
@hellais i was trying to implement this but there are few issues to be solved and thought.

filepath is not the definitive solution to our problem.
what i intended to do was to use a file_proxy and then using the child() function on it so to be sure that the three of the files handled by GET/POSTS are at lease inside the working directory, and then inside a specific child directory (we have some l

[2015-03-20 18:46] calamarim opened #1207 "GL do not install again in Cubian (Wheezy)"
this is what I obtain, withour pressing a single key as answer

root@cloud-in-a-box-20:~# curl https://deb.globaleaks.org/install-globaleaks.sh | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  6564  100  6564    0     0   1165      0  0:00:05  0:00:05 --:--:-- 16369
bash: line 8

[2015-03-27 18:20] vecna commented on #1206
Assigned to myself.

[2015-03-27 18:23] vecna commented on #1206
Assigned to myself.

[2015-03-27 18:23] vecna commented on #1196
Renamed the title: is not an hidden receiver.

[2015-03-27 18:26] vecna commented on #1195
I guess is an heisenbug, propose to close this issue.
very likely, an instability on the Tor circuit.

@evilaliv3 we have in place a content-length check between the declared length in the file upload and the actual received size. so I guess in the upload phase is guarnatee.

[2015-03-27 18:32] vecna commented on #1207
Another user report the same bug. I'v esuggest to open he file and execute the commands manually.

[2015-03-27 19:42] evilaliv3 commented on #1195
i do not think an instability in the Tor circuit can cause it.

this issue has been reported twice. it happened also on SourceSure; receivers were able to open a correct image but all white. we should check if the jquery file uploader is the cause of the issue and if somewhere somebone had same issue.

[2015-03-29 16:49] evilaliv3 commented on #1207
@calamarim with latest commit the issue should be fixed.
we should avoid suggestin to do "curl antani.sh | bash" because "| bash" does not work with bash "read" directive.

so the new instruction to test (and install) are:

    curl https://raw.githubusercontent.com/globaleaks/GlobaLeaks/7d292f57e45ec1b1bfb6f85a0369222edd587553/scripts/install.sh
   chmod +x install.sh
   ./install.sh

could you p

[2015-03-29 16:59] evilaliv3 commented on #1187
i suggest that we close this issue and eventually postpone the full customization to a separated ticket that will be finally addressed while dealing of better customization possibilities after markdown/wysiwyg implementation.

[2015-03-29 16:59] #1187 closed

[2015-03-29 17:01] evilaliv3 commented on #1164
i've still to add the support for this in DB. i will be doing this before releasing the new package.

[2015-03-29 17:11] #1174 closed

[2015-03-29 17:15] evilaliv3 commented on #1149
@fpietrosanti i would suggest avoiding using checj.torproject.org in order to not make requests to the torproject that causes additional information leaks.

eventually the test can be performed using the tor2web domain name (and can be done only if the globaleaks server make use of a private tor2web instance). i suggest to close this ticket as part of this milestone and eventually describe in a di

[2015-03-29 17:15] #1149 closed

[2015-03-29 17:18] evilaliv3 commented on #1120
the problem seems solved with no issues since a few so that the ticket can be closed.

[2015-03-29 17:18] #1120 closed

[2015-03-29 17:19] evilaliv3 commented on #1096
all is integrated by me and the ticket can be closed.

[2015-03-29 17:19] #1096 closed

[2015-03-29 17:21] evilaliv3 commented on #474
all this things still need to be implemented as i removed them and should be readded in the future so this is currently a dead ticket.

[2015-03-29 18:36] fpietrosanti commented on #474
@evilaliv3 why closing a ticket that's still in the same condition? The missing validation is still there to be implemented

[2015-03-29 19:53] fpietrosanti commented on #1206
I suggest to first make all the data-requested a set of "data sets" that can be configured (the different view requested), to exported as CSV data, so that would be possible to analize data independently from other software, visualize in very different/way independent.

Please before implementing create a "Statistics" Documentation page in the Wiki at http://github.com/globaleaks/globaleaks/wiki w

[2015-03-29 20:40] calamarim commented on #1207
curl send the script to the terminal
so i redirected it to a file with the right name
but the script do not do anythyng

see the full story

root@cloud-in-a-box-20:~# curl https://raw.githubusercontent.com/globaleaks/GlobaLeaks/7d292f57e45ec1b1bfb6f85a0369222edd587553/scripts/install.sh > install.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2015-03-29 21:40] evilaliv3 commented on #1207
ah sorry @calamarim

can you retry now?

so the new instruction to test (and install) are:

    curl https://raw.githubusercontent.com/globaleaks/GlobaLeaks/eba10b952037df33c44af7cfa2c0777edd4790db/scripts/install.sh
    chmod +x install.sh
    ./install.sh

[2015-03-29 23:10] evilaliv3 commented on #474
and why you open ticket without understanding why they are closed?
currenly we do not have any of this: email, number, email, phonenumber field type so having a ticket that talks about their validation is like talking about eating now the food i will cook tomorrow. antani!

[2015-03-30 08:04] evilaliv3 opened #1208 "An admin should be able to require a mail notification for each notification event"
It has been requested by TI-it for the possibility for the admin to be able to require a mail notification for each notification event.

This would be needed in order to let the administrator control what is happening on the system by simply controlling the email notification and be sure that if a notification scattered onto the platform it's track is kept also in the email.

This is felt by the u

[2015-03-30 08:30] fpietrosanti commented on #1208
How notifications are going to change respect to that model (1 event = 1 notification) ?

[2015-03-30 08:41] evilaliv3 commented on #1208
not exactly.
globaleaks always apply a digest on the mail notification period, so that over the period all events are aggregated into a single email, but right now in case the user have seen the event info before the mail is sent, the related info is not written in any email.

with the patch i'm going to do instead every event info will be always present in a mail that can be a single mail (in cas

[2015-03-30 08:56] fpietrosanti opened #1209 "Remove "activities" page on receiver and make "Tips" the default on"
During the various demo done in Philippines we had really hard time to identify what's the usefulnes for the end-user of the "activities" page on the receiver.

The receiver user does not have any useful actionable information on the activities page other than a list of "unknown tip" with a set of events that he can click on.

I suggest to remove the activities page entirely, leaving the "Tips" pa

[2015-03-30 09:25] fpietrosanti opened #1210 "Improve visualization of "View Submission" in the Receipt page"
It has been reported by Amnesty that the "View Submission" link in the Receipt page show be bigger/better visible in order to provide a guidance for the next-action of the Whistleblower in accessing his tip.

Attached the screenshot related to the part of the interface to be improved:
![screen shot 2015-03-30 at 11 22 43 am](https://cloud.githubusercontent.com/assets/770363/6893695/4740ea42-d6cf-1

[2015-03-30 09:31] evilaliv3 commented on #1210
it should be simply bigger in the size of what? pleaase open more clear issues or they are unuseful to me and i will probably start closing them as bad defined. :P

[2015-03-30 09:33] fpietrosanti commented on #1210
@evilaliv3 what's not clear of the ticket? "bigger/better visible" leave autonomy to the way it could be implemented

[2015-03-30 09:34] evilaliv3 commented on #1209
if i may add my opinion i confirm that this page caused problems also to TransparencyTI.
i agree with @vecna in the concept but right now it is really really causing too much confusion to adopters.

for the next release i will remove the page and keep the text/translations memory and eventually we will re-add the feature when betterly studied.

[2015-03-30 09:38] fpietrosanti opened #1211 "Introduce access restrictions based on IP address"
Currently the only access control restriction for users in GlobaLeaks is based on access by:
- Tor
- Tor2web

While in the Philippines it has been identified that Access Restrictions for users should be improved introducing access based on IP Address/Netblocks.

In that use scenario the Receivers are lawyers of an anticorruption agency that work within an Intranet LAN. They can access the LAN with

[2015-03-30 09:49] fpietrosanti opened #1212 "It's possible to finalize a submission when a file upload is in progress"
It's possible to finalize a submission when a file upload is in progress.

I tested uploading multiple files in parallel (4-5), when the first one has been completed but others was still going in parallel, i was able to confirm the disclaimer on step-3 and to finalize a submission.

This ticket is to check that no file uploads are in progress when finalizing a submission.

[2015-03-30 09:50] fpietrosanti opened #1213 "Introduce ability for Receivers to modify the Submission fields, Steps and Description of a context"
While in the Philippines it has been requested that the Receivers shall be able to autonomously manage and maintain the questionaries related to a submission.

This ticket is to introduce the ability for a Receiver, part of a context, to edit autonomously the submission fields, steps and description of the context itself.

[2015-03-30 10:11] fpietrosanti opened #1214 "Improve the Receivers's related information on Tip page"
While in the Philippines we've been explaining and discussing each of the main GlobaLeaks features.

The Tip page today display a table with the Receiver Name, Receiver Description and an "Access Count".

Our intention was to provide to Whistleblower a Transparency of whenever the Receiver accessed his tip or not, but using just an "Access Count" parameter, is absolutely not clear for end-user.

T

[2015-03-30 12:09] origliante opened #1215 "Setup Wizard: backend e-mail regexp validation is different from client-side"
Inserting a@b.c in the admin e-mail field validates correctly, but the Submit button gives a REST error. Tested on current devel .63

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10221007-setup-wizard-backend-e-mail-regexp-validation-is-different-from-client-side?utm_campaign=plugin&utm_content=tracker%2F316378&utm_medium=issues&ut

[2015-03-30 12:11] origliante opened #1216 "Receivers client cache is not correctly updated if a new receiver is added until globaleaks is restarted"
Adding a receiver and subsequently trying to make a submission from the WB client to that receiver is impossible, the receiver is not in the list. Tested on current devel .63

[2015-03-30 12:39] evilaliv3 commented on #1215
@origliante please try to tag the issue when submitting it.

[2015-03-30 12:40] evilaliv3 commented on #1215
this is due to the fact that we use different regexps both on GLClient and on GLBackend side.
this will anyhow happen in the future also for other clients implementations / validations.

do you have any suggestion @fpietrosanti ?

[2015-03-30 12:43] evilaliv3 commented on #1216
i will investigate the issue because i was thinking to have solved it.

as suggested by @fpietrosanti then for the future it would be important to make every cached element subject to an expiration time so to solve issues of this kind with also a practical approach.

[2015-03-30 12:43] fpietrosanti commented on #1215
@evilaliv3 I think we will likely not have other clients implementations, other than GLClient used as a library, due to the increase complexity for the encryption.
The only could be an "unencrypted" frontend for dumb clients, but we may argue that we could do that based on GLClient ;P

[2015-03-30 13:21] fpietrosanti opened #1217 "When changing the tip expiry of a context, all the existing tips must be updated accordinly to the new setting"
It has been detected by WildLeaks that, when changing the Tip Expiry time on the context settings, all existing tip will maintain the old expiry time.

When changing the tip expiry of a context, all the existing tips must be updated accordingly to the new setting.

This ticket is to implement this fix.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2015-03-30 14:21] evilaliv3 commented on #1215
okay so for the moment let's simply keep track of this issue and of the need of aligning the regexps used in the two languages (python/javascript)

[2015-03-30 14:26] evilaliv3 commented on #1217
definitly not a bug but something still never thought about,

please describe betterly the issue and the feature request or next time i will start closing the issues.

currently when created a tip get a expiration date that is based on the current expiration time setting.
you are now asking that in case of change of a tip expiration all tips should see reset their expiration starting from the date

[2015-03-31 01:22] hellais opened #1218 "Bring air mattress, king size"
@origliante can you bring your king air mattress for the hackfest?

Thanks :love: :ninja: :cat:

[2015-03-31 01:23] evilaliv3 commented on #1212
should be fixed now.

@hellais can you retest it? can you plese see why on a large (long) file upload the loading bar is not visible annymore?

[2015-03-31 01:27] evilaliv3 commented on #1218
![air-mattress-sleeping-bag-design-inspiration-2](https://cloud.githubusercontent.com/assets/217034/6910616/cc4dc5f8-d755-11e4-8ce3-dfe0d02ce22d.jpg)

[2015-03-31 09:34] hellais commented on #1218
Mattress delivered :+1:

[2015-03-31 13:42] evilaliv3 commented on #1218
well done!

[2015-03-31 13:42] #1218 closed

[2015-03-31 13:57] vecna commented on #1209
Yeah totally, has not to be the default, I'll try the commit later to review.

[2015-03-31 14:18] fpietrosanti opened #1219 "Improve release procedures to be able to make "minor release""
This ticket is to improve release procedures to be able to make "minor release".

Today it's not possible to release a new version of GlobaLeaks that's based on a specific existing version, in order to apply very "chirurgical fix" .

The code on Github is "git tagged" for the releases and it's properly versioned.

The reason is that there are several dependencies that are dynamically downloaded by

[2015-03-31 21:43] hellais commented on #1212
This should now be closed.

[2015-03-31 21:43] #1212 closed

[2015-04-01 10:18] evilaliv3 commented on #1216
the issue has been fixed by me in current devel since march.
i've veried that @origiante was still using the mast branch.

[2015-04-01 10:18] #1216 closed

[2015-04-01 10:20] fpietrosanti opened #1223 "Integrate GlobaLeaks with Case Management System"
This ticket is to Integrate GlobaLeaks with Case Management System (CMS) being developed by Transparency International Philippines.

The general idea is to present to the Receiver a button "Open a Case" that will make the Submission Fields, Messages and Files to be uploaded to the CMS.

This ticket is to details and brainstorm the technical implementation requirements and constraints.

[2015-04-01 10:27] evilaliv3 commented on #1210
With previous commit i've improved the colors by replacing the link with a button, and putting the button on the left of the widget following the same design of the app as in other pages. this should help the user to recognize the button as a step button that allow him to proceeed.

![screenshot from 2015-04-01 12 19 28](https://cloud.githubusercontent.com/assets/217034/6939130/bf439c42-d869-11e4-

[2015-04-01 10:28] #1210 closed

[2015-04-01 10:34] evilaliv3 commented on #1207
the issue seems to be solved.

[2015-04-01 10:34] #1207 closed

[2015-04-01 11:02] evilaliv3 commented on #1070
the ticket has been addressed and simply has an usability improval issue to could be addressed.

i'm leaving this ticket open and simply remove the milestone label as the milestone goal has been addressed.

[2015-04-01 17:13] evilaliv3 commented on #932
this has been fixed by me since a few.

[2015-04-01 17:13] #932 closed

[2015-04-03 09:27] fpietrosanti opened #1224 "Loading the Tip list require a lot of time when there are many Tip"
It has been verified an important usability bug in GlobaLeaks, that force the Receiver to wait for 60-90 seconds to view the Tip List.

Each single interaction with the Tip list, including back and forward, do require the end-user (receiver) to wait for 60-90s for all the tips to be loaded.

The bug trigger on a system with a lot of Tips (maybe 50-60).

This ticket is to:
- Evaluate a quick workar

[2015-04-03 09:53] fpietrosanti commented on #444
re-opening the bug /cc @evilaliv3

[2015-04-03 09:54] fpietrosanti commented on #1208
Can we make it default behavior?

[2015-04-08 11:34] evilaliv3 commented on #888
this ticket is outdated and the receipt format is not configurable since various time.

[2015-04-08 11:34] #888 closed

[2015-04-08 22:00] evilaliv3 commented on #1106
This issue is now solved.
Now the implementation of this functionality is totally different from before:
1) the node offers a boolean "Show contexts in alphabetical order"
2) the context offers a boolean "Show receivers in alphabetical order"

this way is then the application that can show the elements in alphabetical order or human sorted order depenings on 1) and 2)

[2015-04-08 22:00] #1106 closed

[2015-04-09 15:23] evilaliv3 commented on #1224
i was investigating this before releasing 2.60.64 but with no success.

all seems related simply to sqlite performances, while simply retriving data from the database (in readonly).

two are the possible solutions to be investigated:
1) https://www.sqlite.org/wal.html
2) https://www.sqlite.org/lang_createindex.html

i've for now studied a little the 2) as SQLITE declares to not automatically gener

[2015-04-09 16:16] fpietrosanti commented on #1224
@evilaliv3 is it possible that's a GLClient bug elaborating the data rather than sqlite?

[2015-04-09 16:29] evilaliv3 commented on #1224
no, the delay is on the backend and it's related to sqlite data fetching.

[2015-04-09 16:55] evilaliv3 commented on #1208
done!

[2015-04-09 16:55] #1208 closed

[2015-04-09 16:55] evilaliv3 commented on #1209
done!

[2015-04-09 16:56] #1209 closed

[2015-04-09 16:56] evilaliv3 commented on #1164
done!

[2015-04-09 20:06] evilaliv3 commented on #1129
fixed in commit: https://github.com/globaleaks/GlobaLeaks/commit/ec0d273e122a68f4c139c936619df059802a9a34

delivered in release 2.60.64

[2015-04-09 20:06] #1129 closed

[2015-04-10 20:06] evilaliv3 opened #1226 "The PGP key for E2E could be generated in background while the user chose it's password"
Currently the PGP key used for E2E is generated when the user click on the password save button.

GlobaLeaks could optimize the process generating the key starting immediately from the moment the user logs in so that at that when the user click the password save button the application can simply encrypt the password with the scrypt secret generated starting from the password.

The same can be done

[2015-04-10 20:46] evilaliv3 commented on #1192
this has been investigated by me and i've quite implemented it.
moving the ticket to next milestone.

[2015-04-10 20:46] #1164 closed

[2015-04-10 20:48] evilaliv3 commented on #1153
closing this as superseaded by the ideas developed during the hackaton so that this ticket represent simply a mess.

[2015-04-10 20:48] #1153 closed

[2015-04-10 22:17] evilaliv3 commented on #957
@fpietrosanti  what do you think if we put this change in the next big release? (the end2end one) ?

[2015-04-10 22:27] evilaliv3 commented on #929
this ticket is now outdated for use and can be closed as we switched to the Flow.js library and we implemented its chunked transfer protocol directly in an application handler so that we do not need anymore cyclone edits for this.

[2015-04-10 22:27] #929 closed

[2015-04-10 22:29] evilaliv3 commented on #921
this has been forget from from the current release (2.60.65); i will move this to next milestone so that we will remember to add the support for this.

[2015-04-10 22:35] evilaliv3 commented on #930
this ticket is now related to Flow.js instead of jquery-file-uploader

the support for this has been implemented by @hellais in https://github.com/flowjs/flow.js/pull/82, the code will be tested in our development branch for end2end encryption and integrated as soon that the patch will be inserted in flow.js

[2015-04-10 22:49] evilaliv3 commented on #935
This is finally near the completion. moving this to the April milestone and me or @origliantre will take care of integrating the work performed by @hellais in the end2end branch.

[2015-04-11 08:38] evilaliv3 commented on #297
ok all the code currently written in relation to this ticket and ticket #872 is now integrated but need a little refinement.

currently we simply detect the various full disk situations and we notify the user.

the refinements i propose before closing the ticket:
  1 define good mail templates that are still missing
  2 disabling token assignment
  3 disabling file upload
  4 export the same simpl

[2015-04-11 08:40] evilaliv3 commented on #872
closing this ticket as the fix to this are aggregated in ticket 297

[2015-04-11 08:40] #872 closed

[2015-04-11 08:49] evilaliv3 commented on #800
ok this has been implemented by @vecna for the backend side and i've integrated it in the current release (2.60.64).

right now the submission slowdown is disabled (with a 0 delay setting) and in order to enable it we should first implement the clientside detection of the error and a proper handling.

to proceeed @fpietrosanti / @vecna now i've this doubt:
ok now we are able to delay the submissio

[2015-04-11 08:51] evilaliv3 commented on #797
@fpietrosanti in relation to the specification document i'm not remembering the exact action you suggested to imlement for this. what is the action performed by the application in order to rate limit the tip operations?

[2015-04-11 09:24] evilaliv3 commented on #796
this is currently included in master but disabled by me with an enforced 0 delay.

what is still missin to consider this ticket closed:
1) implement clientside UI support for the delay
2) implement the function that depending on the conditions of the system increase the start_validity_time of the token up to the maximum; for the moment we can implement a simple dummy dunction that will return alwa

[2015-04-11 09:35] evilaliv3 commented on #938
integrated but still to be finalized with some UI and actions. to be moved to April milestone.

[2015-04-11 09:44] evilaliv3 commented on #934
integrated but still to be finalized with some minor change in the API.

e.g. some variables of the token API declare to export seconds (_secs suffix) but then they export a date; it should be ok to export seconds as a number that the client will consider relative to the creation date exported in the token in UTC; this will reduce also the overhead of the backend that wont calculate two dates (sta

[2015-04-11 13:41] fpietrosanti commented on #797
@evilaliv3 The GLC and GLB both prevent making a hug amount of actions / time.
The GLC must not allow to send many comments or many messages or many "file upload actions" over a defined amount of time. The end-user, if exceed, shall be informed that he exceed the threshold Y/time and that he must wait X before trying again.

The GLB just prevent that, blocking those actions from happening, locking

[2015-04-11 13:57] fpietrosanti commented on #957
y, btw luckily this code will be removed once Tor 0.2.7 is released w/support for loading TorHS from Tor Control Port that TxTorCon already implement.
That way we'll be able to keep the TorHS descriptor stored in the sqlit database and fed dynamically to Tor process via TorCP, completely removing any TorHS-related filesystem interaction

[2015-04-11 14:07] fpietrosanti commented on #800
@evilaliv3 I think that only submission_close shall be tracked as operation regarding the timing measurement between user starting a submission a finalizing, because is the one that trigger backend operations/actions (tip creation, notifications, etc).

A "file upload" on a new submission does not trigger backend operations/actions itself and is "part of the submission process", so i don't think i

[2015-04-12 21:29] evilaliv3 opened #1227 "Texts for new E2E encryption interfaces should be defined and put under internationalization"
This ticket is to keep track of the work related to the study, definition and internationalization of the UI and texts for the E2E functionalities.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11005778-texts-for-new-e2e-encryption-interfaces-should-be-defined-and-put-under-internationalization?utm_campaign=plugin&utm_content=tracke

[2015-04-12 21:37] evilaliv3 commented on #1227
@fpietrosanti / @origliante: this work should be considered of high importance for this milestone so to be ready to push the new texts on transifex by the end of the April milestone and being ready to integrate all the work related to the D2.1 and D2.2.

when finished after a first review by @hellais i will take care of asking some of our current best translators and then i will push them on trans

[2015-04-12 21:40] evilaliv3 opened #1228 "Texts for new Flood Resiliency interfaces and mail notifications should be defined and put under internationalization"
This ticket is to keep track of the work related to the study, definition and internationalization of the UI and texts for the Flood resiliency functionalities.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11006328-texts-for-new-flood-resiliency-interfaces-and-mail-notifications-should-be-defined-and-put-under-internationalization

[2015-04-12 21:41] evilaliv3 commented on #1228
@fpietrosanti / @vecna: this work should be considered of high importance for this milestone so to be ready to push the new texts on transifex by the end of the April milestone and being ready to integrate all the work already implemented for the D8.

when finished after a first review by @hellais i will take care of asking some of our current best translators and then i will push them on transife

[2015-04-12 21:42] evilaliv3 commented on #1228
In relation to this please work directly on the following document: https://docs.google.com/a/evilaliv3.org/document/d/1_BrubzTbqOgCi4mNx-po5VYPZVRUV9MBzbj7DkO8Q_0/edit

[2015-04-12 21:43] evilaliv3 commented on #1227
In relation to this ticket please work directly on the following document: https://docs.google.com/document/d/1Jte37_70JIi8cWxxGbMRKNhHom7XvbKGi98QctnwrWg/edit

[2015-04-13 05:42] fpietrosanti commented on #1227
@evilaliv3 I think that, more than text, we shall talk about "interfaces", so doing this while implementing it, otherwise we will not be able to define it in advance?

[2015-04-13 06:04] fpietrosanti commented on #1036
don

[2015-04-13 06:04] #1036 closed

[2015-04-13 12:57] origliante commented on #233
@evilaliv3 is this closed with your fix of cache updates?

[2015-04-13 13:03] origliante commented on #470
@fpietrosanti outdated?

[2015-04-13 13:08] fpietrosanti commented on #470
@origliante dunno, ask @evilaliv3 as i lost myself in the ticketing status of e2e. If the Receiver can upload a public key from a file, then it's not outdated but it's implemented and, the related code commit, shall be linked to the tickt.

[2015-04-13 13:09] origliante commented on #685
@fpietrosanti partially outdated by end2end?

[2015-04-13 13:10] origliante commented on #681
@fpietrosanti outdated

[2015-04-13 13:12] origliante commented on #675
@fpietrosanti outdated

[2015-04-13 13:16] fpietrosanti commented on #681
@origliante Why is outdated?

[2015-04-13 13:17] fpietrosanti commented on #685
@origliante Why is outdated?

[2015-04-13 13:19] fpietrosanti commented on #675
@origliante why is outdated? An Hidden Key ID could still be useful when there is a Hidden Receiver for which you don't want to disclose his email address associated to the keyid

[2015-04-13 13:19] origliante commented on #792
@evilaliv3 is this closed in the latest release? is the client-side key generation code with drag and drop upload included?

[2015-04-13 13:23] origliante commented on #772
@fpietrosanti outdated

[2015-04-13 13:24] fpietrosanti commented on #772
@origliante why is outdated?

[2015-04-13 13:24] origliante commented on #860
@fpietrosanti will be outdated

[2015-04-13 13:25] origliante commented on #838
@fpietrosanti outdated

[2015-04-13 13:25] fpietrosanti commented on #860
@origliante why is outdated? PGP notification will still be used by notifications

[2015-04-13 13:26] fpietrosanti commented on #838
@origliante We are using last one, is not outdated, but a ticket to be closed.

[2015-04-13 13:26] #838 closed

[2015-04-13 13:54] origliante commented on #1190
this is implemented in the end2end with a pass of scrypt before the receiver's password change and before the login submit. @evilaliv3 I add this to the e2e todo

[2015-04-13 14:49] evilaliv3 commented on #233
no @origliante

on this topic the solutions is still completely to be designed/implemented.
- the long term solution i the one higlighted by hellais and involve the use of websockets or other protocols so that on an open connection the client is informed of the resources he need tu update so that whenever the server notify (push notification) that some resources need to be updated the client autom

[2015-04-13 14:56] evilaliv3 commented on #470
no this is not uoutdated at all. receivers will continue to need the possibility to load they PGP key for notifications (that is nothing related to end2end encryption).

[2015-04-13 15:10] evilaliv3 commented on #681
i do not see why this should be considered outdated without any comment.
by the way @fpietrosanti i do not see this useful in any scenario anymore.
in fact:
- end2end encryption will work in a transparent way and there is no need to export the public PGP key used for this
- the PGP key eventually exportable should be the one used for notifications; but why there is still the need to export it? exp

[2015-04-13 15:15] evilaliv3 commented on #792
no this is still not included in the devel branch but only in the feature/end2end.

[2015-04-13 15:25] evilaliv3 opened #1229 "Integrate pgpy in place of python-gnupg"
Given the switch from server encryption to client end2end encryption I would suggest to start switching from python-gnupg to pgpy.

This has been already tested by @origliante and would would straightforward with the following benefit:
- reduced attack surface for the application that due to python-gnupg currently allow the binary to access the sheel by means of a specific apparmor rule
- less dep

[2015-04-13 15:25] evilaliv3 commented on #1229
@fpietrosanti do you agree?

[2015-04-13 15:29] evilaliv3 commented on #860
from latest developments i would suggest to switch in direction of PGPy, https://github.com/globaleaks/GlobaLeaks/issues/1229

[2015-04-13 15:55] fpietrosanti commented on #1229
@evilaliv3 that's a duplicate of #860

[2015-04-13 16:30] evilaliv3 commented on #1229
somehow, let's say this one is the specific one if we go in direction of PGPy; by the way my questions was do you agree to proceed in this direction?

[2015-04-13 16:36] fpietrosanti commented on #1229
@evilaliv3 mmmm i'm not conformable in switching from GnuPG working in streaming to PGPy not working in streaming.
I suggest to wait till e2e will be in place, widely used, or to start integrating it only for notification purposes, to we can unroll an upgrade on existing deployments and see how it does behavE?

[2015-04-13 16:48] evilaliv3 commented on #1229
my suggestion is to go out with this together with the end2end implementation and i hope by that time that the streaming encryption will be in place also but for me it doesn't matter.

[2015-04-13 16:55] fpietrosanti commented on #1229
@evilaliv3 Then let's go for it, but we'll at least need to ask OTF to make an audit of such a library. If we are troll enough, i'd suggest also to make such a small library/wrappers around python-gnupg to use PGPy, to increase adoption. We shall try to avoid ending up in the same situation of Storm :P

[2015-04-14 18:28] evilaliv3 opened #1230 "Study how to minify webworkers inside the application"
In order to finally integrate our end-to-end encryption implementation we should need to use webworkers in order to perform various activities in browser threads.

common usages of webworkers seems to require the web worker to not be minified but to be available as separate javascript file.

this ticket is to investigate for the possibility to bundle our webworkers files as part of the minified sc

[2015-04-14 18:29] evilaliv3 commented on #1230
i've found this library that seems to be a good starting point: https://github.com/mattslocum/ng-webworker

it declares that the support for IE is still missing; i'm going to open a ticket on their repository in order to ask for suggestion.

[2015-04-14 18:32] evilaliv3 commented on #1230
this was an other probably outdated project on this topic: https://github.com/shama/workerify

[2015-04-14 19:46] evilaliv3 commented on #1230
from my research there is no need for using any external library but the good solution would be to implement this solution: http://stackoverflow.com/questions/10343913/how-to-create-a-web-worker-from-a-string

in practice for a lot of browser we will simply load the worker directly from the minified javascript file, while for IE10 we will have to load a separated javascript file that can contain s

[2015-04-14 22:14] evilaliv3 commented on #1230
moved to wishlist as this is not to be considered a priority and won't be simple to be solved in a cross-compatible fashion

[2015-04-14 22:17] origliante commented on #675
@fpietrosanti are u talking about notifications?
For e2e keys are generated so can contain "fake" or GL-specific IDs

[2015-04-15 12:28] evilaliv3 opened #1231 "Evaluate what material is still valid from old wikis, export it and than disable the old wikis"
While working with @origliante trying to define some good practices and workflows to be followed by developing and with which betterly organize ourself and the code i've found out that current wiki is missing some good information that was present in old wiki pages of globaleaks-0.1 or other repositories.

what is for sure missing is to integrat code style and guidelines that i'm currently not abl

[2015-04-15 13:01] evilaliv3 opened #1232 "Review of the Glossary of the application"
I've found that the Glossary link of the week seems to be pointing to wrong document.

This demonstrates that the glossary is really not considered since a lot of time so that probably it need to be reviewd and updated.

[2015-04-15 14:10] evilaliv3 commented on #1231
Ok i've reviewd the various old wiki and i've extracted the code style guidelines we written, i will manage to review and update them in the following days:

https://github.com/globaleaks/GlobaLeaks/wiki#software-development-guidelines

the following are the interesting but outdated sections that it would be interesting to restore with some priorities:
- technology selection: where to write about

[2015-04-15 15:40] evilaliv3 opened #1233 "Debug cookies detection malfuncion on third party integration using iframes."
While testing with @vecna the iframe integration on http://ytre.me/test.html we found that the cookies configug (enabled/disabled) seems to be not rightly detected.

the integration code used is:

    <html>
    <body>

    <h1>xx</h1>

    <div width="33%">
        <iframe width="100%" height="100%" frameborder="0" src="https://experiment.globaleaks.org/#/embedded/submission?lang=en">
        </i

[2015-04-15 15:53] evilaliv3 opened #1234 "The clientside redirect do not handle correct url redirection"
i've verified that while handling the clientside redirection to the HS for some urls the client does not perform correct URL redirection.

E.g. the redirection for https://experiment.globaleaks.org/#/embedded/submission?lang=en seems to redirect to http://imdk4xvljqsyjocv.onion/embedded/submission?lang=en ; what is missing is the hash character.

while accessing the /#/admin resource the redirect

[2015-04-15 16:47] fpietrosanti commented on #1232
@evilaliv3 glossary was pointing to the technical specs google docs, i re-setted it few weeks ago to the Wiki page of Glossary. I agree that Glossary (and Architectural document too) are heavily outdated

[2015-04-16 09:22] calamarim opened #1235 "Low flood detection threshold causes bad usability"
I connected with my unpublished GL site of  BBA via TB, that is for sure no flooded, but despite this

![screenshot from 2015-04-16 11 18 08](https://cloud.githubusercontent.com/assets/1076322/7177889/992c528e-e42a-11e4-9189-9f6a2e08e731.png)

the antiflood pose me a question
site  onion   4ulztymoocewpojo.onion
looks an important issue to me

[2015-04-16 09:41] calamarim opened #1236 "File uploader give no clue that user need to wait"
When submitting a tip containing a file, the file uploader icon is on the right and give no evident clue about the need to wait. The icin is on the righr, the message is small and
The user will probably close the page or do something other disruptive for the submission.
Moreover, when upload is finished, the icon changes but the massage telling to wait remains
![screenshot from 2015-04-16 11 34 37

[2015-04-16 10:23] hellais commented on #1224
I am not sure why I am mentioned in this ticket.

[2015-04-16 10:25] hellais commented on #930
I believe no further code needs to be implemented to support this.

To have an idea of how to implement the hooks specific for openpgp.js see: https://github.com/hellais/pgp-file-upload/blob/master/app/scripts/controllers/main.js#L48

[2015-04-16 10:26] hellais commented on #935
Let me know if you run into any difficulties and/or there are aspects of this you would like to discuss.

[2015-04-16 10:28] hellais commented on #1228
Note: we should put this sort of information (the texts) on some public venue so that also others (non Hermes/GlobaLeaks people) can review it also and not on some private google doc since it doesn't contain any confidential information...

[2015-04-16 10:29] hellais commented on #1228
When I finally open the google doc I see that it is empty.

If you give me a basic idea of what needs to be written/reviewed I can work on it.

[2015-04-16 10:33] hellais commented on #1227
I reviewed the 2 texts on those pages, suggesting an alternative.

[2015-04-16 10:36] hellais commented on #681
I think it would be useful for these usecases to support exporting the receiver public key (I think that is what we are talking about, but the ticket is not specific in that regard):

* Leak directory can do web of trust visualisations based on the keys fetched from nodes

* The whistleblower or others can use the node to obtain the key of receivers and send them emails

* I believe this is requir

[2015-04-16 10:38] hellais commented on #1230
I also did a brief study and this is going to be quite a PITA to do.

We should do some benchmarks and figure out how the current e2e crypto implementation performs and if we can do without webworkers in the first release or not

[2015-04-16 10:42] hellais commented on #675
@origliante it is not sufficient to just comment saying "outdated" you need to argument your claim with at least 2 sentences.

That said I also think it's not a good feature to have inside of GlobaLeaks since we are anyways disclosing the network of receivers. Having hidden receivers goes against the principles of GlobaLeaks. If you are receiving the information you need to have an identity associ

[2015-04-16 10:44] hellais commented on #1236
If you see a tick that means that they have completed to upload.

When they are being uploaded you should see a progress bar instead of a tick.

@calamarim Is that not the case?

[2015-04-16 10:45] hellais commented on #1235
This does indeed seem like a bug: @vecna any idea what is going on?

@calamarim can you look inside of the admin interface at the statistics tab and check to see if there are some anomalies detected?

[2015-04-16 11:03] hellais commented on #1226
My only fear with doing this when we don't have webworkers is that the UI could be irresponsive while this is happening since there no real "background" without webworkers.

[2015-04-16 11:05] hellais commented on #797
My only comment on this is that we should do further long running stress testing/integration testing to ensure everything is working properly since some people seem to be reporting issues with the rate limiting feature.

[2015-04-16 11:06] hellais commented on #957
Note: It will take a while for 0.2.7 to be included inside of debian wheezy or jessie (just recently feature freezed)

[2015-04-16 11:08] hellais commented on #685
Yeah mlock is the correct solution to this matter, but it would require us to write a special python C based binding.

[2015-04-16 11:10] hellais commented on #1190
@origliante is the authentication scheme specified somewhere? I would be happy to take a look at it. I believe that the idea of having a challenge response mechanism based on public key based signing could be a valid option.

[2015-04-16 11:13] hellais commented on #860
I am a bit skeptical of switching over to a custom non audited PGP implementation. From the brief look at the code done some time ago ti seems solid, but it would be ideal to have some cryptographers audit it before doing the switch.

I would move this onto a later milestone than April 2015.

[2015-04-16 11:14] hellais commented on #1229
I don't think it's wise to do the switch **before** a proper security audit has been done.

[2015-04-16 11:20] hellais commented on #1231
I would suggest also defining some git related guidelines:

* What should be the base branch when submitting pull requests

* Naming for feature/bug/hotfix branches

* What it takes for a branch to land in devel

* What it takes for devel to land in master

Moreover the client dev guidelines should be copy and pasted into the document

[2015-04-16 11:23] hellais commented on #1231
I also don't agree with the proposed workflow with respect to packaging.

I would suggest to use instead semantically named tags that follow this sort of convention:

debian/$DEBIAN_RELEASE/$GL_VERSION

this is especially important since we are pushing to a git repository that supports overwriting history (you can do force push to a branch) and therefore it is possible for anybody with git commit

[2015-04-16 11:25] hellais commented on #1233
A quick search seems to indicate this is a problem with third party cookies being disabled: http://stackoverflow.com/questions/2117248/setting-cookie-in-iframe-different-domain.

Can you check to see if your browser has third party cookies disabled and if enabling them fixes the issue?

I realise this is no good and a workaround needs to be found.

[2015-04-16 11:27] hellais commented on #1234
This is probably due to a misuse of the angular.js `$location` module.

[2015-04-16 13:04] evilaliv3 commented on #1234
Yep I know thanks. I've fixed the bug and I will commit the code asap

[2015-04-16 13:07] evilaliv3 commented on #1233
I'm not sure the problem is this.

Try to open this URL in chromium and you will get the same result:
http://ytre.me/test.html

[2015-04-16 13:13] evilaliv3 commented on #1231
I see, now packaging scripts are out signing that is bad. Chanhinh would
cause some code duplication and more difficulties to analyze and maintain
changes that Is what @maker wanted to address with this design.

But I would agree with you and it simply the release project.

I've to evaluate if debuild command allow to specify where the debian
directory is

[2015-04-16 14:33] evilaliv3 commented on #1235
i will raise down the current threshold that seems too low and i will push out the fix in few days when finishing with other small bugfixing.

[2015-04-16 16:00] evilaliv3 commented on #860
i'm ok with this let's ask for feedback on the various crypto related mailing list and eventually a request to OTF in order to ask for this review; it would be of benefit for all the projects that would like to use a pure python implementation of PGP.

[2015-04-16 16:02] evilaliv3 commented on #1190
it's still not specified; the specification should be studied as addition to the application security document.

[2015-04-16 16:09] evilaliv3 commented on #1190
anyway @hellais what I want to address with this ticket is simply to have a mechanism that not make use in possibility to get the cleartext password choosen by the receiver;

i want simply to avoid that a node whould to be in possibility to reuse the password of the user to access other user services and this has been solved by our specification of having the client do:

    password_sent_to_serve

[2015-04-16 16:10] evilaliv3 commented on #1226
for sure this ticket should be implemented by using webworkers.

me and @origliante are already working on this.

[2015-04-16 16:28] hellais commented on #1190
Is this what you mean:

https://github.com/globaleaks/GlobaLeaks/blob/feature/end2end/client/app/scripts/e2e.js#L5

?

I believe some precautions still need to be taken when using the node salt (like it being of poor entropy or even being null).

Implementing what I propose above would be a matter of doing what is described in section "7.  Public Key Authentication Method: "publickey" of [RFC4252]

[2015-04-16 17:39] hellais commented on #652
Is this bug even still relevant?

@fpietrosanti @vecna @evilaliv3 ?

I think this can probably be closed.

[2015-04-16 17:40] hellais commented on #603
Is this still relevant?

[2015-04-16 17:41] hellais commented on #368
I think in general we should dedicate some time to restyling the whole website and app.

[2015-04-16 18:01] evilaliv3 commented on #603
i think so. let's keep this open a little and close when verified that what happens on this situation is somehow handled.

i will take care of this evalutation and eventually of marking improvements.

[2015-04-16 18:03] evilaliv3 commented on #652
this still need to be fixed.

there should be a validator function that should consider a multiselect with required option set valid only if at least one of the selection checkbox is marked.

[2015-04-16 18:20] evilaliv3 commented on #1190
wait, i'm not saying your proposal is not right, but its not relevant to this ticket that i consider closed by what we agreed during the hackaton that is what i written in the last comment.

fabio also suggested a different protocol that if i not remember wrong is more standard in relation to a web application than ssh that also if standard is more specific.

[2015-04-17 16:08] origliante commented on #1226
I'll push it to my repo in the next commit

[2015-04-18 17:09] cortesimone opened #1237 "typo in wiki/Installation-guide"
here https://github.com/globaleaks/GlobaLeaks/wiki/Installation-guide

there are supposedly 2 typos:
- curl instead of wget in apt-get install line
- the page is said to be "all rights reserved"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11454927-typo-in-wiki-installation-guide?utm_campaign=plugin&utm_content=tracker%2F316378&utm

[2015-04-19 06:34] evilaliv3 commented on #1237
thanks @cortesimone

I noticed the curl mention error while showing the page at the workshop! :)
in past we used curl; now that we use wget there is also no need to install it.

and great that you noticed that the globaleaks is said since ever all right reversed instead of reversed. :)

[2015-04-19 06:40] evilaliv3 commented on #1236
I agree that the interface could show more.

to do things better it would be interesting to integrate:
1) a loader bar for the single file upload (based on the chunck uploaded in respect to the total chunks)
2) if possible a global loading bar in relation to the (based on the chunck uploaded in respect to the total chunks)
3) Change the texts of the ui from "Uploading files..." to "Uploaded files"

[2015-04-19 06:46] evilaliv3 commented on #1237
ah no!
 obviously the reversed work was intentiuonally in the initially start of the project in order to clarify our vision on copyright (copyleft): https://en.wikipedia.org/wiki/All_rights_reversed

@fpietrosanti maybe we can write something totally different in the footer of the wiki?

in the meantime i've fixe the curl/wget issue

[2015-04-19 13:50] evilaliv3 commented on #1234
fixed!

[2015-04-19 13:50] #1234 closed

[2015-04-19 13:57] evilaliv3 commented on #1229
i agree, let's postpone this for a little and ask feedback by the crypto community and if agreed between various projects that having a native implementation of pgp in python would be useful eventually we could try to ask some shared funders to fund an audit.

[2015-04-20 15:29] evilaliv3 opened #1238 "New of file uploader implementation basad flowjs is missing the maximum filesize limit check"
New of file uploader implementation basad flowjs is missing the maximum filesize limit check.

[2015-04-20 15:43] evilaliv3 commented on #1238
As a specific feature is not defined in flowjs (https://github.com/flowjs/flow.js/issues/96), i'm now going to implement a check directly by GLClient by means of the "fileAdded(file, event)" callback of flow.js

[2015-04-21 10:37] fpietrosanti commented on #1229
I asked opinions about that here:
OpenPGP in Python: Security evaluations? http://lists.randombit.net/pipermail/cryptography/2015-April/007214.html

[2015-04-21 12:07] evilaliv3 opened #1239 "File upload description fields should be properly re-implemented"
Since the token addition implemented in relation to D8 a file uploads does not get any db-id until the submission is finalized.

this means that no db-id is usable as key reference between a submission field of kind file upload and the file itself so that the following action should be taken:
- short term fix: current code related to file upload fields (e.g. the descriptions by the user) should be

[2015-04-21 12:25] fpietrosanti commented on #1239
@evilaliv3 What if we assign a db-id to each file that get uploaded, as long as it start touching the disk? That could be also a way to detect in a cleaner way file upload that are orphaned directly from DB

[2015-04-21 12:47] evilaliv3 commented on #1239
@fpietrosanti this was, and this has been removed by the research of @vecna that was specificly oriented in reducing db accesses on this front.

[2015-04-21 12:51] fpietrosanti commented on #1239
@evilaliv3 Is this an issue, considering a flood protection threshold on the amount of new-file-upload that can happen over time?

[2015-04-21 14:14] fpietrosanti commented on #1237
@cortesimone @evilaliv3 Are there a problem in the "All rights reserved" clause? Is like in the source code with copyright statement of Hermes Center, where copyright attribution is a guarantee for the freedom of the AGPL licensing.

Maybe, being documentation, we could explicitly define a free license such as FDL or CC?

[2015-04-21 14:19] hellais commented on #1237
"All rights re**v**ersed", nice touch :+1:

[2015-04-21 14:23] cortesimone commented on #1237
do you see what I mean? :)

"reversed" is easily misunderstood/misread

[2015-04-21 14:37] hellais commented on #1237
I think adding (ↄ) to the end of that text should fix this.

[2015-04-21 14:53] hellais commented on #935
From talking on god aweful Skype with @evilaliv3 it appears that they have worked on integrating flow.js, but have not made progress on integrating flow.js + openpgp.js.

I shall hence look at this matter.

[2015-04-21 14:55] hellais opened #1240 "Implement end 2 end tests for GLClient"
We should implement end 2 end tests (the unittest type not the crypto one) for everything that is in:

https://github.com/globaleaks/GlobaLeaks/tree/feature/end2end/client/tests/glbackend/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11696206-implement-end-2-end-tests-for-glclient?utm_campaign=plugin&utm_content=tracker%2F316378&u

[2015-04-21 15:10] cortesimone commented on #1237
I know it is formally correct, and has been in use since 1985, but still, I think it is confusing.

[2015-04-21 15:15] hellais commented on #1237
@cortesimone confusion is fun, sometimes.

:confused:

[2015-04-21 15:23] cortesimone commented on #1237
It is totally up to you :stuck_out_tongue_winking_eye:

[2015-04-21 15:32] evilaliv3 commented on #1240
I would suggest to follow the following order for the test that would give a good coverage.

1) clean setup interface test
2) completion of the wizard
3) test on the data expected after the wizard
4) configuration by the admin
5) first login of the receiver, password change, generation of the end to end key and encryption with the password
6) submission by the whistleblower completing fields and l

[2015-04-21 15:49] evilaliv3 commented on #1239
i agree on your point that the token alone would limit the dos attack surface but:

1. since always a file is associated to a tip in order to have automatic cleanup in case a tip is deleted
2. now the tip is created only at tip finalization so that files can be saved and their id generarated only at the end
3. file are saved and the user would have to type file related infos (the description) befo

[2015-04-21 15:59] hellais commented on #1239
What about having a new token that is a file specific token that should be spent only for file uploads.

When you end creating the submission you will pass the file upload token(s) previously generated. We can have a scheduler or other time based system that will remove stale uploads that have not been touched in the last X hours and don't have an associated submission ID.

[2015-04-21 16:11] evilaliv3 commented on #1239
wait hellais you are missing the point.
no issue on cleanup exists but simply now that the token works completely in memory, on client side we have no id to associate fileupload fields (e.g. the description of files of amnesty) to the file (cause when fileupload fields are filled by the user no file id has been still associated)

line 190 of https://github.com/globaleaks/GlobaLeaks/blob/devel/clie

[2015-04-21 16:17] hellais commented on #1239
Yes I understand this, that is why I was suggesting a token based scheme that works like so:

POST /token/fileupload
{
file_id: XXXX
}

You use flow.js to upload to

/file/$FILE_ID

Then when you do the submission you send send:

POST /submission
{
file_ids: ["XXX"]
}

[2015-04-21 16:21] evilaliv3 commented on #1239
@hellais i perfectly understand your concept but it's not answering the issue exposed.
i'm also adding somehow the same mechanism. you have to clarify if you think this tocken should be something implemented only in memory and so based on a random (not unique) or on a db id (and so unique but with a regression with the implementation by vecna that tires to avoid db writes for each file upload)

[2015-04-21 16:31] hellais commented on #1239
Oh I see what you mean. Does it really matter? Why not put in the DB? How many writes are we even talking about?

I don't expect there to be a large enough number of writes (that is creation of files) to justify not keeping it in the database. Perhaps I am mistaken.

(For me a large number of write is more than 1k per second)

[2015-04-21 16:51] evilaliv3 commented on #1238
implemented.

[2015-04-21 17:11] evilaliv3 commented on #1238
@hellais: this feature specified by flowjs on fileAdded callback seems to not work at all.

from https://github.com/flowjs/flow.js:
    .fileAdded(file, event) This event is used for file validation. To reject this file return false. This event is also called before file is added to upload queue, this means that calling

i've implemented the callback that is correctly called but returning false do

[2015-04-21 17:19] evilaliv3 commented on #1238
ok instead of returning true, i've solved calling event.preventDefault(). probably the documentation of flowjs is not updated on this design choice.

[2015-04-21 22:45] #1238 closed

[2015-04-22 07:13] evilaliv3 opened #1241 "It should be possible to reset to default the fields of a context"
It has been requested by IRPI to have the possibility to reset fields of a context to default.

This would be useful for two reasons:
- i would allow a globaleaks setup to renew translations for all default fields instantiated into a context without having the need to remove the context (and generally a context cannot be deleted without loosing current fields.
- it would allow a context to reset f

[2015-04-22 07:47] fpietrosanti commented on #1241
It would also allow to "improve" the existing default field-set, as we improve it in globaleaks with default, well done questionnaires

[2015-04-22 08:15] evilaliv3 commented on #1241
yep. defaults are already updated by default but they apply only to new context.
while this feature is specifically to reset the steps/fields of a context to the default.

[2015-04-22 10:27] evilaliv3 commented on #1241
implemented.

[2015-04-22 10:27] #1241 closed

[2015-04-22 10:35] evilaliv3 commented on #1235
with previous commit i've relaxed the testing threshold of more than one order.
this would be enough to not cause problems on real users while testing the goodness of the implementation.

[2015-04-22 10:35] #1235 closed

[2015-04-22 10:37] evilaliv3 commented on #1229
ok waiting for the community discussion, i'm now moving the ticket to whishlist milestone.

[2015-04-22 11:21] infosquatter commented on #1195
We received more complains in this issue today. It happened with again in Mexicoleaks. Same blank .jpg.

[2015-04-22 11:25] infosquatter opened #1242 "Too many files, can't download"
It was reported in Mexicoleaks that a submission of 647 files can't be downloaded. Journalist say it was downloading for hours, but transference get stuck.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11769902-too-many-files-can-t-download?utm_campaign=plugin&utm_content=tracker%2F316378&utm_medium=issues&utm_source=github)** We a

[2015-04-22 12:02] evilaliv3 commented on #1242
i would say this is more a feature able to protect the receiver from been hijacked than a bug :)

anyway i will implement a unit test for this so to see the various problems on this side.

thanks @infosquatter

[2015-04-22 12:04] evilaliv3 commented on #1195
@infosquatter the code related to the file upload is now changed entirely in latest release and is now using flowjs instead of jquery-file-uploader.

i would suggest to schedule a backup of the /var/globaleaks and then update.

[2015-04-22 13:38] vecna commented on #1239
@hellais the whole point of the token refactor is avoid touching DB in write mode as much as possible. I guess the best way do to so, is sent the description along with the submission, and keep a trackers about "file-temporary-id-1" : "description 1", "file-temporary-id-2": "description 2", in submission backend, InternalFile get update accordingly.

[2015-04-22 14:29] vecna commented on #1233
I guess is the same problem, and Tor Browser by default keep them disabled. We've just to say that integration in iframe can be done only as part of the same domain, like OCCRP has done.

[2015-04-22 14:40] fpietrosanti commented on #1233
@vecna @evilaliv3 We can workaround this problem by detecting the iframe inclusion + cookie issue and, rather than prompting for a cookie error, provide a nice looking button "Blow the Whistle" that will fire the submission page within a browser-bar-less-window with something like
window.open('https://experiment.globaleaks.org/#/embedded/submission?lang=en&receiver=RECEIVERUID&context=CONTEXTUID',

[2015-04-22 14:49] evilaliv3 commented on #1233
yep i confirm. tested enabling and disabling third party cookies and the issue is exactly this.

@fpietrosanti how can we deal with this in relation to OCCRP partners?

my idea is to remove cookies entirely that currently are used only for the anti-csrf token.

this would solve two issues:

1. we would be able to say: we are not using cookies both to privacy+security reasons (reducing possbile att

[2015-04-22 14:51] fpietrosanti commented on #1233
@evilaliv3 Cookies are used as per https://docs.google.com/document/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U/pub in section "Session Management" that has ben audited

[2015-04-22 15:02] vecna commented on #1233
@evilaliv3 will be a huge thing remove that shit :) is easier just restrict the integration cases.

[2015-04-22 15:03] fpietrosanti commented on #1233
@vecna I'm against that kind of change because is part of a security requirement that we'v discussed a lot and has been audited.

[2015-04-22 15:09] vecna commented on #1233
@fpietrosanti yes, is the same thing I'm saying. will be an huge thing remove that shit = has not to be removed = is easier just restrict the integration cases.

we cannot get rid of the cookies, and by default cookies are treated (by Tor Browser, but also from other persons that configure their own browser), as a privacy issue. so cannot be solved like a software bug.

[2015-04-22 16:03] evilaliv3 commented on #1233
@fpietrosanti / @vecna / @hellais : the documentation is outdated and not maintained and we should overcome this.
what you are saying @fpietrosanti does not reflect the decision we took by tickets and by developmenet decision while trying to shutting down the Cookie.

@hellais first in February 2013 shutted down the usage of the authentication based on Cookie (https://github.com/globaleaks/GLBacke

[2015-04-22 16:08] evilaliv3 commented on #1233
and i would add that all the texts related to Session Management does not reflect the current implementation:

false:
    A Session will expire accordingly to a default user idling timeout:
    - whistleblower 10 hours
    - receiver 10 minutes
    - admin 3 minutes

false:
    The Session ID is generated randomly by the server and is 256bits long (hex encoded) and is generated via Crypto.Random.r

[2015-04-22 17:11] evilaliv3 opened #1243 "Session Management section of the Application Security spec should be updated"
While working on https://github.com/globaleaks/GlobaLeaks/issues/1233 we found that various of the documentation ralated to Session Management is outdated on the Application Security spec: https://docs.google.com/document/u/1/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U/pub

The documentation should be updated describing the currently implementation, that reflectes the suggestions provided in la

[2015-04-22 19:39] evilaliv3 opened #1244 "Submission UI in case of only one receiver available could be simplified"
While thinking to some adopters that have only one receiver available I found that it would be interesting to optimize the submission interface by showing a different graphic disposition and without providing the user any selection of the user but simply showing his name along with its photo and the description.

[2015-04-22 19:42] evilaliv3 commented on #1244
@vecna / @fpietrosanti: this would be interesting for example for the IJF use case and goes in the direction of providing the possibility for the single server  instance to be reused along multiple indepentent users.

it would be useful both when there is effectively only one receiver per context, or when the url enforce to show only one receiver.

[2015-04-22 20:28] evilaliv3 opened #1245 "Draggable area of Receivers / Context should be reduced for UX reasons"
It has been detected by @vecna while acting as an adopter that the fact that context and receivers cards are draggable from every point of the card is causing some usability issue.

in particular an user that wants to select with the mouse the UUID of the receiver (or context) is unable do that cause of the fact that by trying to select a text he will end in dragging the card.

This ticket deals w

[2015-04-23 06:12] fpietrosanti commented on #1244
I like it, make sense if the user want anyhow to show the receiver step. Please consider this in th contxt of #841

[2015-04-23 11:16] fpietrosanti opened #1246 "Introduce Error Reporting facility to improve remote diagnostic capabilities"
Currently GlobaLeaks dos not provide any way for an end-user interacting with the web interface to report that an problem happened.

When an end-user is interacting with a Tip or with a Submission interface he may feel that something bad happened and would like to report an error.

We shall provide a nice button that say "Report a Software Problem" where the end-user is asked to describe his probl

[2015-04-23 12:15] evilaliv3 commented on #1245
Ok with previous commit i've applied the following correction:
1) the draggable handle has been restricted to the title bar
2) the mouse cursor when passing on the draggable area has been changed properly using the 'move' cursor
3) the solution implemented have been applied also on fields that where not draggable at all. now they are and the interface is the same of context/receivers.

![screensho

[2015-04-23 12:17] #1245 closed

[2015-04-23 12:51] evilaliv3 opened #1247 "possible bug in messages migration or UI interface"
An adopter reported that he is not able to see some messages we received.

The issue may lie into a migration problem or into an UI issue ans should be investigated

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11867082-possible-bug-in-messages-migration-or-ui-interface?utm_campaign=plugin&utm_content=tracker%2F316378&utm_medium=is

[2015-04-23 17:28] origliante commented on #1240
@hellais continuing the work of @vecna I'm working on this:
https://github.com/origliante/GlobaLeaks/commit/506889d3c0270b498458245538d59fe25ce555d9

are you skilled on protractor?

[2015-04-24 08:03] evilaliv3 opened #1248 "Unhandled unicode exception while checking for file existance in BaseStaticFileHandler"
An Exception has been scattered by the ALAC setup in relation to the request by an user on a unicode file. it seems that when an user explicitly ask for a unicode the system fails in checking it's existance.

the full stack trace follows:

    UnicodeEncodeError Unicode encoding error.

    Traceback (most recent call last):

      File "/usr/local/lib/python2.7/dist-packages/cyclone/web.py", line

[2015-04-24 12:44] evilaliv3 opened #1249 "Evaluate removal of jquery"
In latest developement i've been able to remove any explicit use of jquery so that it would be interesting to evaluate it's removal as it represent 200kb of not used code.

we are currently using it for the following two things:
1) angularjs uses jquery if it finds it; instead if it not find it it uses a small implementation jqlite that they developed. i've not found any reference that clarify mee

[2015-04-24 12:44] evilaliv3 commented on #1249
most of my work on this topic is tracked by commit: https://github.com/globaleaks/GlobaLeaks/commit/fd33586af13239d561c513147e9f67ea7d0368e2

[2015-04-24 13:02] fpietrosanti commented on #1249
Which is the problem in having jquery?

I do not see performance issues

Sent from mobile

[2015-04-24 13:10] evilaliv3 commented on #1249
it's not a matter of having performance issues, it's a matter of including libraries not used at all and that wheight 200kb. i'm just questioning what is the reason to keep that?

[2015-04-24 13:15] evilaliv3 commented on #1249
anyway this is totally not a priority, just question.

[2015-04-26 11:45] evilaliv3 opened #1250 "Unhandled unicode exception on unhandled exception handler"
An Exception has been scattered by the ALAC setup in relation to ESMTP network error.

the full stack trace follows:

    Traceback (most recent call last):

      File "/usr/local/lib/python2.7/dist-packages/twisted/internet/base.py", line 824, in runUntilCurrent
        call.func(*call.args, **call.kw)

      File "/usr/local/lib/python2.7/dist-packages/twisted/protocols/policies.py", line 719,

[2015-04-26 11:49] evilaliv3 commented on #1250
the issue lies in a removed check that was present before https://github.com/globaleaks/GlobaLeaks/commit/7e93f4732618ebaacd7398e90f992410f723ad2c when i merged some code by @origliante.

i'm going to fix not readding the check but with a slightly simplified solution.

[2015-04-26 12:04] evilaliv3 commented on #1248
wrong reference in previous commit.

the issue is still to be investigated; going to do it now.

[2015-04-26 12:17] evilaliv3 commented on #1248
while debugging the issue i was able to scatter an other exception:

    TypeError Inappropriate argument type.

    Traceback (most recent call last):

      File "/home/evilaliv3/Devel/GlobaLeaks/backend/glenv/local/lib/python2.7/site-packages/Twisted-13.2.0-py2.7-linux-x86_64.egg/twisted/internet/posixbase.py", line 614, in _doReadOrWrite
        why = selectable.doRead()

      File "/home/evi

[2015-04-26 12:49] evilaliv3 commented on #1250
fixed.

[2015-04-26 12:49] #1250 closed

[2015-04-26 12:51] evilaliv3 commented on #1248
i've now restricted the chars set accepted by the API handlers so that a strong filter is now in place and is now preventing both the two issues reported in this ticket.

[2015-04-26 12:51] #1248 closed

[2015-04-26 12:53] fpietrosanti commented on #1248
@evilaliv3 Can this break file names being uploaded with chinese charset for example?

[2015-04-26 13:08] evilaliv3 commented on #1248
i've considered that and yes it make not possible to upload files with fancy names but only for what relates to themes/css/additional files.

whistleblowers whould still have the possibility to upload whatever they want

[2015-04-26 18:41] evilaliv3 commented on #1233
This issue is not solvable. We should simply document that the integration mode can work only when
1) tor2web acts revers proxy on the same domain of the app (like in OCCRP project)
2) the user has configured its browser to accept third parties cookies (this solution is not usable but anyway we can mention this issue in the doc

@fpietrosanti can you take care of this?

[2015-04-27 07:56] evilaliv3 opened #1251 "Comments and Messages templates does not include Tor2web url"
It has been reported by an TI-IT that Comments and Messages templates does not include Tor2web url.

that would be useful as it is for Tip mail notifications.

[2015-04-27 08:00] evilaliv3 opened #1252 "It should be possible to reset to default the mail notification templates"
It should be possible to reset to default the mail notification templates.

as for ticket https://github.com/globaleaks/GlobaLeaks/issues/1241, the reasons is that it would allow a globaleaks setup to renew translations for all default mail templates instantiated without having the need to manually change them.

[2015-04-27 08:01] evilaliv3 commented on #1252
This would result particularly important as an adopter would be able to apply new templates for each languages whenever default templates change as for https://github.com/globaleaks/GlobaLeaks/issues/1251

[2015-04-27 09:48] vecna commented on #1233
@evilaliv3  Issue not solvable because the cookies cannot get removed, or for which other reasons ?

point 1 = we've to specify that the costs in security exposure, is an attacker compromising the webserver and injecting javascript in to the same scope of globaleaks.

[2015-04-27 10:57] evilaliv3 commented on #1233
@vecna: we use cookies only for the anti-csrf protection that combine the usage of two different medias (cookies+headers); in order to be able to remove cookies we would need to study a different protection and get an audit of it, so it will take a lot of time.
let's think about this problem when starting the new pentest in order to provide pentester this question  and find a possible solution.

[2015-04-27 12:38] evilaliv3 opened #1253 "debian packaging scripts should be subject to code tagging/signing"
Currently all the code that is related to debian packaging is out of the code tagging/signing procedures followed during release procedures: https://github.com/globaleaks/GlobaLeaks/wiki/Release-Procedure

this has spotted by @hellais does not represent a good approach in the release/packaging of the app so.

This ticket deals with the code refactoring needed in order to reinclude all the /debian

[2015-04-27 12:45] evilaliv3 commented on #1253
I've moved all /debian material onto the devel branch.

The different control files needed for packaging on different debian distros are now tracked by:
- control.wheezy
- control.jessie
- control.precise
- control.trusty

the globaleaks.postinst has been unified including few logic for distro recognition using the same safe code of the install.sh script.

[2015-04-27 13:34] fpietrosanti commented on #1233
@evilaliv3 @vecna in the meantime we could detect the condition by using the integration method described at http://www.allannienhuis.com/archives/2013/11/03/blocked-3rd-party-session-cookies-in-iframes/ that require the user to click 1 button (that will open a new window on the iframed-window, store the first cookie, close the new window, reload the iframe that's now authorized for cookies)

[2015-04-30 05:23] fpietrosanti opened #1254 "Error installing GlobaLeaks on Ubuntu 14.04 "Depends: python-pip but it is not installable""
On Ubuntu Python 14.04 i got the error "Depends: python-pip but it is not installable" while installing GlobaLeaks.

The error is because the multiverse repo is missing:
https://forum.sourcefabric.org/discussion/11460/package-dependency-errors-on-1-8-2-install/p1

The fix, only on Ubuntu 14.04 and newer, is to add it with the following command line:
apt-add-repository multiverse && apt-get update

[2015-04-30 05:37] fpietrosanti opened #1255 "The word "Whistleblower" shall be changable/customable from the wbe admin interface"
It has been requested by an adopter that the word Whistleblower shall be customable, to gives other specific meaning to the person reporting a fact to GlobaLeaks.

Thsi ticket is to enable in the content settings to customize the word "Whistleblower" so that, in each interface, would be replaced with the new one.

[2015-04-30 06:55] fpietrosanti opened #1256 "Error in GlobaLeaks install on Ubuntu 14.04 when creating a Tor Hidden Srvice"
Current version of GlobaLeaks is broken on Ubuntu 14.04 because it does not automatically create a Tor Hidden Service.

The error given is related to Tor not being able to create the TorHS:
Apr 30 06:49:33.000 [notice] Tor 0.2.4.20 (git-0d50b03673670de6) opening log file.
Apr 30 06:49:33.000 [warn] Couldn't open "/var/globaleaks/torhs//private_key.tmp" (/var/globaleaks/torhs//private_key) for writ

[2015-04-30 06:57] fpietrosanti commented on #1256
The permissions was all OK. This issue disappeared after a reboot.
The very same issue has been reported on http://tor.stackexchange.com/questions/4510/i-have-my-custom-url-private-key-and-hostname-but-tor-wont-serve-it .

There's no clear indication of what's the problem

[2015-04-30 07:49] evilaliv3 commented on #1255
I got the need but technically it would not been doable so easely.

The world whistleblowers as the world receiver or whatever is never used
alone so that it would not be possible to isolate and change it from the
other words composing a sentence and automate the replacement.

This in fact is not doable for internationalisation related aspects,
different grammars and genders.

So I plan that we wo

[2015-04-30 10:05] isgroup commented on #1233
Foreword

The failure of the cookie is caused by a policy that does not all browsers have called "3rd party cookie", a kind of P3P IE, but automatic.

P3P existed for a long time (decades?) and pretty much no one respect it, thus it's virtually useless to the privacy-savy user.

Why? It's the browser to tell Facebook it has to be traced, imagine how many laughs they do the other side.

The "3rd pa

[2015-04-30 20:18] evilaliv3 commented on #1256
i know the issue.
tor is installed as dependency of globaleaks and when it starts the directories of globaleaks (/var/globaleaks/torhs) are still not created and so this error is scattered.
while after the reboot globaleaks has rightly created the dirs so noerror is raised.

i'm going to fix this issue creating the directories before starting tor. obviously i will add this code while not removing

[2015-04-30 20:51] evilaliv3 commented on #1256
got the issue, apparmor should be restarted before starting Tor or Tor would not be able to write the key.

[2015-04-30 22:17] evilaliv3 commented on #1254
fixed!

[2015-04-30 22:17] #1254 closed

[2015-04-30 22:26] evilaliv3 commented on #1256
fixed and retested on the OTF cloud both for trusty and for wheezy.

[2015-04-30 22:26] #1256 closed

[2015-04-30 22:27] evilaliv3 commented on #1253
done!

[2015-04-30 22:27] #1253 closed

[2015-04-30 22:27] evilaliv3 commented on #1252
done and released in 2.60.68

[2015-04-30 22:27] #1252 closed

[2015-04-30 22:28] evilaliv3 commented on #1251
done and released in 2.60.68

[2015-04-30 22:28] #1251 closed

[2015-04-30 22:28] evilaliv3 commented on #1247
not reproducible. removing the milestone for now and leave the ticket open.

[2015-04-30 22:30] evilaliv3 commented on #603
reviewed and i confirm that all seems handled correctly.

[2015-05-01 10:48] infosquatter opened #1257 "ETA/progress bar on uploading"
I noticed the ETA/progress bar on uploading process was changed by this "uploading/uploaded" icon. I strongly suggest to use some kind of ETA visualization.

The current interface is not intuitive at all, you don't know if the file is really uploading, if there was an error, what is the estimate time of the process etc.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-05-01 10:52] evilaliv3 commented on #1257
thanks for the feedback @infosquatter
we are working on that as we have recently updated the uploading library in order to be able easily to implement end-to-end encryption and this new library does not offer a progress bar natively.

[2015-05-01 20:11] Taipo commented on #1255
It is not difficult to edit the *.json file. I think the main thing for me would be for a language file to be easily uploadable via the admin interface.

[2015-05-01 20:41] evilaliv3 commented on #1255
@Taipo the admin interface already permits to load the json file for every language.

you should go to: Admin/Content Settings/Translation Customization

[2015-05-01 20:59] Taipo commented on #1255
I see the Change Picture / Download / Reset options associated with the English language set?

[2015-05-01 21:04] evilaliv3 commented on #1255
ehehe, the fact that you see change picture is due to an old version where the button was wrongly cut-pasted from a different functionality. if you update the button now it's called "Upload" and you can upload the json file.

[2015-05-01 21:06] Taipo commented on #1255
Thanks.

[2015-05-01 22:03] Taipo commented on #1255
On IRC

[2015-05-02 06:14] fpietrosanti commented on #1233
After skype chat we come up with the solution to move XSRF from HTTPHEADER+COOKIE to HTTPHEADER+JSONPARAMETER, then iframe will work back, but pure JS integration with CORS is the way to go for the future

[2015-05-02 07:15] fpietrosanti commented on #603
So, now on an expired session with the Tip in front of the Whistlblowr, if i click "upload", it will automatically detect such condition and BEFORE letting me upload stuff, it will ask me again for a Receipt (or somthing like that)?

[2015-05-02 07:25] evilaliv3 commented on #603
Ah no, you are right. i've simply checked that now unhandled exceptions were scattered.

[2015-05-03 07:32] fpietrosanti commented on #1159
So, a thread on Tor-talk mailing list ( http://archives.seul.org/or/talk/Apr-2015/msg00323.html ) say that enabling 2 factor authentication on Gmail and deriving an Application Password (https://support.google.com/mail/answer/1173270?hl=en) shall make it working properly.

It's not yet officially confirmed that this is the behaviour, but if it's so, we could upgrade our documentation on wiki and i

[2015-05-04 22:53] isgroup commented on #1233
Nice to see but has security disadvantages against a simple link. It was a pleasure to help GL!

[2015-05-05 08:46] vecna opened #1258 "Clean + clarify meaning in Admin - Advanced settings - main configuration booleans"
As you see "Disable the security awareness panel" is duplicated.
Plus, I'll open a gdocs with some text hint that can be used to make clearer, for the admin, what are the effects of these booleans.

![image](https://cloud.githubusercontent.com/assets/89555/7469420/a3cbf6ca-f313-11e4-9c1e-962e5ea008be.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2015-05-05 08:51] vecna commented on #188
the default Logger class ( https://docs.python.org/2/library/logging.html )  supports rotation: http://www.blog.pythonlibrary.org/2014/02/11/python-how-to-create-rotating-logs/

[2015-05-05 09:00] fpietrosanti commented on #188
@vecna using Twisted it's maybe best, for file based logging, to use Twisted stuff https://twistedmatrix.com/documents/current/api/twisted.python.logfile.DailyLogFile.html like in tor2web? (but i don't know what's the specific topic)

[2015-05-05 09:15] evilaliv3 commented on #188
yep i confirm that using the DailyLogFile is "tha way" and i would like to provide some feedback on this topic as i managed to do that on Tor2web.

[2015-05-05 09:21] evilaliv3 commented on #1258
you are right @vecna that code was simply duplicated.

feel free to start a document were annotating the other changes you would like to propose for the new texts / UI.

[2015-05-05 12:46] vecna commented on #444
Addressed in the commit above, but please wait for the review, there are this bug (Message that apparently remain in queue) to be investigated:

    2015-05-05 14:38:07+0200 [D] Messages found to be notified: 1
    2015-05-05 14:38:17+0200 [D] Messages found to be notified: 1
    2015-05-05 14:38:27+0200 [D] Messages found to be notified: 1
    2015-05-05 14:38:37+0200 [D] Messages found to be not

[2015-05-05 12:57] vecna commented on #1198
Which are the actions ? they can be suggested in the email. Just as update, the condition detected (defined in anomaly.py) are these 6:

           # If percentage is <= 1%: disable the submission
            'condition': free_disk_percentage <= 1,

            # If disk has less than the hardcoded minimum amount (1Gb)
            'condition': free_disk_megabytes <= GLSetting.defaults.minimum_mega

[2015-05-05 13:05] vecna commented on #798
so, to close this issue:

  * define an hard-coded threshold of maximum event per hour (to be put in the next DB at notification table)
  * keep in memory the amount of email per receiver sent (ignoring the DB or what ? can be a stat if is in the DB ?)
  * define text for an email
  * implement in notification the suppression trigger check.

any comment before I start ?

[2015-05-05 13:37] vecna commented on #1258
Text proposal https://docs.google.com/document/d/1X9ndoUnzJSJgVImd56UOz0sDqA0UCyZz6-Zpm_1UkpY/edit#

[2015-05-05 14:21] vecna commented on #1206
This ticket has two different outcome then:

1) export as CSV based on selection of something. I'll start implementing with no filtering capability (also because, if you are going to paint your own graph, you'll strip what you want)
2) some aggregate information like the one asked by @infosquatter
3) update of Statistics ? I'm ok with that but Statistics are considered for the external observer.

[2015-05-05 14:22] vecna commented on #1178
Specification under review https://docs.google.com/document/d/1RGsqQDJ03f3iU4onnG7tBqZzTWNqBPRNF02XgruazHg/edit

[2015-05-05 14:24] vecna commented on #938
What I can do about this ?

[2015-05-05 14:25] vecna commented on #795
This is integrated currently in master. The threshold analysis has to be done, but they are part of the whole Token impact analysis. Closing this issue.

[2015-05-05 14:25] #795 closed

[2015-05-05 14:42] infosquatter commented on #1206
There is a very important parameter for the statistics which I missed
before and I think is highly ipmo: Tor-or-Tor2web submissions. Thanks a
lot @vecna. Best, Pedro.

Claudio A.:

[2015-05-05 14:46] vecna commented on #825
**Proposal**: apply token also to the login, therefore, if too many attempt are triggered, protections [1] came in place.

[1], delay, hashcash, captcha(s)

[2015-05-05 15:45] vecna commented on #748
I was checking the status of this issue, and is implemented, the Template are present, the email sent are these:

    Dear vecna,

    The submission [825] related to context something is going to expire in 48 hours.

    Log in and check it out before it's too late!

    The submission can be accessed:
    via Tor at: ADMIN, CONFIGURE YOUR HIDDEN SERVICE (Advanced configuration)!
    via Tor2web

[2015-05-05 16:19] vecna opened #1260 "Add in InternalTip information on the kind of security used by WB"
As discussed with @infosquatter, an evaluable information is the security level of the WB at the time of the submission.

We can store in InternalTip a boolean, based on the presence of X-Tor2Web or not. This information can be useful for two reasons:

  * stats about Node usage, KPI over anonimity advocacy, general consideration of T2W usefulness
  * understand the risks of the WB and perhaps off

[2015-05-05 16:20] vecna commented on #1206
Thank you for remembering. That is a new issue #1260, this issue about stats improvement for Admin (I guess anyway your requests can be easily accomplished, considering that we have the number, we just need visualize them)

[2015-05-05 16:51] fpietrosanti commented on #748
Is it configurable as described in the ticket?
"The notification of tip expiration should be configurable from the receiver, both in term of enabling/disabling the feature, and in terms of timing remaining until expiration when they need to get notified."

[2015-05-05 16:56] fpietrosanti commented on #1260
I suggest to integrate this bit of information (tor/tor2wb) as part of #1188 (requested by publeaks)

[2015-05-05 18:16] evilaliv3 commented on #1260
yep i find this useful and yep let's add it to internaltip as i don't consider ricky store that info in cleartext.

what do you think?

[2015-05-05 18:17] evilaliv3 commented on #748
nope it's still not configurable, let's wait for that before closing the issue

[2015-05-05 20:34] evilaliv3 commented on #1258
i've replaced the document with a new copy editable by us all and i'm going to comment it: https://docs.google.com/document/d/10zRQ2VeaBzo5w1UWyq7Eka910NxFtq3hgyPqQWs8xBA/edit

[2015-05-06 05:34] fpietrosanti commented on #1258
I love what you are doing, ideally (but not necessarily) this work could be:
- extended to *each and all* section of the admin
- extended to *each and all* settings of each section
- results could be delivered somehow to the wiki in order to update a not-updated-documentation

[2015-05-06 07:02] infosquatter commented on #1206
It also came to my mind that 'uploading time' (per session and per file)
could also be a very "useful stat". Thanks!
Claudio A.:

[2015-05-06 07:03] infosquatter commented on #1260
I agree on adding it to the internaltip, since this data is useful for
journalistic cross-check investigation!

Giovanni Pellerano:

[2015-05-06 07:51] evilaliv3 commented on #1258
i find it really relevant also.

@vecna what about starting doing it also for all the text, mails and new interface we plan to have for D8 and D2?

[2015-05-06 07:56] evilaliv3 commented on #1206
in general for each handler we can track the start and the stop of the handling just to know stats of the tor network in general.

for what concerns the uploading time given  the flow.js thing where the request is splitted among multiple requests i will take the lead on the implementation.

[2015-05-06 21:17] vecna commented on #748
To make it configurable, has to be updated the DB, I'll create a dedicated branch called database-21 from which I start the new branches, covering some of the feature that require it.

[2015-05-06 21:27] evilaliv3 commented on #748
great!

let's avoid working on the integration script.
in general i suggest always to avoid writing it before the moment that the patch is near to be integrated in devel. this will help reducing unneded work.

[2015-05-08 07:17] fpietrosanti opened #1261 "Password protect submissions for a given context"
This ticket is to introduce a functionality to password-protect the ability for a whistleblower to make a submission, globally, or only for a given context.

The requirement comes from Sardinia Region anticorruption authority, that have the need to internet-expose a shared anticorruption platform for multiple smaller/controlled public agencies.

The submission platform maybe available only to inte

[2015-05-08 07:19] fpietrosanti commented on #1223
Related to #787

[2015-05-08 07:20] fpietrosanti commented on #1223
Interests also for oziveni.cz with Arum API oziveni.cz

[2015-05-08 07:21] fpietrosanti commented on #1223
Interests also for Transparency International Secretariat for "The Database" CMS

[2015-05-08 07:21] fpietrosanti commented on #1223
Interests also for Public Concern at Work, for their Case Management System (same used by Scottland Yard)

[2015-05-08 07:40] evilaliv3 opened #1262 "Integrated mode with explicit receiver fails when receivers are not shown on /submission"
Integrated mode with explicit receiver fails when receivers are not shown on /submission

The error is:
Invalid Input Format [Provided an invalid number of Receivers]

the bug has spotted by @exedre while testing the integrated mode on https://experiment.globaleaks.org

[2015-05-08 13:11] vecna commented on #1228
@hellais  This is the gdocs about the text https://docs.google.com/document/d/10zRQ2VeaBzo5w1UWyq7Eka910NxFtq3hgyPqQWs8xBA/edit

[2015-05-08 13:36] evilaliv3 commented on #798
ok for me! perfect!

1) can be a configurable variable in admin/advanced settigns but ok for the moment to keep it only hardcoded.
2) let's avoid adding this to the db now
3) allright!
4) in what does this consist?

[2015-05-08 13:43] vecna commented on #798
1) ok
2) better
3) Waiting for review
4) modify mailflush_sched accordingly

[2015-05-08 15:32] vecna commented on #1198
@evilaliv3 @fpietrosanti I've restructured the templates https://docs.google.com/document/d/10zRQ2VeaBzo5w1UWyq7Eka910NxFtq3hgyPqQWs8xBA/edit#

[2015-05-09 07:56] evilaliv3 commented on #1262
fixed!

[2015-05-09 07:56] #1262 closed

[2015-05-09 11:16] evilaliv3 opened #1263 "Contribution guidelines should be written in CONTRIBUTING.md"
The projects is currently missing the CONTRIBUTING.md file with the list of "rules" and suggestions to be followed by contributors.

It would be valuable to write down here the various good notes with reference to:
- code style
- unit testing
- ...

Valuable contributiing guidelines to be read as good example:
https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md
https://twistedmatrix.

[2015-05-09 19:40] evilaliv3 opened #1264 "Evaluate integration of Hund in order to track javascript code quality on commit"
I'm evaluating the use of [Hound](https://github.com/thoughtbot/hound) for the tracking of the javascript code quality on commit.

it's seems a nice tool that simply perform jshint but currently ask for really heavy permissions on the repo, that would allow them to do whatever they want like editing the wiki and even committing.

i'm now going to open an issue on their ticketing system in order to

[2015-05-09 20:14] evilaliv3 opened #1265 "Evaluate integration of CodeClimate in order to track oth python and javascript code quality on commit"
I'm evaluating the use of [CodeClimate](https://codeclimate.com) for the tracking of the both python and javascript code quality on commit; the python analysis is a new feature now in beta that they have enabled from few time: https://codeclimate.com/changelog/5527d990e30ba006c1001032

it's seems a nice tool that simply perform a lot of interesting analysis but currently ask for really heavy permi

[2015-05-09 23:12] vecna commented on #798
Done, as you can see, I've not modify at all the database at the moment.
I've implemented a queue that check the last email per hour, using the TempObj, so, are kept effectively the window of the last 60 minutes and the number of email in the last 60 minutes.

If the number overcame "20", the notification get disabled for 4 hours.

This is the link to compare with devel: https://github.com/globale

[2015-05-09 23:22] evilaliv3 commented on #798
olè!

[2015-05-10 06:29] #938 closed

[2015-05-10 06:31] vecna commented on #934
@evilaliv3  To close this issue, what is required ? a review of the naming used in the API ?

[2015-05-10 06:40] vecna commented on #297
@evilaliv3  Checking this issue status, is:

1 = work in progress
2/3 = at the moment submission simply get disabled. which will be the rationale between disabling token or file upload in different times ?
4 = it is implemented, in node.py, serialization:

       'accept_submissions': GLSetting.memory_copy.accept_submissions,

[2015-05-10 07:43] vecna commented on #800
To close this issue:

  * admin interface has to be modify with two values:
    * minimum amount of seconds required to end a submission (default, 120 ?)
    * maximum duration of a submission (default, 1800 ?)
  * creation of a new template for the admin in case a failure of this check happen = **unclear**, want is the information ? "*someone has make a GLClient bad and/or try-to-be malicious*" b

[2015-05-10 08:07] evilaliv3 commented on #934
yep that. i've written some above if you want proceed on this.
in addition probably the token concept is still to be described on the Applicatioin Security document?

[2015-05-10 08:14] evilaliv3 opened #1266 "DoS resiliency approach section of the Application Security spec should be updated in relation to Token concept"
DoS resiliency approach section of the Application Security spec should be updated in relation to Token concept;
 this should be done in relation to all D8 implementations and in particular to the concept specified in https://github.com/globaleaks/GlobaLeaks/issues/934

Application Security: https://docs.google.com/document/u/1/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U/pub

[2015-05-10 08:20] evilaliv3 commented on #800
i'm ok with all except a minor doubt on the default for the maximum duration. half an hour would limit a lot the file uploads size of a file uploaded over Tor. i'm not able to suggest a number that would be randomly chosen by me but i would say 7200. who offers more?

probably would be important to have them configurable on the advanced settings as for sure a lot of adopters will blame on the mini

[2015-05-10 08:29] #1231 closed

[2015-05-10 08:37] vecna commented on #800
what about: ( 15 seconds * Number_of_fields_in_the_steps ) ?

maybe not 15, but probably is a value that has to be context dependent ( submission_timetolive was, and Token at the moment are associated to a context, too)

[2015-05-10 08:40] vecna commented on #1266
Isn't better do a small research on the effectiveness of the system, before update the app sec doc ?

[2015-05-10 08:44] evilaliv3 commented on #1266
ok, anyway one day we will have to do this :) let'[s keep the ticket open.

[2015-05-10 08:47] evilaliv3 commented on #800
i think that a fixed value of few let's say 15 seconds is ok for fighting dos attacks (1s would be enough in the real case, 15 seconds will fuck it up for sure).
making it dependend to the number of fields/staps will create funny not controllable situations (and wat about required/not required fields)

 KISS :)

[2015-05-10 09:07] vecna commented on #934
RAML has been anyway lost during the branch/repo changes

[2015-05-10 09:14] evilaliv3 commented on #934
naaaa: https://github.com/globaleaks/GLBackend-outdated/blob/D8-OTF-fix/docs/Token.raml

[2015-05-10 10:44] vecna opened #1267 "Make it easier delete multiple Tips for a receiver"
In case of congestion, tips need to be deleted without clicking on every button from the outside, and without having a warning every time is clicked on it, and without having a DELETE command for every Tip. Still, thinking to the open data feed + end2end encryption change seriously this issue. so before think to the steps proposed, is better if we analyze the doubts below.

### Steps

  * delete b

[2015-05-10 11:03] evilaliv3 commented on #1267
i'm ok with what specified here!

i suggest to implemente the DELET in the TipsCollection handler that already exists and has only a get().
the delete would take an array of the tips id were an empty array can be used to mean "all tips".
an like in gmail/wordpress/whatever we can have the classical select box on the top of the table were to have: checkall/uncheck all: bulkaction:postpone/delete

[2015-05-10 11:34] vecna commented on #1267
And the Delete event has to be recorded in the stats then, just I don't know where yet....

[2015-05-10 23:05] evilaliv3 commented on #796
@vecna thanks to @EvanHahn and @siddi this two pull requests have been now integrated so that we won't face any of the issue you were having:
https://github.com/EvanHahn/HumanizeDuration.js/issues/54
https://github.com/siddii/angular-timer/pull/181

a different library but to be used for an aim similar to the one related to this ticket is: https://github.com/wildlyinaccurate/angular-relative-date

[2015-05-11 06:53] fpietrosanti commented on #1224
Is this problem reproducible ?
A required workaround (anyway) is to introduce paging for visualization/fetching of Tips.

[2015-05-11 07:31] fpietrosanti commented on #1266
@evilaliv3 @vecna I would avoid to include *any code* into globaleaks without including the proper documentation in the specification documents. Please do not include in any globaleaks release any code without updating the specifications, it shall be part of a release process.
No specification, no release must be the right approach

[2015-05-11 07:34] fpietrosanti commented on #934
I suggest to completely remove any API documentation:
a) because are not updated
b) because will never be used by anyone (due to the added complexity of GLClient)

The specification for anti-dos is better to be an "anti dos" specification, rather than an "API specification".

Whatever integration for inbound submission will be done in future, is likely to be done with a custom GCLient and not by u

[2015-05-11 07:36] fpietrosanti commented on #798
Let's make any parameters to be visibile/configurable from the admin interface

[2015-05-11 07:40] fpietrosanti commented on #1267
It may have relationship with #1224 ?

[2015-05-11 08:10] vecna commented on #1267
@fpietrosanti yes, but only because I'm thinking to split the tip lists (new, tagged, "new-name-for-deleted-tips") and eventually we can implement paging (that will address completely the issue you are speaking of)

[2015-05-11 08:17] fpietrosanti commented on #1147
@evilaliv3 is this still valid with flow.js?

[2015-05-11 08:19] fpietrosanti commented on #137
Related to #950

[2015-05-11 08:24] fpietrosanti commented on #137
To properly complete the feature, from https://github.com/globaleaks/GlobaLeaks/issues/950#issuecomment-56305937

"
I think it's also very important to log somewhere that a user with "that user agent" was not able to access globaleaks, because we need to know how many users get forcefully denied access.
The admin must be given proper information and statistics on the amount of blocked users.

For

[2015-05-11 08:26] fpietrosanti commented on #137
Related to #968 #969 requirements

[2015-05-11 08:28] evilaliv3 commented on #1147
can you also give a trial? i think to have seen i once.

[2015-05-11 08:54] fpietrosanti commented on #1147
No problem on demo.globaleaks.org with PNG, JPEG and PDF uploading with latests Tor Browser. Closing it

[2015-05-11 08:54] #1147 closed

[2015-05-11 08:55] fpietrosanti opened #1268 "Integrate Travis-CI notification of failed test to IRC"
This ticket is to Integrate Travis-CI notification of failed test to IRC to irc.oftc.net #globaleaks channel.

The configuration to be done is at:
http://docs.travis-ci.com/user/notifications/

[2015-05-11 09:46] fpietrosanti commented on #1267
Regarding paging there's a tons of libraries and approaches to do that with AngularJS, don't know the right approach client-side and the impact/requirements for search/selectors server-side:
http://ngmodules.org/modules/Angular-Paging
https://github.com/mizrael/AngularJs-Pagination

[2015-05-11 10:19] vecna commented on #798
Still TODO(s) in the subject:

  * put in the notification DB
  * put in admin interface
  * save the anomaly as part of the anomalies tracker

[2015-05-11 17:06] vecna opened #1269 "Research strategy and test for anti-DoS protection"
Some issue report about performance doubt ( #1224 ), some issue are remain open because due to lacking of impact analysis on the anti-DoS strategies ( #825 #797 ) and the load caused in a system.

So I was thinking to perform some structured tests, collect data, and provide the defaults for the anti-DoS in a meaningful way. with these data, we can also provide meaningful information to a third par

[2015-05-11 17:09] fpietrosanti commented on #1269
@vecna Did we ever considered "performance" as an issue of the result of a DOS? The issues has been in an excessive amount of submissions to be managed from the receivers point of view and a problem with notifications, but not a performance problem.
Btw from the implementation, because of the end-to-end investment on GLC, it would be much better to make any kind of flood-testing with GLC itself im

[2015-05-11 17:17] vecna commented on #934
I share the same thoughts of @fpietrosanti, and the specification of "anti DoS" has to be done as #1266.

I've updated in the commit above the naming as suggested, closing this issue now. The branch will be merged with the countdown (tomorrow)

          return {
              'token_id': self.token_id,
              'creation_date': datetime_to_ISO8601(self.creation_date),
              'start_va

[2015-05-11 17:17] #934 closed

[2015-05-11 17:23] vecna commented on #1269
@fpietrosanti I mean, is part of the anti-DoS understand (through profiling) why sometime DB keep seconds to perform answer. if that can be controlled or influenced from the outside, this will make all the activities performed via GL delayed (because the transact is a single, blocking, thread). So what affect some performances, has to be understand clearly also for the reliability point of view.

[2015-05-11 17:38] evilaliv3 commented on #1269
i agree that at the stage we are writing the test for parallel submission with protractor and with a possible configuration in the number of requests and the number of parallel requests would be valuable.
if you want to concentrate a bit on writing the code for the Storm debugging code in the meantime i would add this test (i would need not more of a day for finishing current fixed to unit testing

[2015-05-11 23:49] vecna commented on #1269
@evilaliv3 yes, the accounting of execution time for http request is already in place, I was thinking in this issue to dump it on a JSON, so can be given in a d3 graph renderin ( will be easier than describe in the issue :) )

Storm transact timings, not an issue, can be done, just I'm curious to see the execution time of every single python line (that's what a profiler can do) so we can see, for

[2015-05-12 00:02] evilaliv3 commented on #1269
1, 2, 3, stella!

[2015-05-13 17:53] fpietrosanti commented on #773
Nw seems the right way to go https://github.com/nwjs/nw.js

[2015-05-13 18:45] fpietrosanti opened #1270 "Enable embedding GLClient within a third party site without an iframe"
This ticket is to enable embedding GLClient within a third party site without using an iframe, but by loading the GLClient .js file, then calling an initialization function with a set of parameters (ie: hostname, port, contextid, receivers, others).

This requirements come from the limitations that has been identified by #1233 within the deployment of the Integrated mode.

The technical integratio

[2015-05-13 18:49] fpietrosanti commented on #796
Please use the appropriate tickets for implementing the Countdown, requirement coming from Amnesty International #749

[2015-05-13 19:05] evilaliv3 commented on #796
let me say @fpietrosanti  that this or the other is the same as also the other is not related to countdown in general but to a specific feature. and @vecna is not implementing that feature right now but this one, so it's correct that he is writing things here.

[2015-05-13 20:46] fpietrosanti opened #1271 "GlobaLeaks Command Line Client"
This ticket is to implement the functionalities within GlobaLeaks Client to be used as a Command Line Client.

The goal is that GLClient will be able to run under a Javascript runtime available as a command line application (like a native linux application).

The GLClient command line need to provide all the functionalities available from the Whistleblower and the Receiver perspective, in order to

[2015-05-13 21:30] evilaliv3 commented on #1173
This is really important as it would facilitate the end2end testing with [Protractor](https://github.com/angular/protractor) moving to May milestone.

\cc @origliante

[2015-05-13 21:32] evilaliv3 commented on #1173
With previous commit i've assigned numbered ID(s) to a lot items both on submission view and on administration views in relation to: steps, contexts, receivers, fields.

[2015-05-13 22:15] evilaliv3 opened #1273 "Adopt Mailinator as mailbox for unit testing"
A perfect solution for implementing unit testing of the email would be [Mailinator](https://mailinator.com/).

Mailinator could be used for:
- as simple mailbox for every receiver created (e.g. globaleaks-receiver1@mailinator.com)
- as simple mailbox for the admin user (globaleaks-admin@mailinator.com)
- as simple mailbox for the exception mail used in tests (globaleaks-exceptions@mailinator.com)

[2015-05-13 22:23] vodkina commented on #1273
Go for it!

[2015-05-13 22:44] evilaliv3 commented on #1273
Checking if mail will be received would be easy and fast even manually:
- [Laura Poitras](https://mailinator.com/inbox.jsp?to=laura.poitras)
- [Glenn Greenwald](https://mailinator.com/inbox.jsp?to=glenn.greenwald)
- [GlobaLeaks Admin](https://mailinator.com/inbox.jsp?to=globaleaks-admin)
- [GlobaLeaks Exceptions](https://mailinator.com/inbox.jsp?to=globaleaks-exceptions)

[2015-05-13 23:38] evilaliv3 commented on #1273
here we go!

[2015-05-14 10:37] origliante commented on #1173
Yes it it, for what I've found during the tests development, I would suggest this:
- for repeating objects:
  - a common class, example: .private_messages
  - an id that's easy to deal with. Also in the current UUID-like format, since it is already node-unique, example: class="private_messages" id="123123-asfas-213-123213-gr1122"

This permits to easily write complex end to end tests, for example:

[2015-05-14 11:14] evilaliv3 commented on #1173
what i was writing is related to CSS elements not to models.

already messages/comments exports their IDs:

    from backend/globaleaks/handlers/rtip.py:

    def receiver_serialize_message(msg):
        return {
            'id': msg.id,
            'creation_date': datetime_to_ISO8601(msg.creation_date),
            'content': msg.content,
            'visualized': msg.visualized,
            't

[2015-05-14 11:34] origliante commented on #1173
So in the protractor case it is possible to look for the type field with by.css("[type='message']") ?

[2015-05-14 11:38] evilaliv3 commented on #1173
yep.

let's prefer to use by.xpath, and generally write more precise selectors by using partent-child relations, e.g.:

    element(by.id('step-2')).element(by.id('field-0-input'))

i'm quite ready to commit the finalized submission test and there you will find the complete example

[2015-05-14 11:40] origliante commented on #1173
+1

[2015-05-15 10:58] vecna commented on #796
I've updated on the branch the submission viz, now I'll address the DB update.

[2015-05-15 11:15] evilaliv3 commented on #796
ok!  :) let here the notes on the DB changes so that i will deal will the migration script when we will integrate it.

[2015-05-15 14:15] evilaliv3 commented on #137
@fpietrosanti / @origliante:

i think that to make it simple the browser support test should be dividied into two aspects (steps of the detection):
  1. verify if the browser is capable of running globaleaks (browesername/version is enough for this; (e.g. ie>11 is able to run globaleaks)
  2. verify that the browser configuration is able to run globaleaks (e.g. ie>11 but with cookies disabled is n

[2015-05-15 14:45] fpietrosanti commented on #137
Cookies are already tested, and will be soon removed,

Localestorage ia not required.

 let's make IT simple, no more than 1/2 hour to implement the check given that most of the work is the collateral  (logging unsupported request, statistics, nice looking web page with clickable links to download the supported browsers, text copy/review)

Sent from mobile

[2015-05-15 14:57] origliante commented on #137
1/2 hour means not using anything but if (browser.crypto) ...
I was experimenting with modernizr and beginning to search for the capabilities needed by angular 1.2
If we dont use modernizr and dont take a deeper look, the only thing we can say is "install chrome or firefox latest version"

[2015-05-15 15:32] evilaliv3 commented on #137
ok so given @fpietrosanti comment in my response i think twe best would be to simply write a browser detection based on the browser i've listed here for the test https://saucelabs.com/u/globaleaks that are the one written here: https://github.com/globaleaks/GlobaLeaks/blob/devel/scripts/travis_saucelabs.sh

for what concern safari it's the one that is on 8.3. i do not know the version. @fpietrosan

[2015-05-15 15:54] origliante commented on #137
So test to check browser name/version for:
Safari >= 8
IE >= 11
Chrome >= 37
Firefox >= 36

right?

[2015-05-15 15:56] vecna commented on #796
These are the new fields supported:

    submission_minimum_delay
    submission_maximum_ttl

[2015-05-15 17:04] origliante commented on #969
@fpietrosanti @evilaliv3 @vecna

In our abetterbrowser.org variance, we also should talk about TorBrowser. What do you think about it?

[2015-05-15 17:31] evilaliv3 commented on #969
1. i think the idea of talking of the Tor Browser is ok and it could be the main things to suggest and in case that the user is visiting globaleaks via tor2web ([checktor](https://github.com/globaleaks/Tor2web/wiki/CheckTor)) we can even provide the [/gettor](https://github.com/globaleaks/Tor2web/wiki/GetTor) url in order to make easier for the user to download it. in addition as specified by @fpi

[2015-05-15 17:34] evilaliv3 commented on #137
sounds interesting, well done.

i will test it in a bit.

[2015-05-15 19:30] fpietrosanti commented on #969
1. We must provide a direct link for download of the supported browser, because that's the immediate "corrective action" required when handling an erroneous condition.
There's no problem maintaining the link for downloads because they does not change so much (maybe once every 2-3 years).

2. IE <=11 does not have webcrypto, so cannot be supported.

3. We may consider to differentiate the web page

[2015-05-15 19:38] evilaliv3 opened #1274 "Travis CI tests fails due to maximum 50minutes limit"
Currently Travis-CI tests are failing due to maximum limit of 50 minuts exceeded:

    Your test run exceeded 50 minutes.

the suggestion by travis is:

    One possible solution is to split up your test run.

i've still to evaluate this possibility but surely two actions are possible

1. the tests on the GLBackend performed directly on the API can eventually be removed; they are difficult to be m

[2015-05-15 19:39] evilaliv3 commented on #1274
my decision is to go for simply the solution 2., as i consider for now important to keep the tests on the API as it is currently more rich and precise of the end2end testing.

[2015-05-15 19:42] fpietrosanti commented on #137
Give me a globaleaks where to test with Safari and i'll do that, either on iOS 8.2 and Mac OS X Yosemite.

I'd may suggest to test the presence of window.crypto as simple discriminating point as previously dsicussed (or ask to make a webcrypto operations, like a sha1 if it succeed) because numbering may have issues to be tracked, like (open questions):
1. Does Chrome on Mobile use the same numberi

[2015-05-15 19:54] evilaliv3 commented on #969
i see. it's not clear to me why suggesting to download all this browsers
and not simply the Tor browser.

it's due to the fact that you want to guarantee that the user can access
even without Tor? if yes why don't proviede simply a link to one of the
most easy installable browsers among (ie, firefox, chrome) for the non-tor
+ the torbroser for tor?

[2015-05-15 20:05] fpietrosanti commented on #969
@evilaliv3
1. Because Tor Browser is for use in very specific context (so it's for "Anonymous stuff")
2. Because each organization and/or person may have a specific default browser preferences/requirements (an employee of a large organization only using IE will need to ask his tech-team to upgrade to IE11 and not to deploy Firefox if IE is their organization choice)
3. Because a Mobile Users need

[2015-05-15 20:07] evilaliv3 commented on #969
i know, but i like to discuss with you.

:+1:

[2015-05-15 20:08] fpietrosanti commented on #969
@evilaliv3 i love to discuss with you too!
![1377276_10152480426493301_6776164892622509120_n 1](https://cloud.githubusercontent.com/assets/770363/7660950/e9e1d2c2-fb4e-11e4-9945-3a056f91cecf.jpg)

[2015-05-16 06:40] fpietrosanti commented on #1173
Those changes are gonna break all adopters with a custom CSS?
If so, are there other major changes required in the pipelines that would break the CSS that's better to do it now (to avoid breaking it again in future) ?

[2015-05-16 08:51] evilaliv3 commented on #1173
no break at all man. it's only new additional rock and roll.

[2015-05-18 08:56] evilaliv3 commented on #1274
Done!

![screenshot from 2015-05-18 10 54 40](https://cloud.githubusercontent.com/assets/217034/7677463/8f1a0418-fd4c-11e4-8b6b-1ee2a982e7d4.png)

[2015-05-18 10:47] evilaliv3 opened #1275 "Application links should be relative to the globaleaks url"
It has been reported by OCCRP that in ther integrated mode implementation various links are not working properly.

e.g. the links that from the tiplist page point to the specific link are not working.
they are https://occrp.org/#/status/tipID while they should be https://occrp.org/occrpleaks/#/status/tipID

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bou

[2015-05-18 10:48] evilaliv3 commented on #1275
@fpietrosanti/@vecna the only way to handle this would be to implement links in javascript openLocation(angular relative url).

what do you think?

[2015-05-18 10:54] fpietrosanti commented on #1275
@evilalive dos this problem would be fixed and/or make it easier to be fixed by implementing #1130 ?

[2015-05-18 10:58] evilaliv3 commented on #1275
not at all;

pushing both in current milestone and discussing with @vecna the change.
it would be interesting to study this basic html capability: http://www.verdantrefuge.com/writing/2013/angularjs-changing-app-path-base-element/

it would be really helpful then to replicate this funny configuration on travis and make the tests run against it.

[2015-05-18 12:16] evilaliv3 opened #1276 "Evaluate the use of HTML5 mode for locations"
In relation to https://github.com/globaleaks/GlobaLeaks/issues/1130 and https://github.com/globaleaks/GlobaLeaks/issues/1275 i found that it would be probably valuable to use the HTM5 location mode: https://code.angularjs.org/1.2.27/docs/guide/$location

this would permit to provide better user experience in relation to the history of the navigation and probably would offer more features.

this sp

[2015-05-18 12:36] fpietrosanti commented on #1276
I don't understand how it's better for the end-user. What would change for end-user for example?

Btw if it's better, i'd consider checking the w3c accessibility stuff, if it change something in good or bad for #811 and #809

[2015-05-18 12:57] evilaliv3 commented on #1276
its seems that would be canoninical urls without the # and the user will be able to benefit of the history.

[2015-05-18 20:29] evilaliv3 commented on #1276
i studied better and i do not consider this useful at all.

[2015-05-18 20:29] #1276 closed

[2015-05-18 20:35] evilaliv3 commented on #1275
here we go my darling @fpietrosanti: i mangaged to make it work on https://127.0.0.1:8080/a/n/t/a/n/i/ !!!

![screenshot from 2015-05-18 22 21 51](https://cloud.githubusercontent.com/assets/217034/7689593/cda9a880-fdad-11e4-938f-6cf763a0e901.png)
![screenshot from 2015-05-18 22 22 35](https://cloud.githubusercontent.com/assets/217034/7689598/d79cec94-fdad-11e4-905a-f08137b99853.png)
![screenshot f

[2015-05-18 20:35] #1275 closed

[2015-05-18 20:48] evilaliv3 commented on #1128
@fpietrosanti i've a task for you!

now that i've closed #1275 and #1130 and that i made this simple node.js PoC:

    var proxy = require('redbird')({port: 8080});
    proxy.register("localhost/a/n/t/a/n/i/", "http://127.0.0.1:8082");

CLOSE THIS FUKING TICKET DOCUMENTING IT PROPERLY! COME ON! ;)

[2015-05-18 21:53] #1274 closed

[2015-05-18 21:55] #1273 closed

[2015-05-19 22:42] evilaliv3 commented on #137
@origliante: thinking to what @fpietrosanti i think the suggestions are right.
we should try not to do a whitelist based on the supported browsers but based on the browsers capabilities that currently we have identified generically in the test of presence of:
- windows.crypto
- windows.crypto.getRandomValues

i will push the basic code in few minuts as the currently one written can't be used (nor

[2015-05-19 22:43] vecna commented on #297
based on the discussion raised on:

%AnomalyDetailDisk%
%AnomalyDetailActivities%

we've to implement these variables in the notification section, in parallel with the translation of #1228

[2015-05-19 22:49] evilaliv3 commented on #137
to clarify our magic function, by relying on a test on capabilities, should:
1) return False on all the browsers that miss a set of capabilities for which WE KNOW it wont work
2) return True for all the other

the solution should be validated on Saucelabs so that we verify that our function returns false on all the browsers were it cant work, and true on the other.

[2015-05-19 23:26] vecna commented on #799
So IIRC, the algorithm proposal was:

give a random string to be put at the beginning of the POW,
that POW get bruteforced up to reach a certain number of 0s (or another random string)

we can use SHA to do that (any pointer where is used now ?), and in verification process, we have to do only a single sha to validated. this check is performed after the time check.

[2015-05-19 23:29] evilaliv3 commented on #137
going on with the investigation i've found this relevant code of oepnpgp.js:

    /**
     * Get native Web Cryptography api. The default configuration is to use
     * the api when available. But it can also be deactivated with config.useWebCrypto
     * @return {Object} The SubtleCrypto api or 'undefined'
     */
    getWebCrypto: function() {
      if (config.useWebCrypto === false) {
        /

[2015-05-19 23:54] evilaliv3 commented on #137
just for info, on IE window.crypto is aliased by window.msCrypto as like always microsoft likes fullfilling the namespace of standard objects with funny names-ad-minchiam.

[2015-05-20 00:13] evilaliv3 commented on #799
ok for me, clientside it would require webworkers + windows.crypto so not more things that the one required by openpgp/scrypt; if you want tomorrow i can show you whot webworker + webcrypto works so that you can going on testing this thing.

[2015-05-20 13:47] origliante commented on #137
We are recently running end to end tests on particular browser versions, IMO the logical thing is to enforce a browser version >= a particular number. If we just check for window.crypto how can we know if the client is going to work? We test the client on browser versions not on every browser who defines window.crypto

@evilaliv3 @fpietrosanti

[2015-05-20 14:25] evilaliv3 commented on #137
we can't exclude users from all browsers that we have not tested as the number of platforms/browsers we are testing is really limited.

so based on the result on the testing we can try to design good checks based on capabilities that will act as a euristic evaluation that with a certain probability will guarantee that if we say "its cabable!" it will also work for real. it's now clear?

[2015-05-20 16:51] vecna commented on #1228
@hellais give a look before the latest closing of comments happen :)

[2015-05-20 19:30] fpietrosanti commented on #799
Is this approach time deterministic in terms of time or it may require a possibly very long amount of time?

[2015-05-20 19:59] evilaliv3 commented on #799
yes, it's statistically deterministic if the sha will result uniformly distributed as it is designed for.

anyway we can make a simple demo of this an calculate the meantime on the browsers and validate this with expectation with unit testing.

[2015-05-21 00:57] vecna commented on #798
Update on the issues:

  * text taken from gdocs: https://docs.google.com/document/d/10zRQ2VeaBzo5w1UWyq7Eka910NxFtq3hgyPqQWs8xBA/edit?pli=1# and stored in DB
  * DB update with settings configurable + threshold template
  * model, data init.

TODO:
  * under UT
  * Missing admin entry client for notification parameters.

[2015-05-21 13:00] vecna commented on #799
@fpietrosanti do not exist a deterministic proof of work. the algorithm has always the same probability to find the secret. no computation about the number of tries can be done, and if someone is giving an "average time", is just an average of a time that, in theory, can last at infinite. (very quite unlikely, but ...)

SHA is uniformly distributed, but that don't change the hypothesis that, in th

[2015-05-21 13:18] vecna commented on #796
This branch has been merged with #798 as intermediary merge. deleting this branch.

[2015-05-22 11:55] vecna commented on #934
This will be merged in #798 (that contain #796) and then PR

[2015-05-22 16:19] hellais commented on #1228
@vecna I finished reviewing the first 3 pages, but there are still a bunch of unresolved comments and suggestions.
Could you perhaps first close all the pending comments and requests for modification so I can finish the review?

[2015-05-22 16:23] hellais commented on #1244
+1

[2015-05-22 16:29] hellais commented on #1260
I think this has some value, but I would also evaluate the possible security implications it could have.

In particular I am thinking that it may not give plausible deniability to the operator of the tor2web node (or to the WB for that matter).
The scenario I am thinking of is:

* GL Node get's siezed or somebody with credentials to view the InternalTip flag gains access to which submissions (and

[2015-05-22 16:33] hellais commented on #1261
A related feature is something I have been thinking of for a while and discussed with a couple of people.

The basic idea is to have some tokens that you can give out to people though various means (via business cards, with paper strips posted on some wall etc.). These paper strips are a blind signed token that will allow the person to authenticate to the platform as a valid receiver of them (henc

[2015-05-22 16:35] hellais commented on #1263
+1

[2015-05-22 16:37] hellais commented on #1264
Much third party, no privacy, wow.

![MEME](https://imgflip.com/i/lv2oo)

[2015-05-22 16:38] hellais commented on #1265
![NOSECURITY](https://i.imgflip.com/lv2oo.jpg)

[2015-05-22 16:39] hellais commented on #938
What WAS, done about this?

[2015-05-22 16:41] hellais commented on #773
I believe electron is superior to nw.js in many regards http://electron.atom.io/ and in my little experience of using it I am quite pleased with it.

[2015-05-22 17:33] infosquatter commented on #1260
That is true. Can the tor2web logs be disabled by default? Maybe there
should be a 'Globaleaks configuration standards' for tor2web?

Arturo Filastò:

[2015-05-22 17:40] evilaliv3 commented on #1265
i agree with with the doge; let's see if they will change permissions in the future.

[2015-05-22 17:40] #1265 closed

[2015-05-22 18:20] fpietrosanti commented on #1265
If the product it's useful please let's use it by setting up a "bitch repository" with automatic cloning from the real one.

When a technology is good and valuable and the code is public, there's no privacy issue if you don't care about data integrity.

Sent from mobile

[2015-05-22 18:24] evilaliv3 commented on #1265
i don't like granting people the power for forcepushing on globaleaks embedding code inside it without us not noticing it.

obviously github can do the same, but it has more eyes on it.

[2015-05-22 18:24] evilaliv3 commented on #1265
and in general i do not trust a project that set wrong permissions in general due to ignorance on the matter.

[2015-05-22 18:41] vecna commented on #800
Ok, Everything is done here. The only things unclear is the request of @fpietrosanti about the email template for the admin: to say what ?

This branch is merged in #798 and already rebase to devel, in the PR #1277 Issue will be closed when merged.

[2015-05-22 19:59] vecna commented on #938
don't worry, just the stuff has been integrated, and now many other issues depends on this code, so we can safely assume that everything is gone well.

[2015-05-23 15:28] fpietrosanti commented on #1260
@infosquatter Tor2web have not logging enabled by default

[2015-05-25 12:52] vecna commented on #798
Done some days ago the first and the second. still TODO the anomaly savings.

[2015-05-25 13:51] fpietrosanti opened #1278 "DISABLE_MAIL_TORIFICATION from /etc/default/globaleaks does not work"
If you try to setup globaleaks with  DISABLE_MAIL_TORIFICATION in /etc/default/globaleaks set to 1 the platform will not start with the following error:
# DISABLE_MAIL_TORIFICATION = [0/1]
DISABLE_MAIL_TORIFICATION=0

root@ubuntu2:~# /etc/init.d/globaleaks start
 * Starting GlobaLeaks daemon globaleaks
 * Enabling GlobaLeaks Network Sandboxing...
   ...done.
 * Enabling GlobaLeaks Apparmor Sandbox

[2015-05-25 14:46] evilaliv3 commented on #1278
the parameter was written wrong inside the init script;
in addition also the parameter inside /bin/globaleaks had not an uniform name with the others.

[2015-05-25 14:46] #1278 closed

[2015-05-25 18:38] #444 closed

[2015-05-25 18:41] evilaliv3 commented on #1130
as discussed it's not a requirement for the need for which it was thought.

given that this issue can be closed for the moment as not useful.

[2015-05-25 18:41] #1130 closed

[2015-05-25 22:01] evilaliv3 opened #1279 "A build script should be written and documented"
In order to simplify and properly manage the build of the package in a secure and error free fashion it would be useful to rewrite a packaging script as it was present in past.

This would be helpful for:
 - speeding up the packaging / release process with an an human error free process
 - automating packaging for unit-testing

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2015-05-25 22:38] evilaliv3 commented on #1279
I've updated the guide with latest instructions as it was not updated: https://github.com/globaleaks/GlobaLeaks/wiki/Release-Procedure

[2015-05-27 15:46] evilaliv3 commented on #354
@fpietrosanti with commit https://github.com/globaleaks/GlobaLeaks/commit/a9b246cbb701eb3d748643772128ec29408b0987 i've implemented what you see in the screenshots.

for me it's the short term fix in order to make the interface more intuitive but now i've implemented it i'm not sure it was what you had in mind.

if your was a different idea that would require impacting on current deploymend (think

[2015-05-27 15:59] fpietrosanti commented on #354
@evilaliv3 maybe the default layout should provide a different "visualization" that's more user friendly. For example the user must be shown all the context without having to click to list them

[2015-05-27 17:04] evilaliv3 commented on #354
sure. this would involve more invasive change of the minimum fix i've currently applied.
let's postpone the discussion for the moment.

[2015-05-29 06:50] fpietrosanti opened #1280 "Provide a "other" choice for "checkbox" and select-box that enable adding a custom text"
The current fields of Checkbox and SelectBox enable the user to choose among pre-defined data-set but does not allow to have a last "other" choice, where the user select it and a text field appear to enable better specifiying of the choice.

This requirement come from ozivieni as
"> 1) Is it possible to have checkbox named "other" and in case it is checked the text field is going to appear?"

[2015-06-01 18:02] #1279 closed

[2015-06-01 18:07] evilaliv3 commented on #1227
as the branch is still not ready for integration let's move this ticket to next month milestone.

[2015-06-01 18:10] evilaliv3 commented on #935
this has been implemented completely but the code is still in end2end branch. let's move this ticket to june milestone with the aim of integrating end2end branch.

[2015-06-01 18:12] evilaliv3 commented on #1108
components for this have been already tested but such such a feature for the receiver is still not present even in end2end branch. let's move this ticket to next milestone.

[2015-06-01 18:17] evilaliv3 commented on #921
@vecna if i'm not wrong concerning this ticket no step forward has been don in the direction of what fabios was proposing right?

anyhow @fpietrosanti i would suggest for the moment to keep this only configurable by the admin in order to not introduce so much features for the receiver while we are still testing their usefulness

[2015-06-01 18:18] evilaliv3 commented on #792
this code still need to be finalized and integrated in end2end branch

[2015-06-01 21:07] evilaliv3 commented on #800
okay @vecna current backend implementation satisfy me. the clientside one was for me a little too complex from usability point of view an due to the fact that i was interested in integrating the functionality with a not invasive interface i've integrated all except the countdown widget but implemented the countdown on the button. tomorrow i will be out but returning i will properly finalize and re

[2015-06-02 07:06] fpietrosanti commented on #921
@evilaliv3 From the use-scenario described by amnesty receivers are likely to configure themselves the parameters (because they go on mission), while IRPI and TI-it probably do not need it because a 1-receiver leaksite where receiver=admin

[2015-06-02 13:53] #1228 closed

[2015-06-02 13:54] #798 closed

[2015-06-02 13:55] vecna commented on #297
Finally, also this issue from the first PT became closed :)

[2015-06-02 13:55] #297 closed

[2015-06-02 13:57] vecna commented on #796
Based on the updates, the remaining section of this issue will be completed with the #800, closing this one.

[2015-06-02 13:57] #796 closed

[2015-06-03 11:27] evilaliv3 commented on #448
closing this ticket as Protractor has been currently adopted and integrated with Saucelabs and all the related code is already in place on devel branch

[2015-06-03 11:27] #448 closed

[2015-06-03 11:29] evilaliv3 commented on #1240
closing this ticket as  all has been reviewd and finalized and all is in place on devel branch

[2015-06-03 11:29] #1240 closed

[2015-06-03 17:44] evilaliv3 commented on #800
the current implementation satisfy the requirement of the deliverable. eventual UI improvals are postponed for later develpements.