[2016-03-23 16:52] fpietrosanti opened #1599 "Evaluate the privacy improvement of downloading TorBrowser files using Javascript SaveAs"
This tickek is to evaluate the privacy improvement of downloading TorBrowser files using Javascript SaveAs.

Actually when a user download TorBrowser from the file provided by GeTor feature of Tor2web (https://github.com/globaleaks/Tor2web/issues/168), that will be directly embedded in GlobaLeaks by #1041, leave traces in the browsers:
* History
* Downloaded Files

This ticket is to evaluate the f

[2016-03-23 16:54] fpietrosanti commented on #1599
Related to https://github.com/globaleaks/Tor2web/issues/295

[2016-03-24 09:21] fpietrosanti opened #1600 "Error of untrusted certificate on deb.globaleaks.org"
Fabio, install of globalleaks result error:  ERROR: The certificate of `deb.globaleaks.org' is not trusted.

[2016-03-24 09:22] fpietrosanti commented on #1600
https://www.ssllabs.com/ssltest/analyze.html?d=deb.globaleaks.org&hideResults=on report grade-C with "Chain issues	Incorrect order, Extra certs"

[2016-03-24 11:40] evilaliv3 opened #1601 "Icons are not visible on IE/EDGE"
Bootstrap Icons appear to not be visible on IE/Edge.

The cause still require to be investigated.

[2016-03-24 11:49] evilaliv3 commented on #1601
@fpietrosanti: I've never noticed the bug but it may be present since time with people people simply not reporting it?

i may lie in the wrong content-type that the application send out for the fonts:
![screenshot from 2016-03-24 12 46 42](https://cloud.githubusercontent.com/assets/217034/14016170/ae575594-f1be-11e5-8e27-550d9a4fb892.png)

as you can see some are delivered as text/html

p.s. Sauce

[2016-03-24 11:53] fpietrosanti commented on #1601
That's probably because we disable IE Mime Sniffing (X-Content-Type-Options: nosniff) from https://docs.google.com/document/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U

[2016-03-24 11:58] evilaliv3 commented on #1601
But we are not doing it recently; so maybe this bug exists since ever?

Anyhow currently on python side we were guessing the mime type given the extension.

with the same library (the standard python one) i'm able to do the following:
- read the mime type and see if it is a known one with read_mime_type
- if None is returned guess it based on the extension as we are doing.

https://docs.python.org

[2016-03-24 14:21] evilaliv3 commented on #1601
I've partially addressed the issue adding some missing mimetypes that are now delivered correctly.

Anyhow this has not solved the problem:
![screenshot from 2016-03-24 15 13 07](https://cloud.githubusercontent.com/assets/217034/14019632/16028280-f1d4-11e5-8217-a6d3d64cfeed.png)

[2016-03-24 15:41] NSkelsey opened #1602 "Integrate Mocha tests into Grunt and Travis Builds"
This one should be easy. The Frontend api tests are not run in the travis builds, but they should be.

A command like this runs them:
[code]

[2016-03-24 16:19] evilaliv3 commented on #1602
well done! when is thicketed it's there! ;)

as estimation yep it's totally easy to be done, i've already done it but simply forgot this.

i will pick up this and do when i will be tired of doing something more needed! ;)

[2016-03-24 16:30] evilaliv3 commented on #1601
The BUG was lying in IE/Edge not loading fonts when the cache is not allowed; this is crazy but it is.

So the only fix possible for allowing bootstrap fonts is:
[code]

I'm going to open a ticket to asses the forensic traces that this would open on IE/Edge and in general to assess on every browser the possible traces left by downloading the bootstrap fonts.

[2016-03-24 16:37] #1601 closed

[2016-03-24 16:43] evilaliv3 opened #1603 "Perform assessment of the forensics traces left by bootstrap fonts loaded through the platform"
It would be important to perform an assessment of the forensics traces left by bootstrap fonts loaded through the platform.

This should be done for every browser and in particular for IE/Edge and the reasons are the following:

Normally we do not allow the browser to leave a cache of the files download by enforcing various headers:
[code]

This makes the browser do not cache the files, but some f

[2016-03-24 18:28] NSkelsey commented on #1603
I think a test case that demonstrates the specific issue and the resolution to it would be a very valuable thing to have.

Let's determine what exactly is the forensic trace getting left around, write a test demonstrating it and find a way to mitigate it.

[2016-03-24 20:37] NSkelsey opened #1604 "Order should not matter for arguments to backend/bin/globaleaks."
In the example below swapping `-z` and `-d` should not change the behavior of the script, but it does.

[code]

[code]

[2016-03-24 21:14] NSkelsey commented on #1602
The new devDependency which I have added is: https://github.com/pghalliday/grunt-mocha-test

After some scrutiny the group seems fine. However it seems to me that this project could have 3 less dependencies if a simple exec command was used inside of the Gruntfile:

[code]

@evilaliv3 for future reference which one do you prefer?

[2016-03-24 23:32] NSkelsey commented on #803
I have a generated a wireshark packet capture of NPM and Bower's current behavior. I can share this on request.

From what I can tell no discernible HTTP traffic is generated on `npm install` or `bower install`.

[2016-03-24 23:32] #803 closed

[2016-03-25 00:46] #1602 closed

[2016-03-25 00:47] #1596 closed

[2016-03-25 00:54] NSkelsey commented on #1604
Command line config is passed to: http://twistedmatrix.com/documents/8.1.0/api/twisted.application.app.ApplicationRunner.html

globaleaks/settings.py does a bit of work as well.

[2016-03-25 08:03] evilaliv3 opened #1606 "The text that prompt to login whistleblowers should be customizable"
An adopter requested for the possibility that the text that prompt to login whistleblowers could be customizable.

Default text will continue for now to be: "Have you already filed a submission? Enter your key code."

As discussed with @NSkelsey probably the title for this admin configuration should be: "Text of prompt to login whistleblowers".

This text has been already pushed for translations.

[2016-03-25 08:50] fpietrosanti commented on #1603
Directly related to the normal-browser-forensics-privacy-testing-and-improvements at #1599 #1433 (those two are very relevant for ICC)

[2016-03-25 12:17] fpietrosanti commented on #1600
* Fixed DH + applied config
root@deb:/etc/nginx/ssl# openssl dhparam -out dhparams.pem 2048
ssl_dhparam /etc/ssl/private/dhparams.pem;

* Copied certs/key/bundle from website, applied

* Improved SSL config
        ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;

Now grade "A" on ssllabs.com

[2016-03-25 12:17] #1600 closed

[2016-03-25 15:22] fpietrosanti opened #1607 "Evaluate integration of pre-configured fonts and image embedded in the CSS"
Given the new feature to serve images from the database with data:uri functionality for the GLClient, this ticket is to evaluate the feasibility and usefulness to embed also in the CSS the default fonts and images.

Maybe https://github.com/cheton/browserify-css/ maybe a tool, that in the example show to how embedd fonts and images, from https://www.npmjs.com/package/browserify-css "You can embed

[2016-03-25 16:05] fpietrosanti opened #1608 "Disable unused SMTP client authentication methods for notification"
This ticket is to Disable unused SMTP client authentication methods for notification, so that the GlobaLeaks' s SMTP client will only use for SMTP AUTH the method PLAIN and LOGIN, that are the one used everywhere over SMTP/TLS.

Disabling it, would prevent authentication setup problems when configuring a local SMTP relay with TLS and authentication when the Email Server do provide CRAM-MD5 authent

[2016-03-25 16:08] fpietrosanti opened #1609 "If the emailserver configure for notification is 127.0.0.1, localhost or local hostname does not use socks"
If the email server configured for the notification is configured as 127.0.0.1, or localhost or the local hostname of the machine, the socksificaion for tor anonymous network shall not happen.

Tor cannot transport connection to localhost, for that reason notification will not work.

[2016-03-25 16:13] NSkelsey opened #1610 "Fix broken protractor tests on Travis and Saucelabs"
On both devel and master travis is reporting that 16 out of 46 end2end tests it is running in the `GLTEST='unit' GLREQUIREMENTS='trusty'` job are failing.

This should be fixed. Below is the log output from a recent build of master. As discussed online the errors may be coming from the loading panel making elements unclickable, or from latency introduced by the smaller environments on the build se

[2016-03-25 17:15] NSkelsey commented on #1604
The `-z` options eats the next argument in the list.

For the sake of moving forward. I am updating the docs and moving on.

Proper invocation looks like:
[code]

[2016-03-25 17:15] #1604 closed

[2016-03-25 19:19] evilaliv3 commented on #1604
Also -z evil works!

[2016-03-25 19:27] evilaliv3 commented on #1610
At the same the code used in the test is instrumented so:
1) does run slower for this reason and beign slower can trigger some race
conditions
2) the instrumented code may be buggy due to something of the changes we
put (Even the commas maybe). I will check later

[2016-03-25 20:03] NSkelsey commented on #1610
I do not think it is (2) if you look at the jobs in the [current master](https://travis-ci.org/globaleaks/GlobaLeaks/builds/117653850) which is 150 commits behind devel the problem persists.

I am not sure what is up.

[2016-03-25 21:16] NSkelsey opened #1611 "Exception notifications should be disabled by default."
It was surprising for me to discover that client side exceptions are emailed to `globaleaks-stackexception@lists.globaleaks.org` by default once you configure a connection to an SMTP server.

This should definitely be an opt-in feature, where the administrator chooses to share information to help improve the platform. It **should not** be something that you have to notice and opt-out of.

All good

[2016-03-25 21:23] NSkelsey commented on #1611
The UI improvements could either move the notification tab over, or bring it into the 'main' configuration.
As the main configuration stands at the moment, it appears to the unexperienced admin (e.g. Me) that the SMTP email will be receiving emails from the platform not sending them.

The picture below suggest either moving the fields from notif settings into the main ui or visually emphasizing th

[2016-03-26 09:32] fpietrosanti opened #1612 "The install script must block installation on non-supported platform"
The install script must block installation on non-supported platform, informing the user that he is trying to install on a non-supported platform (everything except Ubuntu 14.04).

The end-user shall be given the opportunity to re-start the install script with a command-line parameter to bypass this check, that's self-explatory, like --yes-i-know-what-i-m-doing-the-planet-will-self-destroy .

I've

[2016-03-27 17:46] evilaliv3 commented on #1611
I agree!

I would rather instead of disabling it:
1. change the aim of the feature and asking if the user want to enable it during the wizard in an opt-int like way like a lot of softwares do. It should be asked if the user want to participate in our secure and anonymous collection of software exeception that would allow us to be proactive in fixing unexpected faults in the application.
2. instead

[2016-03-27 17:53] fpietrosanti commented on #1611
Because having exception notification handling is a very powerful tool to knows when some piece of the software doesn't work well in a preemptive way, i'd suggest to gives the option to enable it (with proper informative messages, like Firefox o various App ask you about crash handling) at the Activation Wizard stage.

[2016-03-27 18:04] evilaliv3 commented on #1612
This ticket re-proposes something already said and discussed in the past; now i'm changing also my vision but this ticket is probably duplicated!

the warning exists already, but it still consider wheezy and jessie as supported platform.

i'm going to leave supported only the Ubuntu LTS.

[2016-03-27 18:06] evilaliv3 commented on #1612
In addition the person that was setupping globaleaks was using an installscript outdated;  the unstabe repository not exists since we started providing different packages for different distributions.

[2016-03-27 18:39] evilaliv3 commented on #1611
ok so, repeating what above with not additional info i think to understand an "i agree".

what is your vision about HTTPS POST or PGP email? :P

[2016-03-27 18:53] fpietrosanti commented on #1611
HTTPS POST are useful to catch Notification's related exceptions, that otherwise would not be available, but email gives the flexibility also to the sysadmin to receive email notification of exceptions.

Probably both could be useful, like sending to GlobaLeaks via HTTPS-post and to the sysadmin that want to know if/when something doesn't work, but only have email available.

An HTTPS POST, could

[2016-03-27 19:07] evilaliv3 commented on #1611
i agree; we could have both HTTP POST (for us) and eventually also SMTP for the admin.

i instead against to the usage of cloud services for storing exceptions: e.g. the exception leaks the user agent, the language, the timing and possibilly other information and the failure can happen after the whistleblower already blown the whistle so that that traces could matter.

[2016-03-28 13:59] NSkelsey commented on #1611
@evilaliv3 I agree with you that there is no reason to integrate a cloud service. I do not like the idea of integrating an external API like airbrake. I think that the safest method would be for the GL server to generate the POST to a Hermes server, through a TOR circuit.

I think that @fpietrosanti's proposal in #437 is the right way to approach this in general. Let the user decide how important

[2016-03-28 14:23] NSkelsey commented on #1565
I have written the backend support for this feature. @luliiSe, @fpietrosanti I am looking for feedback on what email configuration you would like to test. Currently I have dropped a button like so in the admin notification UI:

<img width="638" alt="screen shot 2016-03-28 at 10 06 24 am" src="https://cloud.githubusercontent.com/assets/1095794/14079758/ffd64a1c-f4cd-11e5-8a99-756caf83b733.png">

Th

[2016-03-28 15:11] NSkelsey opened #1613 "Fix UI Problems in Receiver Tip List"
There are a few little errors that should go away in the Receiver's UI.

1. The spacing of columns crushes the column labels
2. There is a hanging bold tag that bolds a few rows.
3. The export button should find a new home when the select box is hidden
4. ~~Short title's should be pruned to less than 30 characters~~ _it behaves the way it is supposed to_

<img width="1190" alt="screen shot 2016-03

[2016-03-28 17:11] NSkelsey commented on #1577
I created some UI to handle the display of UI notifications. The toggle button could be red, but I went with warning yellow because this is a more neutral setting.

**From the tip page this is the new resting interface:**

<img width="284" alt="screen shot 2016-03-28 at 1 05 07 pm" src="https://cloud.githubusercontent.com/assets/1095794/14083917/3126b1a2-f4e6-11e5-995e-9a7d6aaa44da.png">

**With t

[2016-03-28 18:15] evilaliv3 commented on #1577
Good to go, i would suggest the specific icon that bootstap uses for this reasons that is:

```glyphicon glyphicon-eye-open```

and:

```glyphicon glyphicon-eye-close```

what do you think?

[2016-03-28 18:18] evilaliv3 commented on #1613
i numbered you point so that we can discuss them.

[2016-03-28 18:27] NSkelsey commented on #1577
Yeah, I looked at those too. I can switch it. I was going off of [video game semantics](http://z5.ifrm.com/30005/144/0/p1228933/LoLSilence.jpg) for silence.

     ¯\_(ツ)_/¯

And just to check @15a7e0c `enable_notifications` is a per recipient setting for each tip. It is not something that lives in the tip's `context`.

[2016-03-28 18:40] evilaliv3 commented on #1565
well done with this feature! i'ts cool you are learning so fast how to build handlers and interfaces!

i would suggest that you first describe in the tickets what you would like to do so that we can guide you on the already identified need or few direction.

e.g. you identified that the feature test use three different commands like 'admin', 'err-notif' and 'receiver' but i think that @fpietrosant

[2016-03-28 18:47] evilaliv3 commented on #1577
yep i'm thinking it have to live in the receivertip as it has to be per-receivertip in order to be per-receiver/per-user.

do you see something wrong in this?

[2016-03-28 18:49] NSkelsey commented on #1577
Nope. This is the right choice.

[2016-03-28 21:45] NSkelsey commented on #1613
1) I suggest we use tooltips for the smaller columns instead of full labels.

2) I would rather have a new pill. Like so:
<img width="203" alt="screen shot 2016-03-28 at 5 43 31 pm" src="https://cloud.githubusercontent.com/assets/1095794/14091174/b04c06e6-f50c-11e5-9c26-a5b4399b1f39.png">

3) The export button can go in the barcode column before the file name, when there is no mass select box.

[2016-03-28 22:47] evilaliv3 commented on #1613
1. that would not solve anyhow; in the future every field of the submission will be possibly exported in a column: e.g. column name, surname, gender etc; this will be important to make possible search and order over a question/answer; things in general that we will probably end in having the possibility of having 100 columns (were anyhow we could have long column titles like "Persons involved" tha

[2016-03-29 08:34] evilaliv3 commented on #1613
ops, @NSkelsey; cleaning my comment where i did not answer to all your questions i removed your questions for error; your questions were:

[code]

I would say:
1. that would not solve anyhow; in the future every field of the submission will be possibly exported in a column: e.g.  name, surname, gender etc; this will be important to make possible search and order over a question/answer; things in g

[2016-03-29 13:26] NSkelsey commented on #1613
2. The reason I added 2. to the list was because I did not realize what the bold indicator meant. I am okay with keeping it the way it is.

3. Okay

[2016-03-29 14:11] NSkelsey commented on #1577
Merged. Please leave comments here if you find problems with the feature.

[2016-03-29 14:11] #1577 closed

[2016-03-29 14:43] NSkelsey opened #1615 "Prevent Leak of SMTP Server Password"
Currently the admin is handed the smtp server password via JSON when visiting `/admin/mail`. There is no reason to do this.

From a recorded session:
[code]

The relevant lines in the [code](https://github.com/globaleaks/GlobaLeaks/blob/master/backend/globaleaks/handlers/admin/notification.py#L61-L67)

There is an additional return trip that needs to be handled when this object is PUT back to the

[2016-03-29 15:33] NSkelsey commented on #1615
See commit comment for discussion.

[2016-03-29 15:33] #1615 closed

[2016-03-29 18:03] fpietrosanti commented on #1565
1. Regarding the Test-Admin email, it may just mean "This currently logged-in admin user account's configured email or, if email is not configured for whatever reason for that user, the system configured one"

2. Regarding "Call save before sending" info, can't we just trigger automatically a "Saving of settings and then, if saving didn't triggered an error, testing email sending" to leave end-use

[2016-03-29 19:17] NSkelsey commented on #1565
1. Okay it will just use the current account. Wasn't sure if you wanted recipient and other tests done.

2. Yes that is what that sentence means (I will get rid of it because it is confusing) "_Call_ save before sending." is an imperative sentence which instructs the reader to do something. While "_Calls_ save before sending." is a declarative sentence that describes what the button does. :)

[2016-03-29 19:32] evilaliv3 commented on #1565
Correcting what fpietrosanti written every user (and so each admin ) has
always an email configured

[2016-03-30 20:47] #1612 closed

[2016-03-30 20:51] evilaliv3 commented on #1610
I've now seen that in the real the log you are reporting @NSkelsey is not related to saucelabs but to the headless tests performed on travis; the coverage test infact is performed direclty on travis without using the saucelabs service.

With commit https://github.com/globaleaks/GlobaLeaks/commit/b5619179d96106cd96654ce9b0db6be1e5b14dd4 i've raised from 60seconds to 180 seconds the timeout on travi

[2016-03-30 21:00] NSkelsey commented on #1610
As far as various tests sauce lab tests that failed on the [last build of master](https://travis-ci.org/globaleaks/GlobaLeaks/builds/117653850). I have documented a few of the reasons below:

[code]

[2016-03-31 15:10] NSkelsey commented on #999
The preference would be to implement this feature in a similar way to Firefox handles their config.

http://kb.mozillazine.org/About:config

[2016-03-31 19:31] evilaliv3 opened #1619 "Fix eslint errors for protractor, angular and jasmine"
At the time of commit with eslint plugins for protractor+angular+jasmine we have 1312 problems (917 errors, 395 warnings) [full log at the end of the issue].

This should be investigated, the main relevant fixed and the other fix should follow in the future.

The configuration needed in order to trigger them is:
[code]

due to this failures the devel branch contains instead only:

[code]

[code]

[2016-03-31 19:55] NSkelsey commented on #1619
`angular controller-as` changes the way scope is used in angular templates. Forcing this directive would change quiet a bit of code. I suggest dropping it from the requirements.

Instead of using controllers like so:

[code]

It advocates for using controllers with their own scope:

[code]

The resulting change also reflects itself in how the controllers use `$scope` or replace it with the `this`

[2016-03-31 20:50] evilaliv3 commented on #1619
i'm not getting the point of your suggestion;

are you simply suggesting to disable this check?

[2016-03-31 20:52] NSkelsey commented on #1619
Yes

[2016-03-31 21:40] evilaliv3 opened #1620 "Make it ready for Windows L release"
As Microsoft finally bought Canonical [1], we should now concentrate our efforts on releasing GlobaLeaks for the first Microsoft product based on Linux: Microsoft L.

Because if the hill will not come to Mahomet, Mahomet will go to the hill.

[1] http://fossbytes.com/microsoft-buys-canonical-kills-ubuntu-linux-forever/

\cc @vecna @mmaker @NSkelsey @fpietrosanti @hellais

[2016-04-01 07:29] evilaliv3 commented on #1619
I've reviewed all the errors types and nothing is that critical; in addition all the modules were enabled on all files creating false positives.

I would suggest to keep only the standard eslint for now and eventually do a manual review passing on the github repository of the module and read about the best practices and thats it.

[2016-04-01 22:16] evilaliv3 opened #1621 "Adopt rtlcss in order to deal with automatic handling of rtl CSS files whenever possible"
The [rtlcss](https://github.com/MohammadYounes/rtlcss) by @MohammadYounes seems to work really well in handling automagically RTL conversion of CSS written for LTR.

That library is already used by wordpress and is under evaluation by the bootstrap: https://github.com/twbs/bootstrap/issues/19555

It would be interesting to adopt it in the project instead of caring of all manually

[2016-04-01 22:38] NSkelsey commented on #1621
Are you thinking that this will be implemented as a compiled CSS file that is used only when an RTL language is chosen?

This seems like a win-win.

[2016-04-01 23:08] evilaliv3 commented on #1621
In general i do not like that much the solutions that dupliate the file cause they leak information, like that the user is an RTL user, leak a lot, but we can evenually serve anyhow both the files and use one of them on the client. The same apply sadly for the translations that generally are really bigger, but we can evaluate to gzip them inside the client so to pack them and reduce their size.

[2016-04-01 23:23] evilaliv3 commented on #1621
Having a single file is an option discussed by in https://github.com/MohammadYounes/rtlcss/issues/34 and doable with https://github.com/rtsao/postcss-rtlcss-combined but as rightly identified by @MohammadYounes that could lie various isues due to the css hierarchies so for the meantime let's simply accept to have two different files.

[2016-04-01 23:28] NSkelsey commented on #1621
@evilaliv3 you are in general referring to the issue of analysis of HTTPS traffic. That issue is larger in scope than one or two CSS files.

My understanding of the Tor browser was that this issue is addressed by noise generated in the Tor network.

[2016-04-01 23:32] MohammadYounes commented on #1621
There is also [postcss-inline-rtl](https://github.com/jakob101/postcss-inline-rtl) which inlines the minimum amount of RTL CSS you need and solves the specifity problem.

[2016-04-01 23:36] evilaliv3 commented on #1621
thanks @MohammadYounes! we will keep that in mind!

[2016-04-01 23:38] evilaliv3 commented on #1621
Implemented! if you would like to cite us as your early users we would love that! :)

GlobaLeaks, the first open-source whistleblowing framework built using AngularJS, Bootstrap and Twisted!

[2016-04-01 23:38] evilaliv3 commented on #1621
![screenshot from 2016-04-02 01 28 06](https://cloud.githubusercontent.com/assets/217034/14222662/99d1d55c-f873-11e5-97a8-bdaeda074a49.png)

[2016-04-01 23:42] #1621 closed

[2016-04-01 23:51] MohammadYounes commented on #1621
Sure, update the readme and send a PR.

Also [RTL-bootstrap](https://github.com/MohammadYounes/RTL-bootstrap/tree/3) might be of interest to you (also contains JS components RTL support)

[2016-04-02 00:33] evilaliv3 commented on #1621
Thanks.

Yes all our interest in rtlcss is mainly for boostrap, but we found RTL-bootstrap still not not handled that well and not aligned with bootstrap 3.3.6 and the latest patches; Would it take time to do a proper clean patching?

p.s. i've already tried also ```postcss-inline-rtl``` but  it seems to have some defect:

![screenshot from 2016-04-02 02 25 39](https://cloud.githubusercontent.com/

[2016-04-02 00:58] #1619 closed

[2016-04-02 00:58] evilaliv3 commented on #1606
Implemented and integrated in devel; will be shipped in next release.

[2016-04-02 01:02] #1606 closed

[2016-04-02 06:42] jakob101 commented on #1621
I'd like to see what's the issue with postcss-inline-rtl, and resolve it :)
I'm out of the country but will be back on monday. Can we talk more then?

[2016-04-02 09:10] evilaliv3 commented on #1621
sure @jakob101, reach me even on skype if you like; my nick handle is 'evilaliv3'

[2016-04-02 10:03] MohammadYounes commented on #1621
I'll rebase with bootstrap master later today.

[2016-04-02 10:11] evilaliv3 commented on #1621
great @MohammadYounes!

let me know if i can help somehow. what would be great instead of a simple rebase would be to do a patching with few organized commits atop of a clean 3.3.6 that is likely to be the final stable version of bootstrap;

probably something done with rtlcss/postcss-inline-rtl is likely to be integrated in bootrap and would be a great benefit for the community out there: https:/

[2016-04-02 10:32] MohammadYounes commented on #1621
Currently it's 3.3.5 ([comparison](https://github.com/twbs/bootstrap/compare/v3.3.5...MohammadYounes:3)). It has 1 extra feature that [wasn't merged](https://github.com/twbs/bootstrap/pull/14818).

I thought about sending a PR, but they made it clear no RTL support will be added to v3

[2016-04-02 10:42] evilaliv3 commented on #1621
Okay, my suggestion is to squash it a little having in this order to have atop of 3.3.6
- a commit that rtlcss
- few clean commit that have the eventual patchs
- a last commit with the build

i'm unsure if it would be a good result to relase it using postcss-inline-rtl so to have a single file that can do both depending on the rtl direction.

[2016-04-02 10:47] MohammadYounes commented on #1621
Yeah, using postcss-inline-rtl will make it easier for distribution. I'll do it later tonight :)

[2016-04-02 11:47] evilaliv3 opened #1622 "Evaluate adoption of docker as app container"
Following the research already done in https://github.com/globaleaks/GlobaLeaks/tree/master/appliance, it would be interesting to complete the design of the appliance by integrating docker as app contaiiner.

A first draft of the docker container has been already implemented by @mwaeckerlin in https://github.com/mwaeckerlin/globaleaks

\cc @ianribas @n-daniel

[2016-04-02 13:49] evilaliv3 opened #1623 "Implement mlockall(1|2) in order to prevent RAM to be swapped"
In relation to tickets like https://github.com/globaleaks/GlobaLeaks/issues/685 it would be important to implement mlock().

In previous test implementation we were not considering the possibility to enable both the flag 1(CURRENT) and 2(FUTURE) at once.

This can simply done with the following snippet:
[code]

This would allow the backend to lock all the current data pages and the future ones.

[2016-04-02 13:54] evilaliv3 commented on #685
The RAM encryption is Implemented since time; the only missing part is the mlockall(1|2) that is now tracked by a specific ticket.

[2016-04-02 14:02] evilaliv3 commented on #1623
@fpietrosanti the feature is ready and working.

what missing is:

1. to define the amount of RAM required by GLobaLeaks in order to set ulimit -l that by default is 64kb on ubuntu 14.04
2. modify /etc/default with a ```RAM=VALUE```
3. modify /etc/init.d/globaleaks to perforrm ```ulimit -l $RAM```
5. modify /etc/init.d/globaleaks to call globaleaks with ```-P``` (disable_swap)
6. decide how to han

[2016-04-02 14:49] fpietrosanti commented on #685
@evilaliv3 If it's implemented (are we sure?!?), it must be documented in the Application Technical Security Document to close this ticket, explaining how does it works. Afaik SD did managed to do it only with custom C-code patching and kernel's PAX feature that we are not using

[2016-04-02 14:50] fpietrosanti commented on #1623
I remember that the problem with mlock() testing was that application where going in OOM, without any possibility to recover it, so we postponed it to a possible future when we'll have a supervisor capable of handling that condition

[2016-04-02 15:07] evilaliv3 commented on #1623
this can happen regardless of the mlock();

do you sometimes answer to the question that the others write? :)

[2016-04-02 15:09] evilaliv3 commented on #685
ah no you are right, i was confusing this ticket with the encryption in RAM.

[2016-04-02 15:15] evilaliv3 commented on #1623
and here is the solution to your big problem:

/etc/cron.d/globaleaks:
[code]

[2016-04-02 15:20] fpietrosanti commented on #1623
Well not as easy, because the OOM killer of Linux try to defend the stability of the system and in a OOM condition (where there's not enough memory + not enough swap and cached-memory has been totally free'd up), the most often memory consuming software will get killed. Instead, with a fixed memory hard-limit on the software, any memory pressure on the system (ie: because a backup is running and t

[2016-04-02 15:22] fpietrosanti commented on #1623
The vecna's report on mlock breaking globaleaks is at #843 on enabled by default swap encryption

[2016-04-02 15:24] evilaliv3 commented on #1623
that's not report but a "it does break all the system".

i'm so scared now that i'm about to give up with all the project.

[2016-04-02 15:27] evilaliv3 commented on #1623
an you know why it was considered that "it does break all the system" ?

simply because no one checked that "ulimit -l" answer 64kb.

i do science or at least i try but if you @fpietrosanti prefer to simply raise unsolvable problems proceed for it!

[2016-04-02 15:36] fpietrosanti commented on #1623
I'm just __underlying__ that dealing with memory management related things can be risky because of OOM (referring to the #843 tests) and that the risks that may occur cannot be "detected / exception handled" unless there's a supervisor process, so we would not know if something bad happened due to that feature. Enabling by default maybe risky, some "controlled" testing on our platform maybe better

[2016-04-02 15:42] evilaliv3 commented on #1623
you are right what i'm criticizing is:
1) i'm saying that we need to handle the OOM issue anyhow; now i'm pushing the cron job without no discussion as you were not interested in discussing and i've implemented it now.
2) 1) will solve the current totally unhandled status, and would also solve in case we we disable the swap and there is nothing an hipervisor can do more that the cronjob cannot do

[2016-04-02 15:46] NSkelsey commented on #1623
3) The average RAM size may not reflect peak RAM usage on the machine. Let's write a test case that creates memory pressure to see how the application behaves and observe what actually happens if it is OOM.

[2016-04-02 20:27] evilaliv3 commented on #1623
as discussed of the record with @fpietrosanti, probably the best is to simply set ```ulimit -l unlimited``` in order to let the globaleaks binary to not swap at all.

as experiment i will implement that but i think in the end i would make no sens to be used;
the reason is that avoiding the program to swap without never release the memory it allocated would simply cause failures.

@fpietrosanti hav

[2016-04-02 20:31] evilaliv3 commented on #1623
with ulimit as well we could limit the virtual mmory size of the process in order to avoid it use more than X.

[2016-04-02 23:50] MohammadYounes commented on #1621
I pushed [inline-rtl](https://github.com/MohammadYounes/RTL-bootstrap/tree/inline-rtl) branch, to get a working local build, postcss-inline-rtl requires the following updates:

* adding `float` to the always convert list ([PR](https://github.com/jakob101/postcss-inline-rtl/pull/2)) - without this justified button groups will be broken.
* account for comment nodes when removing empty rules ([PR](ht

[2016-04-03 08:21] MohammadYounes commented on #1621
A preview of the docs can be found @ http://mohammadyounes.github.io/RTL-bootstrap/inline

[2016-04-03 09:04] jakob101 commented on #1621
You, my man, are great!

Thanks, I missed that.

Hope you had a good night sleep :)

On 3 April 2016 at 01:50, Mohammad Younes <notifications@github.com> wrote:

[2016-04-03 09:19] MohammadYounes commented on #1621
Thanks  :)

[2016-04-03 10:03] evilaliv3 commented on #1621
This is amazing!

other suggestions that comes to my mind:
- As bootstrap releases versions with numbering ```X.Y.Z```, let's start releasing ```X.Y.Z-K``` or ```X.Y.Z.K``` depending if the first is standard or not; e.g. would you please release a ```3.3.6-1```
- would you please tag a release, put in on bower and we will start using it!

question: we are using https://github.com/angular-ui/bootst

[2016-04-03 10:04] evilaliv3 commented on #1621
thanks @MohammadYounes you are doing really an amazing job! :)

[2016-04-03 10:33] MohammadYounes commented on #1621
@evilaliv3 Thanks :)

The only change to JS was in [tooltip placement](https://github.com/MohammadYounes/RTL-bootstrap/commit/3be91ac69ddd92a47e1e53bcebe2b80b3d04b30e#diff-f3e99e0bb007ace7a370f0492b9cb5ab) since it was done via JS not CSS.

For Angular UI, the same needs to be done [here](https://github.com/angular-ui/bootstrap/blob/master/src/position/position.js#L434-L485).

I'm still waiting fo

[2016-04-03 10:56] MohammadYounes commented on #1621
I just noticed that carousel transition is not working as expected :(

I'll check it later tonight.

[2016-04-03 11:33] evilaliv3 commented on #1621
ah! anyway i'm thinking to change back from angular-ui/bootstrap to http://mohammadyounes.github.io/RTL-bootstrap/inline!

let's do it :) as soon that it will be ready and aligned with the 3.3.6 i will one shot do the change!

[2016-04-03 12:51] evilaliv3 commented on #1621
ah no damn, for various reasons we would still need to run us anguar-ui/bootstrap for the more control it offers us in angular :( i will so try to build a patch for the tooltips in RTL as you did in http://mohammadyounes.github.io/RTL-bootstrap/inline

[2016-04-03 12:59] jakob101 commented on #1621
@MohammadYounes I will update tomorrow, I'm still out of the country! :)

On Sun, Apr 3, 2016 at 5:51 AM -0700, "Giovanni Pellerano" <notifications@github.com> wrote:

ah no damn, for various reasons we would still need to run us anguar-ui/bootstrap for the more control it offers us in angular :( i will so try to build a patch for the tooltips in RTL as you did in http://mohammadyounes.github.io/R

[2016-04-03 13:18] mwaeckerlin commented on #1622
Thank you for the mention. Feel free to use my implementation, use it, clone it, change it, provide upstream. Ask me, if I can help. I already used it in a test installation, so it works: https://github.com/mwaeckerlin/globaleaks

[2016-04-03 17:54] evilaliv3 commented on #1189
this could be probably closed as orweb does not provide fingerprinting capabilities (and i think so of orfox); i hthink the guide we have is enough.

[2016-04-03 18:04] comradekingu commented on #1189
Orweb is deprecated in favour of orfox https://guardianproject.info/2015/06/30/orfox-aspiring-to-bring-tor-browser-to-android/

None of them sends a specific user-agent, unless you request the mobile site. A multiple choice guide when JavaScript fails might be the best solution.

[2016-04-03 18:23] #1189 closed

[2016-04-03 18:37] comradekingu commented on #1192
I think flags should be added to the UI. This offers one-click selection, toggling, and vastly improved cognition.
It also deals with having selected something by accident only to get all options in 'foreign', so that language-names can be properly localized. Followed by ISO 639-1 codes.

So Germany (de) for English
and Deutschland (de) for Germans  Even if you get
ئەڵمانیا (de) for Centralkurdish

[2016-04-03 18:48] comradekingu commented on #378
@fpietrosanti How can you be using Tor and not know what you are doing?
If it's in response to the platform telling you, there is already an explanation as to why it matters.

Isn't it the same disclaimer without suggestion 0, only 1 and 2?
Would you add anything Tor-specific to that? Like not turning it off?

[2016-04-03 19:01] evilaliv3 commented on #1192
thanks for the feedback @comradekingu

i think that for the MVP we should focus on having simply the text internationalized in the natural language of the user instead that in english.

Right now we have:
LANGUAGES_SUPPORTED = [
 { "code": "ar", "name": "Arabic" },
 { "code": "bs", "name": "Bosnian" },
 { "code": "ca", "name": "Catalan" },
 { "code": "de", "name": "German" },
 { "code": "el", "nam

[2016-04-03 19:44] comradekingu commented on #1613
Quick-fix, would "Sent" "Updated" and "Expires" limit it to one line?

If spanning across two lines, changing "Submission date" to "Date sent" should do the trick.

[2016-04-03 20:02] evilaliv3 commented on #1613
Sent, Updated and Expires would solve the issue in english but not generically in a language where every wor takes two words :)

anyhow also if that is not a real case, we should make possible that the table could expand with a scrollbar because due to the configuration we can have infinite columns and this is acceptable and have to work; now instead the table is compressed in a limited space.

[2016-04-03 20:19] fpietrosanti commented on #860
PyGPGME is heavily undocumented (https://bugs.launchpad.net/pygpgme/+bug/530634  http://pygpgme.readthedocs.org/en/latest/ ) but seems to be:
- a) maintained
- b) part of Ubuntu/Debian package

[2016-04-03 20:47] evilaliv3 commented on #860
last edit 3 ears ago (2013-02-13), last release in March 2012 seems to me not that much maintainence.

but it's true that it is in ubuntu and the underlying gpgme is maintained.

https://pypi.python.org/pypi/pygpgme

[2016-04-03 21:58] MohammadYounes commented on #1621
@jakob101 Take your time :)

@evilaliv3 I updated the branch:
 * Fixed carousel by adding `transition` to the always convert list [PR](https://github.com/jakob101/postcss-inline-rtl/pull/5).
 * Fixed tooltip positioning inside modal [commit](https://github.com/MohammadYounes/RTL-bootstrap/commit/f10c0c2afa0ace9a009cc3eb8c9524539d466383).

Now it's fully converted :)

[2016-04-03 23:14] evilaliv3 commented on #1620
implemented!

[2016-04-03 23:14] #1620 closed

[2016-04-03 23:18] evilaliv3 commented on #1613
@NSkelsey i've addressed the various things you highlighted:

- the bold is used on new tips; old tips line avoid to use the bold at all.
- the table avoid wrapping using css ```white-space: nowrap```; in case the table is wider than the page a scrollbar happen; this way we will offer invinite culumns when each question will be unrolled in a column like in the dreams of mr @fpietrosanti

![screens

[2016-04-03 23:19] #1613 closed

[2016-04-03 23:21] evilaliv3 commented on #1623
implemented but to be considered higly experimental.

to enable it one has to add ```DISABLE_SWAP=1``` to /etc/defaults/globaleaks

[2016-04-03 23:21] #1623 closed

[2016-04-03 23:26] evilaliv3 commented on #1610
all is fixed;

IE9 and IE10 sometimes get a failure but they are no more in the grace of god [1]

[1] : https://www.youtube.com/watch?v=Sx7L1aZu698

[2016-04-03 23:26] #1610 closed

[2016-04-03 23:45] evilaliv3 commented on #1621
Great @MohammadYounes!

I was about to integrate it in globaleaks but what we miss is:
- at least that it is published on bower; could you?
- a tagged release would be lovely

if it is good and you also think this would help easy the process what we can do is too fork your project under the GlobaLeaks organization; assign you permissions to commit on the specific repository where to collaborate; i

[2016-04-03 23:59] evilaliv3 commented on #1621
what i was about to do is to use:
[code]

but this forces me to download the whole repository and in addition the repository currently miss the build in the ```/dist``` directory (i would suggest that every time you bild it you commit the build in a separate new commit with the bumb the release.

i've a doubt in the release numbering as bootstrap uses X.Y.Z but semver does not allow X.Y.Z.K with a

[2016-04-04 00:17] evilaliv3 commented on #1621
probably the idea that comes to my mind is to always tag the same version of the current release of bootstrap, and whenever we apply changes simply delete the tag and re-tag it with the same current numbering.

[2016-04-04 00:29] comradekingu commented on #1192
Just the language codes are fine. It solves the "foreign" problem. Adding a "language"-pictogram next to the language dropdown is probably a good idea too.
You could potentially have enabled "foreign" and not know where the menu to undo it is.

Similarly having languagecodes help if someone happens to come by the landing page not speaking a word of English. I suppose you could be sent links with &

[2016-04-04 06:31] fpietrosanti commented on #1623
Closing this require documenting the security feature in "Application Security Specs" or "Operating Security Specs" .

It could be also useful to open-up the improvement tickets of that features for future consideration (detecting/reporting OOM conditions, having an application watchdog loop-free)

[2016-04-04 06:33] fpietrosanti commented on #378
@comradekingu the disclaimer should focus on the security text, whereby Tor is only a minor part, https://docs.google.com/document/d/1ZrndvBj9eTg-ooIRfKbXxX18Ie-ODlcjnHjKXSY78Ew/edit

[2016-04-04 06:35] fpietrosanti commented on #860
@evilaliv3 reading randombit it's also part of Xenial with the debian packages actively maintained, made python3 compatibile, there's a bunch of other ubuntu released packages relying on it, so maybe it jus does what it need to do w/out major issues. To be better evaluated/considered

[2016-04-04 07:19] evilaliv3 commented on #1623
Yep; but what do you think about the issue i described in relation to the fact that the application will keep locked the peak of the memory used at runtime? i.e. if one day the app will use 4GB of ram in a peak, it will keep it locked undefinitely. this is whay i consider this feature a research one, unstable and not really useful to be documented.

the only practical solution to the above program

[2016-04-04 13:32] NSkelsey commented on #1613
Righteous double scrollbar action!

[2016-04-04 13:35] evilaliv3 commented on #1613
what do you mean and how would you solve this?

[2016-04-04 13:35] NSkelsey commented on #1610
The current devel build reports:

[Job GLTEST='unit' GLREQUIREMENTS='trusty'](https://travis-ci.org/globaleaks/GlobaLeaks/jobs/120609324)
[code]

[2016-04-04 17:22] NSkelsey commented on #1565
Internationalized. . . . . Well Sort of!

<img width="715" alt="screen shot 2016-04-04 at 1 21 26 pm" src="https://cloud.githubusercontent.com/assets/1095794/14256700/38ed3cf8-fa68-11e5-83b5-d74ee08b6154.png">

[2016-04-04 19:17] NSkelsey commented on #1565
The code that implements this feature is in the development branch. It should make its way into the next release.

[2016-04-04 19:17] #1565 closed

[2016-04-04 19:26] comradekingu commented on #1613
He means the content in the window out of bounds for both vertical and horizontal space.

A quick fix would be to run with mouseover icons only.
Especially for "Files" "Comments" "Messages" and "Connection" as the column headline eats horizontal space.
![overview](https://cloud.githubusercontent.com/assets/13802408/14260431/c4fe87e0-faab-11e5-8796-a252ec634359.png)

Since "Submission date" and "Ex

[2016-04-04 19:42] evilaliv3 commented on #1613
i get the point that in english it will work better and i'm ok for doing that;

my coomment was to say that also if we will do it:
- it won't solve the problem for the other languages;
- the horizontal scrolling should be infinite anyhow because we will unroll all the questions/answers on a specific column.

[2016-04-04 20:21] MohammadYounes commented on #1621
@evilaliv3 I will commit the `dist` along with the updated version of postcss-inline-rtl (see [#4](https://github.com/jakob101/postcss-inline-rtl/issues/4)).

I think this would be the last version in v3, and for v4 they [mentioned](https://github.com/twbs/bootstrap/issues/19555) it's to be added in a future minor release:

For now, I believe it's easier to have the [`dist`](https://github.com/Moh

[2016-04-05 11:57] vodkina commented on #1513
@NSkelsey, the approach proposed by @evilaliv3 is good for our purposes.
In response to @evilaliv3, I can tell you that I find very useful the burn down chart feature as sprint tracking tool. A good reading on this is https://www.scrumalliance.org/community/articles/2013/august/burn-down-chart-%E2%80%93-an-effective-planning-and-tracki.
Actually, wee are far from an ideal situation, but the overal

[2016-04-05 13:27] NSkelsey commented on #1513
Okay @vodkina, as I work on things I will rate them.

The one thing that we are missing after reading article is the actual planning of sprints – or at least I am not aware of the planning. If we could collect a set of features we wanted to get done in a month, @evilaliv3 and I could work on some of the harder features instead of randomly selecting issues from the repo

:)

[2016-04-05 13:31] NSkelsey commented on #1586
I have been thinking a bit about this and really it provides security for the client loading the web page.

The javascript can do nothing to assert facts about the environment it is running in, but a TLS protected session can at least be sure that the Globaleaks javascript it has downloaded and executed is an official release.

[2016-04-05 13:37] evilaliv3 commented on #1513
Thanks @NSkelsey;

Right know what i was (alone cause i was alone to work) was to plan a monlty milestone, generally created on the ending on the month planning the next month activity.
E.g. you can see that for the past looking for example at https://github.com/globaleaks/GlobaLeaks/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A%222016+March%22+ that was the March milestone.

This helped so far

[2016-04-05 13:40] evilaliv3 commented on #1513
in addition also @vodkina was suggesting to try to separate the montly reporting from the sprint in order to be able to shorten the sprint below the month period but we have to satisfy two requirements:
1. have a way to track what planned/done in a month.
2. have a way to define sprints

do to your personal experience do you have any suggestion @NSkelsey ?

[2016-04-05 14:02] NSkelsey commented on #1576
There are two ways I can see this feature being implemented.

### 1) Submission Content Summarized

Here a notification digest, really means a structured email with content pulled from submissions the recipient has received. Each listed submission could have some fields extracted and included in the email to include rich content.

![blahblahblah](https://cloud.githubusercontent.com/assets/1095794/

[2016-04-05 19:23] MohammadYounes commented on #1621
@evilaliv3  tagged under [3.3.6](https://github.com/MohammadYounes/RTL-bootstrap/tree/3.3.6)

[2016-04-05 22:58] evilaliv3 opened #1624 "min_date and max_date configurations on questions of type Date should deny navigate dates out of boundary"
The current implementation of #1588 allow to configure min_date and max_date on questions of type Date but due to limits of the angular-ui/bootstrap library we can't deny the user to navigate out of the defined range of dates.

This is a limit of angular-ui/bootstrap that is also present in the original bootstrap library and is upstream tracked by: https://github.com/angular-ui/bootstrap/issues/19

[2016-04-05 22:59] evilaliv3 commented on #1588
Implemented and now merged in devel. Will be released in the next stable version.

[2016-04-05 22:59] #1588 closed

[2016-04-05 23:33] NSkelsey commented on #1624
Careful selection of params in the date-picker options might get us out of this.

https://angular-ui.github.io/bootstrap/#/datepicker

[2016-04-06 00:12] evilaliv3 commented on #1624
Nope; sadly the options available help in avoiding to go bottom up selecting the year for example, but there is no configuration that prevenst you to move in the past or in the future by using arrows.

[2016-04-06 07:05] fpietrosanti commented on #1603
We may also need to wvaluate possibility of embedding font files as Base64 data uri, if it do change something regarding "caching" as per:
http://blog.patdavid.net/2012/08/embedding-fonts-with-css-and-base64.html
http://sosweetcreative.com/2613/font-face-and-base64-data-uri
http://stackoverflow.com/questions/25883841/chrome-app-bootstrap-icons-how-to-load-glyphicons-halflings-woff

[2016-04-06 07:06] marceloomens commented on #1576
In my ideal world we'd have digest notifications as in Nick's example (1) Submission content summarized, for receivers with a PGP key installed, with a fallback option as in (2) Summary with no content, for receivers without a PGP key.

I completely agree with @NSkelsey that such a feature would be an incentive to journalists to use the right tools (i.e. set-up encrypted email).

Even in the case

[2016-04-06 07:13] fpietrosanti opened #1625 "Update GlobaLeaks Application Security Design and Details Document with "Web Privacy" related information"
I noted that our " GlobaLeaks Application Security Design" document at https://docs.google.com/document/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U/  is missing all the "Web Privacy" related technical feature that we have in place.

This ticket is to add a new section on Web Privacy documenting the design and technical features of:
- No Cookies (using HTTP headers for auth)
- Various No Caching

[2016-04-06 07:29] evilaliv3 commented on #1576
Thanks @marceloomens for the so valuable feedback!

I agree on all what proposed by you and @NSkelsey; the only concern here is that you may be misunderstunding what we can effectively put as content of the email.
In fact soon there will be finally in place the end2end encryption so that the node would not have the content in plaintext so that the information that could go in the email is only on

[2016-04-06 09:37] fpietrosanti commented on #1576
Well, the only way to share the "content" (whereby we are speaking about "submission fields" and "additional information" and "messages") via PGP-encrypted email is to have a NON-json/pure-text copy of the "content being submitted", encrypted client-side, with all the PGP keys configured for the recipients in the notifications. Then, when the notification schedule make his cycle, send in the notif

[2016-04-06 09:45] marceloomens commented on #1576
Well, off course I'm sensitive to the fact that this may not be possible when end-to-end encryption is available, but then I don't know how far advanced you are with the implementation thereof.

[2016-04-06 10:00] evilaliv3 commented on #1576
@marceloomens the end2end encryption remains the main goal so we have to keep in mind that and not implement something that could not be compatible. We want to make it happen as soon as possible and we cannot introduce something that adopters would start use and will block us to remove it later :(

@fpietrosanti i agree with you that the digest should be considered indipendently; but the digest wi

[2016-04-06 11:48] fpietrosanti commented on #1576
@evilaliv3 having multiple encrypted payloads to be sent separately as attachments may work, because attachment with content-type text/plain are usually visualized in email client as part of the email flow. Probably OpenPGP/MIME allow to do so, but it do require some testing more sophisticated than what i've done on #1286

[2016-04-06 12:09] evilaliv3 commented on #1576
may work with solving 1. not for solving 2.; e.g. does not allow contents to be summarized.

when bullets points exists in an argumentation by someone, answering separately helps the discussion to move forward.

[2016-04-06 12:15] fpietrosanti commented on #1576
@evilaliv3 My thought is that it "could" fix both 1. and 2. IF it works, because IF multiple encrypted attachment files of content-type text/plain are visualized as part of the email in a nested MIME object, then the end-user experience will be "easier access for the recipient to the material". But i'm not sure, it would require testing to understand if it's doable / works, because it depends a lo

[2016-04-06 12:18] evilaliv3 commented on #1576
ah sorry i've versed the numbering above :). what i think is not doable is the 1 that is the content to be summarized :( for that i still think no solution exists.

[2016-04-06 12:54] marceloomens commented on #1576
In that case my suggestion would be to aim for the low-hanging fruit first, namely scenario 2 only, summary with no content.

[2016-04-06 13:40] NSkelsey commented on #1625
I have a fair bit of copy edits for the document that should be included in the update as well.

[2016-04-06 13:52] NSkelsey commented on #1021
This has been handled by *bolding* the tip element that has been updated, since the last access by the recipient.

[2016-04-06 13:54] NSkelsey commented on #724
This is related to #1611

[2016-04-06 14:03] NSkelsey commented on #1576
@marceloomens agreed. Implementing 1) seems like it would eventually just duplicate what is on the receiver's tip list in email. It is a separate issue if using the web page is too much on the recipient.

With the right design going with 2) could help us solve: #1201 #1155 #370 and #264

Additionally with some testing we could solve #190 and #139 as well.

[2016-04-06 17:35] evilaliv3 commented on #1625
@NSkelsey could you apply them directly on the document or report them here/

[2016-04-06 17:45] evilaliv3 commented on #1021
@NSkelsey what you are writing is a nice suggestion but is not really happening right now:
1) we have new tips marked bold;
2) we have the time of the update and the time of last read but we are not marking tips as a new (bold) as they get updated.

i'm going to do it immediatly as it is really a nice to have.

[2016-04-06 18:03] NSkelsey commented on #1021
@evilaliv3 maybe use a slightly different indicator?

This way there is a distinction between new and updated tips.

Using italics or a red asterisk "*" could work. I know you don't like the idea of a "new" pill.

Is the word "updated" in the list of translated strings?

[2016-04-06 18:09] NSkelsey commented on #1625
@evilaliv3 I will start the edits now and perform them on the document.

[2016-04-06 18:39] evilaliv3 commented on #1021
you are right @NSkelsey but i think that we should eventually compress/remove all the columns creation_date/update_date/expiration date or we will have so many different indicators to communicate the same thing.

for now that those columns exists and take space, i'm for keeping it clean and simply marking in one way (bold) what requires attention.

no right know we do not have an "updated" string.

[2016-04-06 18:39] evilaliv3 commented on #1076
Updated!

[2016-04-06 18:39] #1076 closed

[2016-04-06 18:43] evilaliv3 commented on #1021
In addition @NSkelsey, at the time @infosquatter we were not having the following things:
- the "last updated" column
- the possibility of sorting by creation_date/last_update

so that really simply marking the updated one with the bold for now could represent the missing refinement while we think of how better compress the information for the future.

[2016-04-06 19:49] evilaliv3 commented on #1564
@NSkelsey i've implemented this in a branch feature/1564 but it seems that something wrong is happening.

could you please retest it?

to retest it:
- delete your node_modules.json directory
- run npm install -d

you should get like me the following error (or maybe other errors because also you are on Mac OSX):
[code]

the strange thing is that we are not using grunt 1.0.1 but the 0.4.5 that is th

[2016-04-06 19:53] evilaliv3 commented on #1564
to try create a fresh shrinkwrap:

- rm node_modules
- npm install -d
- npm shrinkwrap --dev

[2016-04-06 20:01] evilaliv3 commented on #1021
This was not estimated, but as we are experimenting with the burndown i will assign the time i took for implementing it.

[2016-04-06 20:01] #1021 closed

[2016-04-06 20:08] NSkelsey commented on #1564
@evilaliv3 I am getting the exact same error.

[2016-04-06 20:19] evilaliv3 commented on #1564
Arg.

The issue anyhow is similar to this one: https://github.com/npm/npm/issues/11070
Basically one of our dependencies internally install grunt 1.0.0 for itself and this is not in the shrinkwrap that is generated so that it fails when rechecking.

[2016-04-06 20:23] evilaliv3 commented on #1564
basically there are really a lot of dependencies that are definitely under no control at all:

e.g.: node_modules/grunt-bower-task/node_modules/bower/node_modules/insight/node_modules/inquirer/node_modules/cli-color/node_modules/memoizee/node_modules/event-emitter/benchmark/single-on.js

this hierarchy of directory shows that grunt-bower-task (at the first level of the hierarchy and the only one o

[2016-04-06 21:21] NSkelsey commented on #1564
From the end of the shrinkwrap man page:

[code]

[2016-04-06 21:46] evilaliv3 commented on #1564
yep i did various tests but i'm about to give up.
the only thing that we can do is to archive the whole node_modules as we generate it and during the releases.

i leave this to @fpietrosanti that will be happy to proceed with an analysisis.
This are the few build dependencies we are basing GlobaLeaks on!

[code]

[2016-04-06 23:34] evilaliv3 commented on #1564
Ok npm3 is definitely better; it tries to keep it flat but they fail and fallback on recursion when they need differnt versions :( @teletubbies were are you when it's time to do good coding?

https://docs.npmjs.com/how-npm-works/npm

[code]

[2016-04-06 23:36] evilaliv3 commented on #1564
the ls with npm3 is the following and at least the shrinkwrap and the reintall is working.

[code]

[2016-04-06 23:40] evilaliv3 commented on #1564
@NSkelsey: tomorrow could you please retry fetching this branch and test this commit?

https://github.com/globaleaks/GlobaLeaks/commit/3a9d3fb998a637084004015bbb456c2857000ae1

simply do:
- rm node_modules
- npm install -d

and see if it is able to fetch all the libraries for you

[2016-04-07 17:04] NSkelsey commented on #1564
@evilaliv3 the shrinkwrap worked! The dep structure is significantly cleaner:

[code]

[2016-04-07 17:17] NSkelsey commented on #1516
@fpietrosanti we may be able to use something like the zxcvbn password strength meter to enforce some minimum standard for schemes generated this way. Imagine the admin having to provide and example input, which the meter can determine if it passes our minimum entropy requirements.

Additionally, the suggestion widget that describes alternative ways to hide the receipt should be an image, not text

[2016-04-07 18:01] NSkelsey commented on #1395
We can expose a comprehensive set of configuration options to the admin creating the questionnaire.

The datepicker options available are extensive: https://angular-ui.github.io/bootstrap/#/datepicker

However these are the ones that the ICC is looking for:

[code]

[2016-04-07 18:26] evilaliv3 commented on #1395
Nick in the real this ticket is not that interesting for the current priorities.
I will point you off the record which are the interesting one so that you can start picking  them.

Eventually on this topic the only short term improvement could be the following: https://github.com/globaleaks/GlobaLeaks/issues/1624

[2016-04-07 19:25] NSkelsey commented on #1394
I feel as if the extent to which we can support specific features of questionnaires will only grow. Requiring custom logic, strange DB config, and strangulating UI.

Why not use an already existing markup language (that is a subset of XML ^_^) -- [queXML](https://quexml.acspri.org.au/).

[2016-04-07 19:34] evilaliv3 commented on #1394
i got your point and as @fpietrosanti, i'm always for reusing out there.

let's see if we are able to find something, or at least plan a migration (that sadly could not anyhow happen in the stort term)

the main issue in doing this change is that nothing satisfy the use case and the flexibility we need or exists both in angular and in python to justify an adoption.
for example in relation to the f

[2016-04-07 19:52] NSkelsey commented on #1394
A living standard for structured declarative form creation is HTML.

What about generating a sanitized subset of what is available in HTML [forms](https://html.spec.whatwg.org/multipage/forms.html#forms) with some custom logic.

Exporting the database fields from the database is not the way to go. We really want a document that describes the questionnaire.

[2016-04-07 20:19] evilaliv3 commented on #1394
i get your point and i'm completely ok for research on this but try to make a (fast) design of the workflow you have in mind mapping languages/tools/data formats for the whole process involving form definition, form output, search facilities.
all possibly mapping language/tools etc.

sadly i think you will find our rationally that with what out there you will be reinventing the wheel anyhow as we

[2016-04-07 20:37] NSkelsey opened #1626 "Change Recipient file download to use SaveAs"
In order to prepare for client side decryption of file downloads it is nessecary to remove file download as an XHR post. Instead, we must use a javascript library like [FileSaver.js](https://github.com/eligrey/FileSaver.js) to handle the download of the file in such a way that we can decrypt and then download said file.

The order of operations here is:
1. research
2. local testing
3. development

[2016-04-07 21:48] NSkelsey commented on #1626
It occurred to me that handling client side streaming decryption is very similar to decoding streaming audio or video.

The HTML5 specification has quite a [bit of support](https://w3c.github.io/media-source/) for this kind of behavior.

[2016-04-08 20:26] evilaliv3 commented on #1626
@NSkelsey analyzed the situation for the browsers and it seems that you great Safari is not supporting saving files in javascript with a defined filename: https://bugs.webkit.org/show_bug.cgi?id=102914

do you have anny suggestions?

He have already for some of the files of the admin panel, but this requirement will impact that badly on the clientsite crypto.

[2016-04-08 20:32] evilaliv3 commented on #1626
in comment https://bugs.webkit.org/show_bug.cgi?id=102914#c79 Brent Fulgha on 2016-03-31 08:32:51 PDT said: Tests all pass with this revision. Will land this final patch.

Committed r198893: <http://trac.webkit.org/changeset/198893>

But it's definitely something that will be there only for future browsers.

[2016-04-09 08:20] evilaliv3 opened #1628 "Implement update script"
Currently the update process is demanded to a complete manual process.

This process involve:

1. checking that the repository key is still valid and eventually update it
2. perform eventual backups before updating
3. fingercross and update

I think that in the short-term we should have a minimal update-globaleaks.sh that address 1. and 2. in automatic fashion.

For point 2. we will think somethin

[2016-04-09 09:17] fpietrosanti commented on #1628
w.t.r to PGP key update i feel that globaleaks should periodically, check if a new PGP signing key is available, fetch it and make it installed to avoid to follow custom procedures. That could be similarly part of "awareness" of updates availability feature such as #1493 that require to periodically fetch stuff related to updates and execute actions

[2016-04-09 09:21] fpietrosanti commented on #1626
We should then think about the way to handle the current feature of "Download Multiple Files" and "Download all Files" (that may require some state machine to handle multiple operations may fail, require retries, may require confort loader or progress bar displaying what's going on)

[2016-04-09 09:36] fpietrosanti opened #1629 "Enable admin to upload one or more than one custom fonts"
This ticket is to enable admin to upload one or more than one custom fonts from the graphical web administration interface, so that:
1. The platform make the fonts available as in-line resources like per default fonts (https://github.com/globaleaks/GlobaLeaks/commit/0d171bf6c755c0ba894a8380b8aa54bf4b89764a#commitcomment-17013297)
2. Make available and communicate on the web admin interface the nam

[2016-04-09 10:31] evilaliv3 commented on #1628
i agree @fpietrosanti but only for the future when that will be in place.

for now an autofetching of the key that could anyhow happen after the user tried to update on the console does not helps what is my goal that is at least to easy my work.

[2016-04-09 12:26] evilaliv3 commented on #1629
I put here the status of the current research on this so that we can evaluate it for a very very long term, as a lot of requirements for this feature are missing and we definitely

The only way to do this is:
1. generate serverside a file called custom-fonts.css to be loaded before of the custom css
2. the above file should contain simply rules following this format

[code]

in order for the featu

[2016-04-09 12:46] evilaliv3 opened #1630 "Implement Microsoft Edge testing"
Currently Microsoft Edge is not tests as protractor does still not support it due to a missing webdriver capability.

This ticket is to keep track of this and eventually implement that test case when supported.

References tickets:
- https://github.com/angular/protractor/issues/2377
- https://github.com/angular/protractor/issues/3016
- https://developer.microsoft.com/en-us/microsoft-edge/platform/

[2016-04-09 12:59] evilaliv3 commented on #1630
@vodkina  / @NSkelsey / @fpietrosanti : i've created the label S(Status): Blocked in order to be able to mark what eventually will be blocked for external or internal reasons.

I'm proposing this looking at the use of the labels/milestones done in angular and protractor; they use a milestone called "Blocked" but i think a label is more appropriate.

[2016-04-09 13:35] evilaliv3 commented on #1626
@fpietrosanti: let's keep tickets small; e.g. all in your previous comment should go for me in a second different ticket called: "Implement comfort loader for the submission export feature".

the reason of do this are important:  AGILE!

i'm moving this to an other ticket and answering there with some comment.

[2016-04-09 13:44] evilaliv3 opened #1631 "Implement comfort loader for the submission export feature"
Wet dream of @fpietrosanti for ticket https://github.com/globaleaks/GlobaLeaks/issues/1626#issuecomment-207751775 would be to implement a loader for the submission/submissions export feature in order to show to the user a progress on what is happening.

In the idea the process should be possibly improved in order to be resilient to network failures and implement retrials.

[2016-04-09 13:46] evilaliv3 commented on #1631
This would involve also managing completely different the current loader.

Right now every XHR is handled in the same way scattering the same comfort loader; whenever this feature will be implemented different handling should exists for different kind of requests.

[2016-04-09 13:57] fpietrosanti commented on #1631
That may become a requirement if the handling of "file download operation" is moved at application level, preventing the browser from providing it's standard file download progress bar functionaliy (that with SaveAs() maybe will last maybe few milliseconds while the effective application managed download may last 15-30-60-90-120-300 seconds, with recipients thinking that the interface is stalled b

[2016-04-09 13:58] evilaliv3 commented on #1631
I'm definitely in implementing a progress bar not into implementing any custom logic for retrials of failures.

The only path would be to support existing libraries in implemeting resiliency in the angular resources: https://github.com/Useful-Software-Solutions-Ltd/resource-retryer

My reason is that i trust TCP and i've never seen a single javascript library in my whole life that would try to sol

[2016-04-09 14:08] fpietrosanti commented on #1631
Probably it'a better if the logic for handling multiple downloads such as timeouts and partial failures (e.g. Downloading 5 files but the 3rd fail for whatever backend or network reason), shall provide visual feedback about the operations to the specific download information progress bar, but shall be another ticket about "supporting multiple file download" with the new SaveAs() JS method?

Instea

[2016-04-09 14:19] evilaliv3 commented on #1631
we are able to make every dream of you; https://github.com/digitalbazaar/forge ; just let me know!

anyway nope i do not consider the comfort loader as something different in the case singe/multiple. i think the process could be designed as start for handling one or more exports.

for what relates to the retrial stuff eventually yep; it for sure deserve a ticket with a label 'wet dream' and a labe

[2016-04-09 14:37] evilaliv3 commented on #1628
implemented and updated the wiki;

the output is the following:
[code]

[2016-04-09 14:37] #1628 closed

[2016-04-09 16:09] NSkelsey commented on #1631
@fpietrosanti A progress bar used in conjunction with serial download of exported submissions is what we should strive to produce.

I think a modal dialogue that looks something like the text below could handle this very well.

[code]

At the moment the need for this is pretty low. In firefox (or the tor-browser for example) you are prompted with a question for every file you want to download:

![

[2016-04-10 10:10] evilaliv3 commented on #1629
Worked on the customization of a still not disclosed user i'm analizing the fonts of their own website with: http://fontface.ninja/.

This is definitely a good browser plugin for doing this kind of job!

[2016-04-10 10:11] evilaliv3 commented on #1629
![screenshot from 2016-04-10 12 11 36](https://cloud.githubusercontent.com/assets/217034/14409514/66a5e756-ff15-11e5-85e3-ff9f49de2705.png)

[2016-04-10 11:30] evilaliv3 commented on #1629
As the specific adopter i'm working on is using ```fast.fonts.net``` i had to reverse the website, build a script for fetching the fonts.

The snippt used for doing that and the code used for the integration follows.

Here follows the bash script i used for retriving the fonts:
[code]

[2016-04-10 11:36] evilaliv3 commented on #1629
The final CSS code is the following;

I've removed the compatibility line for IE6-IE10 and this is the new code to be kept as reference:

[code]

[2016-04-10 14:55] kyrylkov opened #1632 "GPG error"
W: GPG error: http://deb.globaleaks.org trusty/ Release: The following signatures were invalid: KEYEXPIRED 1460066203 KEYEXPIRED 1460066203 KEYEXPIRED 1460066203

[2016-04-10 16:25] evilaliv3 commented on #1632
hi @kyrylkov

the key is expired as it was expirinng the on the 7th of april but it has been renewed and you have simply to do as documented at https://github.com/globaleaks/GlobaLeaks/wiki/Upgrade-Guide:
 ```curl https://deb.globaleaks.org/globaleaks.asc | apt-key add -```

From this release on also we have added a ```gl-update``` script that internally perform basic operations like this (for now

[2016-04-10 16:25] #1632 closed

[2016-04-11 09:29] evilaliv3 opened #1633 "Regression on Context and User deletion"
As reported by @Taipo the current release have a client regression that is affecting the context deletion.

I've verified the issue and it exists also on the users removal.

This ticket is to keep track of the bugfixing and the implementation of a unit test of the deletion.

The added value of implementing the unit test is not simply that it will protect from the regression but also, as effect, it

[2016-04-11 11:32] evilaliv3 commented on #1626
@NSkelsey: i discussed with fabio about the multiple confirmation popups that will happen in every browser.
We think that is not valuable to implement the saveAll on the tip list for now because it will simply confuse the user.

I suggest that in this ticket we will simply deal with replacing the saveAs for the single file as this ticket had been designed in order simply to integrate the saveAs ca

[2016-04-11 11:57] evilaliv3 opened #1634 "Implement SaveAll/ExportAll capability for Files/Tips"
Moving forward the implementation done in https://github.com/globaleaks/GlobaLeaks/issues/1626 an improvement would be to implement a SaveAll/Export all capability for Tips/Files to be handled clientside.

This should be implemented in compliance on the latest ideas on the clientside encryption that would require the client to fetch resources, do processing (decryption), and generating a file down

[2016-04-11 12:00] evilaliv3 commented on #1634
Let's concentrate our effort on what needed for the single file/tip download/export completing the clientside crypto and  put this as wishlist for the future.

[2016-04-11 12:01] evilaliv3 commented on #1634
@NSkelsey could you please when cleaned your pull request for #1626, take care that your notes/snippets on this topic are saved here as track for future implementations?

[2016-04-11 12:42] NSkelsey commented on #1634
@evilaliv3 Okay. I will edit this comment as I collect things.

### Ease of Use
In terms of usability the best option would be for a single file download that is one zip of all of the exported tips. With Client-side crypto this is complicated.

### Cross Platform Compatibility
Automatic downloaded is not supported in the Safari webkit version ?.?.?
But there is an open ticket to close issue in new

[2016-04-12 11:23] fpietrosanti opened #1637 "Uploading file of 1.47GB report wrong size of 1GB while uploading"
Uploading a file of 1.47GB report wrong size of 1GB while uploading, as shown below

<img width="423" alt="screen shot 2016-04-12 at 1 21 45 pm" src="https://cloud.githubusercontent.com/assets/770363/14458468/b3e8467e-00b1-11e6-9404-1e60188734f2.png">

[2016-04-12 12:00] evilaliv3 commented on #1637
Bug identified.

It exists since we apply conversion from bytes to GB, MB, Kb.

going to fix it.

[2016-04-12 12:36] fpietrosanti opened #1638 "File upload estimations is only based in seconds, that's not usable for large file"
When upload a big file, the file uploader only estimate the amount of time required to finalize it in seconds.

For large files that may require minutes or hours, that's not usable as it does not enable the users to immediately quantify in a relative way how much time will be required.

This ticket is to visualize the estimate required time in minutes or hours, based upon thresholds (maybe the upl

[2016-04-12 12:40] evilaliv3 commented on #1637
We were implementing a custom directive while we can use one implemented in angular-filter.
By the way it seems that angular filter is doing it wrong so before fixing it using the [angular-filter](https://github.com/a8m/angular-filter) ```byteFmt``` we would need to suggest them to fix it.

[2016-04-13 08:27] evilaliv3 opened #1639 "The file download are not currently working in streaming"
An adopter has reported difficulties in downloading a big amount of leaks.

Upon a reception of a successfull upload of files of ~GBs the adopter is failing downloading the files a size ~200MB.

This seems to be caused by the fact that the file download is not happening in streaming.

[2016-04-13 09:01] evilaliv3 commented on #1639
The bug is confirmed and affects two main components of the application:

1. the single file downloader;
2. the submission export downloader.

for 1. i've developed a fix for the single file downloader and i'm now ready finalizing tests and polishing the patch; for now it will make use of the [```twisted.internet.task.coiterate```](https://twistedmatrix.com/documents/current/api/twisted.internet.t

[2016-04-13 09:03] evilaliv3 opened #1640 "Evaluate usage of python-zipstream in place of the ripped/patched version of the spideroak/zipstream library"
Nowadays we are still using a ripped/patched version of the spideoak libraries.

Recently the https://github.com/allanlei/python-zipstream project started properly packaging it and has included the same patches that we require; we should evaluate what is eventually missing and push out the possible fixes.

In addition the library is already packaged for ubuntu xenial/debian stretch so there will b

[2016-04-13 18:47] NSkelsey commented on #1637
Fixed in release v2.60.3

[2016-04-13 18:47] #1637 closed

[2016-04-14 17:37] evilaliv3 opened #1641 "The DatePicker UI should be subjected to internationalization"
The DatePicker UI is currently not subject to internationalization.

This ticket is to keep track of the research on the feasibility of this and the possible implementation.

The requirement has been requested in the context of the ICC pilot.

[2016-04-14 17:40] evilaliv3 commented on #1641
This should be probably feasible by using simply [```angular-i18n```](https://github.com/angular/bower-angular-i18n) that is the official module of Angular for the internatonalization.

[2016-04-14 21:13] evilaliv3 opened #1642 "When receivers are hidden it should be configurable the name shown to the whistleblower upon recipient messaging"
Nowadays even if the details of the recipients are not shown to the user and recipients act as a whole on behalf of the organization, when the recipient write a message or comment the name of the recipient is shown to the whistleblower.

It would be interesting to avoid doing this and on such a condition replace the name with the recipient with the string "Recipient"; this string should be then co

[2016-04-14 22:33] evilaliv3 commented on #1641
Angular does now support naturally to swap the locale at runtime so that we should evaluate using: ```https://github.com/lgalfaso/angular-dynamic-locale``` by @lgalfaso

We have to see how to make it possible inlining the locales in the built script and this is tracked by: https://github.com/lgalfaso/angular-dynamic-locale/issues/93

[2016-04-15 01:30] NSkelsey commented on #1642
I agree with the premise.

1) The simplest way to do this is to just add a switch and assign a number. The first recipient say John Doe becomes Recipient 1, while the second becomes Recipient 2 and so on.

This string could be configurable by each recipient OR (exclusive or) by the admin. If it is the former, then I foresee the potential for mischief amongst recipients (John Doe could become Glen

[2016-04-15 01:41] NSkelsey commented on #1642
A little more info on 1) PGP public keys contain information about the recipient that in most cases would reveal their identity.

Observe the content of @evilaliv3's public key:
[code]

With client side crypto changing your alias could be akin to generating a new GPG key.

[2016-04-15 06:23] fpietrosanti commented on #1642
For 1. i'd suggest to simply make a "Public Name" entry parte of the Recipients configuration data. If un-configured, it will use the normal Name, if configured will show everywhere the "Public Name" in place of the "Name" .

For 2. it's fine to make it configurable, default should stay Whistleblower that's the general use-cases, while "Source" is only "journalistic". The best way to do it, it wou

[2016-04-15 07:28] evilaliv3 commented on #1642
I agree on the suggestions by  @fpietrosanti

The numbering @NSkelsey is not possible as recipients can be changed during time; If an initiative has the requirement to keep recipient not known we could create the end2end key mapped on the uuid assigned to the recipient and that whould work great; i'm totally for this.
This way the only thing leaked is how many recipients there are are, how many ar

[2016-04-15 07:30] evilaliv3 commented on #1642
in addition is not a necessity that this pseudonim is unique so that for example IRPI could show visually IRPI to the user interface that is sometimes perceived more professional by the adopter.

[2016-04-15 15:41] NSkelsey commented on #1642
I see one problem with @fpietrosanti with 1) which I tried to get at earlier. Recipient's changing their public names should be handled with some care. If any recipient can change their public name, then they could easily spoof who they are among the available recipients.

Imagine two recipients commenting with a source and Recipient 1 briefly changes his name to Recipient 2 to produce a misleadin

[2016-04-15 15:46] evilaliv3 commented on #1642
sury @NSkelsey you are right; but take my and the comments of fabio as not english speakers.

already know we are avoiding this kind of spoofing possibilities and the name is cocnfigurable only by the admin.
what @fpietrosanti was saying is to allow the admin to configure the pseudonym to be shown that could be different from the name/surname of the user.

then it will be a different topic if and

[2016-04-15 15:59] fpietrosanti commented on #1603
Is this fixed with the in-lining?

[2016-04-15 16:09] NSkelsey commented on #1642
Ahhhh configurable by the admin. Got it.

[2016-04-15 16:46] NSkelsey commented on #1599
Note to self:

Use existing branch feature/save-As to see if browser cache is changed in FF, safari, chrome.

[2016-04-15 20:15] fpietrosanti commented on #1599
It would be interesting to understand if the same tricks that has been used by @evilaliv3 for the iframe plugin loader (to avoid leaving traces in the browser history) could be used in conjunction with the SaveAs to avoid leaving traces in a) History b) Downloaded files .

In theory, avoiding caching is already forced by the HTTP headers

[2016-04-15 22:41] NSkelsey commented on #1493
If you are looking to generate an email to the admin of the platform, why not just send them one directly from an external account. . . . . . this leaks a bit of info and certainly doesn't handle admin's changing hands well, but it is certainly the easiest way to handle it.

Can the platform itself receive emails? Also a TOR HS polling some static IP sounds like it could lead to deanonymization is

[2016-04-16 06:44] fpietrosanti commented on #1493
Well, but doing as specified we don't know the "admin emails" but we'll be just providing public information on which is the new version and the new message to be shared along with the Changelog.

It will be entirely up to the GlobaLeaks software to fetch that public information (that yes, can be also done over Tor, if available), know the admin email, know his email server, and notify the admin.

[2016-04-16 07:37] fpietrosanti commented on #1599
Early testing show that in the "Downloaded files" there will always be a blob:URI where URI is the URI from where the JS triggering the blob: has been (executed or loaded?) .

[2016-04-16 12:44] evilaliv3 opened #1643 "PGP file encryption is currently working in streaming"
While working on https://github.com/globaleaks/GlobaLeaks/issues/1639 i discovered that the PGP file encryption is currently working in streaming.

For various mistakes in the code handling the PGP encryption the file is always re-read in RAM while performing various actions:
- the renaming of the file instead of relying on ```os``` functions or using ```gnupg``` to encrypt to write directly to th

[2016-04-16 13:09] #1643 closed

[2016-04-16 13:09] #1639 closed

[2016-04-16 13:09] #1633 closed

[2016-04-16 14:17] fpietrosanti commented on #1643
If an error happens while processing the files with PGP encryption, are there any kind of exception handling/error detection that enable to understand that something went wrong for whatever reason, being notified about it?

[2016-04-16 16:08] evilaliv3 commented on #1643
@fpietrosanti as in general, there is not any kind of code that should do an explicit notification, but simply we should avoid what done before that when shit happen we simply pass over it.

the code i'm writing and rewriting recently handle the local exception and pass to the layer over so that when the exception reach the top level we are notified.

[2016-04-17 12:58] evilaliv3 commented on #1427
I think this ticket should be reformulated.
From my point of view given the variation of a context during time it is important to even show what were the questions proposed to the user in order to be able to understand if he answered blank to a question or if he/her or the question was not present at that time.

What is important from my side on this topic is to:
- avoid showing steps that were no

[2016-04-17 12:59] evilaliv3 commented on #1427
This is now a requirement for the ICC pilot.

There is not that much activity behind completing this and i can take care of this as the logic to be applied is the same i've written on the submission form.

[2016-04-18 07:13] fpietrosanti commented on #1427
That very same logic may also apply with the Submission text export

[2016-04-18 08:32] evilaliv3 commented on #1427
ah @fpietrosanti i'm failing an other time to find the right ticket; i remember one of you with the topic of not showing questions not answered. are you able to find that?

when we found it i will remove this ticket from the milestone and move all the comments there.

[2016-04-18 08:38] fpietrosanti commented on #1631
We'll need to see how it does behave w.t.r. to large file (es: 100Mb) over a slow line (es: Tor Hidden ServicE), where i have the doubt/suspect that the UX will be frozen/unresponsive without an application managed progressbar

[2016-04-18 12:30] evilaliv3 commented on #1626
Implemented by @NSkelsey in: https://github.com/globaleaks/GlobaLeaks/commit/c1ba08fb52c7275df208282283a7e39bd190be0b

Refined by me with:
 - https://github.com/globaleaks/GlobaLeaks/commit/0b8d4781251b3e8376d389c5e45fcddc784bbe00 : removed Blob polyfill as all the targeted browsers versions supports Blobs.
 - https://github.com/globaleaks/GlobaLeaks/commit/e2e9509f9fc01a07409c8d55862e32fc19306c0e

[2016-04-18 12:30] #1626 closed

[2016-04-18 12:33] fpietrosanti opened #1645 "Evaluate UX improvements for theForm Builder of GlobaLeaks looking at zoho forms"
This ticket is to evaluate UX improvements for theForm Builder of GlobaLeaks looking at zoho forms https://www.zoho.com/forms/ .

Some relevant screenshots to consider to get ideas for ux improvements reported below:
<img width="1343" alt="screen shot 2016-04-18 at 2 32 08 pm" src="https://cloud.githubusercontent.com/assets/770363/14604202/86cec0c6-0572-11e6-9e58-86d4a8cd94b2.png">
<img width="282

[2016-04-18 15:26] NSkelsey commented on #1641
1) angular has an i18n support: great!
2) this support is static: oh dear!
3) there is a good simple module making it dynamic, https://github.com/lgalfaso/angular-dynamic-locale: GREAT!
4) this module loads a separate file at runtime each time you change language: OH DEAR!
5) ok doing some inlining we got out of this mess!!!! finally !!!! yeah!!!! ou yeeeeaaa!
there is something we have to think a

[2016-04-19 13:39] fpietrosanti opened #1648 "Evaluate integration of Mobile "ActiveSync-based" Push for notification as alternative to email"
This ticket is to evaluate integration of Mobile "ActiveSync-based" Push for notification as alternative to email.

A close friend is using z-push with it's iPhone and Android phone, connect to a bunch of shell script that implement the custom logic to send a push to the phone.

The phone only have configured an account as an "Exchange Server" Email account, that include the ActiveSync based push.

[2016-04-21 14:42] NSkelsey commented on #1379
This issue is now related to #935.

Handling the encryption and then upload could look very similar to the way youtube does it. (In the abstract that is)

![export](https://cloud.githubusercontent.com/assets/1095794/14713056/9c26bf2c-07ad-11e6-886d-b76708354bcb.gif)

[2016-04-21 15:19] fpietrosanti opened #1651 "Create a field type listing all italian public administration"
This ticket is about implementing a special field type that include all the public administration to be selectable among a select-box.

The source of the information must come from http://www.indicepa.gov.it/documentale/n-opendata.php .

The software must include a way to periodically update that list at globaleaks release time, by preserving the unique identifier that has already been assigned to

[2016-04-21 15:23] fpietrosanti opened #1652 "Provide a field with the list of all the italian geographical structure region/province/city"
This ticket is to provide a field with the list of all the italian geographical structure region/province/city by default in globaleaks.

This ticket is in reference to #1397

[2016-04-21 15:31] NSkelsey commented on #1408
A great solution is to use a searchable select box. https://harvesthq.github.io/chosen/

How to integrate search into the backend is another question entirely.

[2016-04-21 23:00] evilaliv3 commented on #1426
This is now a requirement for the ICC pilot.

There is not that much activity behind completing this and i can take care of this as the logic to be applied is the same i've written on the submission form.

[2016-04-21 23:03] evilaliv3 commented on #1426
I find important showing the unanswered questions becouse it's important to know which question where provided to the whistleblower at the time of the submission and this helps in understangind what the whistleblower answered.

By the way for sure we should avoid showing:
- conditional steps that were not triggered by questionnaire ansers or score.

[2016-04-22 04:46] fpietrosanti commented on #1426
Wait, that's not the goal of this ticket. This ticket comes from OpenWhistleblowing and SportelliRiemergo's testing of long questionnaire, that display badly on the tip with only a small amount of answered question because are very long.

[2016-04-22 07:10] evilaliv3 commented on #1426
I've already expressed also my point of this and swithced the topic of the ticket.

Next time that we have a situation where the ticket change topic, like now, better to leave it closed and open a specific ticket.

[2016-04-22 07:10] evilaliv3 commented on #1426
going to do it now.

[2016-04-22 07:11] #1426 closed

[2016-04-22 07:18] evilaliv3 opened #1653 "Implement compact visualization for non answered questions featuring show/hide behaviour"
This ticket is ticket is about implementing a compact visualization for non answered questions featuring show/hide behavior.

By default the interface should not show not answered questions and allow the recipient to see clearly all the questions that were proposed to the user at the time of the submissions.

That's to avoid seeing a long list of unanswered questions with only few data in the midd

[2016-04-22 09:56] evilaliv3 commented on #1653
https://github.com/globaleaks/GlobaLeaks/issues/1426

[2016-04-24 17:34] evilaliv3 commented on #1640
@fpietrosanti / @NSkelsey: i was about to look at this in this cloudy day, not that proficient and while working on the upcoming browsercrypto i just discovered that we ould have any benefit of this.

The code is archived in this commit: https://github.com/globaleaks/GlobaLeaks/commit/25cbc96d1a5407fa63d1162825fc8236ae5988ae

Anyhow there is no need at all for it as eventually when needed by somet

[2016-04-24 17:34] #1640 closed

[2016-04-25 00:46] NSkelsey opened #1654 "Research file size download limits in relation to the browsercrypto and the saveAs functionality"
This is related to the browser crypto branch.

After some investigation it looks like the current method of encrypting files yields a silent limit at around ~31MB. The decryption/download has no problems with files of this size. This may indicate a problem with the Fusty Flow library. -- tested on Chrome 50 on OSX 10.10.5.

Further research is needed.

Some visual proof (the files are about 1MB la

[2016-04-25 01:02] NSkelsey commented on #1654
Oh lol this is the default max file size for a vanilla GL server.

A warning should really popup to tell you that the max file size is exceeded.

Further investigation to follow.

[2016-04-25 01:19] NSkelsey commented on #1654
Actually the file encryption and upload can handle files up to 1GB on a machine with 8GB of RAM – It just uses all of it.

### From Activity Monitor (peak at upload):

<img width="611" alt="screen shot 2016-04-24 at 9 09 34 pm" src="https://cloud.githubusercontent.com/assets/1095794/14771724/a637b03c-0a61-11e6-863e-286c52755d04.png">

### From Chrome task manager after the fact

There is 1GB of me

[2016-04-25 08:44] evilaliv3 commented on #1654
@NSkelsey i've removed from this ticket to study the interface; let's keep things separated as much that we can.

Anyway the issue on the error message is a regression that i confirm both on the master branch and the browsercrypto branch.

It is probably related to my changes onf the fileAdded event binding; i will take care of this specific topic at least for fixing the regression and then we cou

[2016-04-25 10:03] mcbernie opened #1655 "Next Step Button not shown"
Found an error in GLClient.controller('SubmissionCtrl'....

`$scope.lastStepIndex = function() {
    var last_enabled = 0;

    for (var i = 0; i < $scope.selected_context.questionnaire.steps.length; i++) {
      if (fieldUtilities.isStepTriggered($scope.selected_context.questionnaire.steps[i]), $scope.answers, $scope.total_score) {
        last_enabled = i;
      }
    }

    return last_enabled;

[2016-04-25 10:40] evilaliv3 commented on #1655
Nice catch @mcbernie ! thank you so much.

i confirm the error and going to patch it now and disabling the score feature that had to not be enabled when experimental features are disabled.

we are going to release a bugfixed release and let you know here.

[2016-04-25 15:09] evilaliv3 commented on #1654
@NSkelsey in the meantime i've fixed it this way as short fix that i'm now going to release together with a bugfix spotted by a user on the submission step activation.

![screenshot from 2016-04-25 13 45 30](https://cloud.githubusercontent.com/assets/217034/14788407/fa7d5dee-0b07-11e6-948b-75ef555b6750.png)

I've moved the error near the button, and the file is not not loaded by flow at all.
In th

[2016-04-25 18:45] NSkelsey commented on #1654
Yep this works.

One nit pick, the alert should use the `class="alert alert-danger"` CSS styles.

[2016-04-25 20:19] evilaliv3 commented on #1654
Allright!

![screenshot from 2016-04-25 22 18 37](https://cloud.githubusercontent.com/assets/217034/14797574/ba8c630c-0b33-11e6-9410-8926493fb7ed.png)

[2016-04-25 21:04] evilaliv3 commented on #1655
Done, should be now fixed and released in 2.60.7

Thanks @mcbernie

[2016-04-25 21:04] #1655 closed

[2016-04-25 22:46] mttstt commented on #1655
2.61.7 I suppose

[2016-04-26 06:08] evilaliv3 commented on #1655
back the future @mcbernie ! you are right

[2016-04-26 17:00] NSkelsey opened #1656 "Admin and Receiver should be blocked from creating submissions"
Currently if you are authenticated as an Admin or a Receiver manually navigating to `#/submission` will bring you to the submission page where you can create a tip that will be accepted by the server.

The logic on the client (and maybe even the backend) should block these role's from visiting pages intended only for Whistleblowers.

[2016-04-26 17:02] evilaliv3 commented on #1656
Right point; this will probably pass from implementing a stateful appllication that is now completely (and badly) stateless.

[2016-04-26 18:10] NSkelsey commented on #1654
With a 750 MB file upload the chrome memory profiler creates the following output, while the file is being encrypted:

<img width="201" alt="screen shot 2016-04-26 at 2 05 49 pm" src="https://cloud.githubusercontent.com/assets/1095794/14829294/956021f6-0bb8-11e6-9342-b36a6f55f6e7.png">

[2016-04-26 19:06] fpietrosanti commented on #1654
For SaveAs there's a maximum download size of 500Mb documented on https://github.com/eligrey/FileSaver.js/
<img width="635" alt="screen shot 2016-04-26 at 9 05 41 pm" src="https://cloud.githubusercontent.com/assets/770363/14830781/be68b5f6-0bf2-11e6-99ea-e2db90cba937.png">

[2016-04-26 19:59] NSkelsey commented on #1654
@fpietrosanti, after some analysis it appears that the download is not getting to the `filesaver.SaveAs` function. On my local machine on the `browser-crypto` branch the request to download the file stalls in the HTTP GET request, which is before the blob is returned back into Javascript's memory.

[2016-04-26 22:12] #1570 closed

[2016-04-27 00:19] NSkelsey commented on #1641
@evilaliv3 I can confirm that using `angular-dynamic-locale` works for changing the UI within datepickers and datepicker-popups.

I will push a functioning sandboxed example as a separate branch next to devel. The question for me, is how to integrate this into the inlining....!

[2016-04-27 03:47] NSkelsey commented on #1641
@evilaliv3 branch `feature/dynamic-locale` has a functioning example of setting the $locale object to french after the fact. I do not know how the you intend to implement the support for the ICC's request so I am leaving this here.

These are the things left to clarify:
1. At what point must the locale be set for a specific user? At first visit or after they choose a language from a list?
2. How c

[2016-04-27 07:39] evilaliv3 commented on #1641
@NSkelsey most of the analysis on this is at ticket https://github.com/globaleaks/GlobaLeaks/issues/1445 that would be nice if you could address together with this :)

#1445 talks about the wizard but it apply in the real to every user navigation session.

this would help you aswering your point 1. and the order of preference for me continue to be:
1) explicit url lang (?lange=en),
2) receiver/adm

[2016-04-29 07:49] fpietrosanti opened #1658 "Specify and analyze key escrow support for client-side encryption support"
This ticket is to specify and analyze key escrow support for client-side encryption support, given the problem that end-users loose their password and a procedures to be able in-place to avoid loosing data.

[2016-04-29 13:16] fpietrosanti opened #1659 "Enable support for internationalization of the Receiver's name and description"
This ticket is to enable support for internationalization of the Receiver's name and description

[2016-04-29 18:18] NSkelsey commented on #1192
Basic support added in 4a7a546. Did not add country flags, but I think that is a great idea.

![change-langs](https://cloud.githubusercontent.com/assets/1095794/14925395/359d3e16-0e15-11e6-80ff-8ccca7b3c423.gif)

(There are still some bugs!)

[2016-04-29 18:29] NSkelsey commented on #1192
@comradekingu if you can find abunch of low res, small, uniform looking country flag PNGs, I can add them to the UI.

[2016-04-29 19:18] comradekingu commented on #1192
http://www.famfamfam.com/lab/icons/flags/

2016-04-29 20:29 GMT+02:00 Nick Skelsey <notifications@github.com>:

[2016-05-02 13:22] evilaliv3 commented on #1192
implemented! by @NSkelsey;

what i wanted to get addressed on this issue is done; i suggest to keep the icon issue as a researchable topic for the future.

anyway the valid resources for this i think are:
https://github.com/lipis/flag-icon-css
https://github.com/asafdav/ng-flags

probably we would need to implement the same code of ng-flags, without using the library in order to not add not needed

[2016-05-02 13:36] NSkelsey commented on #1641
Solved by 5b0a8585b2992eb

[2016-05-02 13:36] #1641 closed

[2016-05-02 13:37] NSkelsey commented on #1445
A browser sniffing solution is implemented in the current devel branch. This commit adds the support 5b0a8585b2992eb

[2016-05-02 13:37] #1445 closed

[2016-05-02 15:24] evilaliv3 commented on #1165
More and more adopters are asking for this.

The reason is that anyhow even if the adopter set the expiration to a big number there are annoying things happening when one do it; e.g. the whistleblower ends in viewing strange dates as expiration in age 4200.

So probably accepting that one set to 0 for unlimited would work and we can show in the interface of the user that the same interface with wr

[2016-05-02 15:26] NSkelsey commented on #1165
I think this could be quickly solved in the UI.

Just interpret an expiration date past the year 3000 as 'not expiring in your lifetime' or better just hide the expiration date.

[2016-05-02 15:28] evilaliv3 commented on #1165
yep sure, but it would be probably better and more secure a specific setting even for future implementation that would maybe follow.

[2016-05-02 15:32] NSkelsey commented on #1165
@evilaliv3 Yep you are certainly right. If the servers time got fast forwarded to the year 3000, these tips go away.

[2016-05-02 16:37] evilaliv3 commented on #1165
not for this reason only, but also for the recipient tip table we could save space for the expiration column.

[2016-05-05 05:55] fpietrosanti opened #1660 "Users can bypass forced password change"
This ticket is to analyze a possible bug that has been reported by Faffa, related to the fact that a Recipient that should change a password (1st login), is able to bypass the password and goes straight the tip list.

It's a low priority bug, but to be consider as with client-side it become mandatory

[2016-05-05 06:53] evilaliv3 commented on #1660
yep this is something existing since ever and that i'm viewing to fix with @NSkelsey.

a user can currently navigate the pages without any check on that and he will get re-proposed the password change as he re-log in next times.

[2016-05-05 06:54] evilaliv3 commented on #1660
This will becoming more relevant with the end2end password key creation so that i will take care now of implementing it while completing it and eventually anticipating it to the master branch.

[2016-05-07 06:15] fpietrosanti opened #1663 "Support configuration for deployment with reverse proxy on sub-path that does not handle URL rewriting"
This ticket is to support configuration for deployment with reverse proxy on sub-path that does not handle URL rewriting.

While working on testing deployment of OpenWhistleblowing behind Cisco ACE 4710 cluster handling HTTPS termination of existing anticorruption authority website, with reverse-proxy configured on the path www.website.it/submission/, the URL forwarding happens to be symmetric (/s

[2016-05-07 06:56] fpietrosanti opened #1664 "Enable enforcing that a user is connecting with HTTPS, detecting that's not in HTTP"
This ticket is to enable enforcing that a user is connecting with HTTPS, detecting that's not in HTTP (unless is connecting to an address URL ending up with .onion).

This check should be disabled by default, but configurable (ie: if it's enable by default, it's a problem for the first setup, until the HTTPS is setup).

This check could improve client-side security w.t.r. to attacks when a whistle

[2016-05-08 19:41] evilaliv3 commented on #1533
IE9 it's dead!

[2016-05-08 19:41] #1533 closed

[2016-05-08 19:42] #1192 closed

[2016-05-09 07:56] #1660 closed

[2016-05-09 07:59] evilaliv3 commented on #1659
This would required db changes.

[2016-05-09 09:40] evilaliv3 commented on #969
@fpietrosanti this is the current status of the interface, not updated since months:

![screenshot from 2016-05-09 11 40 04](https://cloud.githubusercontent.com/assets/217034/15109257/e1aff1a4-15da-11e6-8c48-f451681897c3.png)

[2016-05-09 17:24] evilaliv3 commented on #1656
This apply also to custodians and the topic is in general more wide and to which pages could be navigated by a user depending on its current authentication.

e.g. a logged whistleblower should not go to /admin or to /custodian, and a logged admin neither.

[2016-05-09 22:33] evilaliv3 commented on #1656
implemented!

[2016-05-09 22:33] #1656 closed

[2016-05-10 14:36] NSkelsey opened #1667 "Improve the efficiency of the PoW computation"
The current implementation of the PoW relies on serial function calls that compute sha256 and check the output against the target. See: [`proofOfWork` in crypto/main.js](https://github.com/globaleaks/GlobaLeaks/blob/devel/client/app/js/crypto/main.js#L25)

Performing a cryptographic hash function in the browser is naturally going to be slow, but our implementation should be as efficient as possibl

[2016-05-10 14:45] evilaliv3 opened #1668 "Evaluate to always delive files to the user in Zip format"
Right now we are delivering to the user the plain files that the whistleblower has uploaded and we force the browser to simply download the file without opening it.

By the way on Firefox this behaviur seems to not work and the user is prompted for the selection of a tool for opening the file as shown in the following screenshot:
![screenshot from 2016-05-10 16 35 28](https://cloud.githubuserconte

[2016-05-10 14:48] evilaliv3 commented on #1668
@fpietrosanti: what do you think?

i think that this will improve both security and usability of the download procedure as:

1. the user won't be in possibility to do a single double click for opening the file.
2. the file will be delivered in a format that the user could eaily pass to it's workinggroup with no issues and lesse traces left (even forensically) because we could call the file "file-n

[2016-05-10 14:54] NSkelsey commented on #1668
Some things to worry about:
- In older versions of Safari for example, zip files downloaded from some websites are automatically unzipped.
- [Zip bombs](https://en.wikipedia.org/wiki/Zip_bomb)
- A malicious zip file contained in the first zip

[2016-05-10 15:09] evilaliv3 commented on #1668
@NSkelsey, about your three points i think that:

1. if it is an old behaviour no more present in the current supportedbrowsers the issue does not exist
2. i do not get why our additional wrapping zip is related to this.
3. also here i do not see why an additional wrapping zip could add more vulnerability with respect to the current situation.

[2016-05-10 15:16] NSkelsey commented on #1668
2. Just pointing out that zip is not a 'secure' file format by default. Zips from a trusted source could be said to be 'safe', but a malicious zip can easily create havoc on a computer.

You would not think wrapping everything as ISO's and to have people write the data to a CD and read it elsewhere? What is so great about the `.zip` format?

[2016-05-10 15:23] evilaliv3 commented on #1668
ISOJs?

[2016-05-11 16:04] vecna commented on #317
This is closed right?

[2016-05-11 16:12] NSkelsey commented on #317
@vecna nope

[2016-05-11 16:14] NSkelsey commented on #317
This is relate to #724 and #1611 as well.

[2016-05-12 07:20] vecna commented on #317
Thanks, I was updating this https://github.com/globaleaks/GlobaLeaks/wiki/Cure53-Report

[2016-05-12 07:22] vecna commented on #969
hint: if you write "and potentially vulnerable" explain to what, or don't say it at all

[2016-05-12 15:01] evilaliv3 opened #1670 "Implement basic facilities for rechecking translations of translations sources"
The more the project proceed, the more we should take care of the translations we get.

Working with various adopter i found various translations errors causing malfunctions and worried the adopter.

E.g. i found some German translations where `%TipNum%` was written `%TipNum %` or `%ContextName%` was changed to `%Context%`.

It would be interesting as an improvement to have some basic facilities f

[2016-05-14 01:46] mithrandi commented on #1546
https://pypi.python.org/pypi/txacme is out now; I'm not sure if the lack of wildcard certificates makes Let's Encrypt support a moot point for GlobaLeaks, but if not, the txacme endpoint interface should provide an easy way to integrate Let's Encrypt support into a Twisted application serving TLS over port 443 (ie. an HTTPS server).

[2016-05-14 08:32] evilaliv3 commented on #1546
love! is there by the chance someone working on the packaging of txacme for Debian/Ubuntu? for us would be that important to have this integrated in xenial/stretch because for this releases are including all our dependencies and txacme sould be the only one out :(

answering your question @mithrandi there is no need for the wildcard as globaleaks generally exposes itself through a private tor2web

[2016-05-14 08:36] evilaliv3 commented on #1546
related: https://github.com/globaleaks/GlobaLeaks/issues/1546

[2016-05-16 12:13] evilaliv3 opened #1671 "Make it possible to disable attachments on the tip status page"
It has been requested for the possibility to disable attachments on the tip status page.

This would be probably a temporary need for the ICC platform but it's in general a nice to have for the platforms that would not require such a capability.

[2016-05-16 12:17] evilaliv3 commented on #1671
This feature could be implemented by simply changin the current interface by not showing the file upload to the whistleblower instead of showing to the user that he/she is still not enabled to upload a file.

[2016-05-16 12:41] #1671 closed

[2016-05-16 21:26] evilaliv3 commented on #1515
i've done a recheck today, updating the stretch and xenial shop list so that with the browser crypto read we could also try to deliver it fully debianized.

the document has been updated and the studied dependencies versions have been put under testing in https://github.com/globaleaks/GlobaLeaks/commit/e7c22380eb63f64b79b11a1a66b5320ddeab5f8a

[2016-05-20 14:23] evilaliv3 opened #1672 "Failure in PGP files creation causes file corruption"
As reported by ```RegioneToscana``` an encoding failure in saveAs implementation affects the file saving routines of the application.

This seems to happen not on all files but on some particular filetypes so that i think that the bug is related to the ```AutoBOM``` feature of filesaver that seems also to not be implemented correctly: https://github.com/eligrey/FileSaver.js/issues/219, https://git

[2016-05-20 14:27] evilaliv3 commented on #1672
I think that we could simply disable the autobom; in fact if the file saved should be equal to a correct file upload, there is no need for the file to be altered in its encoding.

i think the autobloom is needed only when one is creating the file client-side, but for upload/download features as GlobaLeaks does this feature is totally unnecessary.

\cc @NSkelsey

[2016-05-20 14:38] NSkelsey commented on #1672
Damn, I explicitly used `application/octet-stream` to try to avoid these kind of problems.

Can we simply set `disableAutoBOM` to `true`? Any word on the failing file types. Let's document the issue with a test case.

[2016-05-20 14:42] evilaliv3 commented on #1672
yes i think so; feel free to jump on this or i will do it tomorrow night as i'm currently in a car!

[2016-05-20 14:47] NSkelsey commented on #1672
Okay I will see what I can get down at this moment.

[2016-05-21 01:28] eligrey commented on #1672
@NSkelsey auto-BOM does not trigger with `application/octet-stream`. The only situation where auto-BOM is triggered is if `disableAutoBOM` is not `true` AND the content-type you specify matches `text/*;charset=utf-8`. My BOM mark might be the wrong value though, so I am looking into to changing that.

[2016-05-21 10:29] evilaliv3 opened #1674 "Evaluate usage of jsPDF for clientside PDF generation for the tip export facilities"
A nice library and that seems a loot used for generating PDF clientside is [jsPDF](https://github.com/MrRio/jsPDF).

This ticket is to keep track of the analysis of the library and its eventual integration.

[2016-05-21 10:55] evilaliv3 commented on #1672
gotcha @eligrey! thank you so much for your support and hints.

@NSkelsey i think that the issue is that in the final integration we simply created the blob without specifying the mime type, so the default apply and maybe is so the autoboom scatter in this case; @eligreym do you confirm it?

[2016-05-21 12:07] eligrey commented on #1672
Not sure, but a quick grep of your code doesn't appear to be resulting in any MIME types

When you type `Blob`, `URL`, and `URL.createObjectURL` in your console (while in your app), do you see `[native code]`? If not, this is a problem with angular overriding globals (I think someone mentioned something like that to me a while back).

If this is the case, you might want to [file a bug with angular

[2016-05-21 16:33] evilaliv3 commented on #1672
Thanks.

We do not set explicitly the mime type because the payload comes to angular
that already set it.

Anyway nick it would be great to set it explicitly anyhow on the client by
changig it explicitly.

@fpietrosanti: reading better what regione toscana written the issue is on
encrypted Files so maybe it is impacting the encryption, decryption or
download of it! I will dig into this those days

[2016-05-22 00:09] evilaliv3 commented on #1672
@NSkelsey / @fpietrosanti if you remember i handled recently the big file upload issues, handling soome refactor.

That refactor introduced an issue on the PGP file creation where we not decrypting the AES files.
This impacts only users that uses PGP.

[2016-05-22 07:49] #1672 closed

[2016-05-23 14:35] evilaliv3 commented on #1663
Documented: https://github.com/globaleaks/GlobaLeaks/wiki/Advanced-configuration

[2016-05-23 14:35] #1663 closed

[2016-05-23 15:22] fpietrosanti commented on #1128
This is nginx equivalent configuration:

# proxy magic
location ~ /leaks(/.*)? {
  proxy_buffering off;
  proxy_connect_timeout 5;
  proxy_http_version 1.1;
  proxy_ssl_verify on;
  proxy_ssl_session_reuse off;
  proxy_ssl_name "Tor2Web-Proxy";
  proxy_ssl_verify_depth 1;
  proxy_ssl_ciphers "AES128+EECDH:AES128+EDH";
  proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  proxy_ssl_trusted_certificate /sr

[2016-05-24 11:01] evilaliv3 opened #1675 "Notification customization are being reset at migration time"
Some users have reported that the notification customization are being reset at migration time.

This is not an expected behaviour and the user customization should never been touched and the issue is caused by a bug.

In general some improvements should be probably implemented for the future in order to properly address this.

[2016-05-24 12:47] NSkelsey opened #1676 "Mark experimental admin features as experimental"
It is important for the admin to see what features are considered experimental and what are for sure stable.

There are multiple ways to describe it in the UI, and the UX needs to be adjusted accordingly.

cc/ @fpietrosanti

[2016-05-24 13:04] NSkelsey commented on #1676
After a brief [search](https://github.com/globaleaks/GlobaLeaks/search?l=html&q=enable_experimental_features&type=Code&utf8=%E2%9C%93) here are the experimental features (all of them are enabled client side:

- Tip Scoring
- Conditional submission steps
- The custodian account creation

[2016-05-24 15:10] fpietrosanti opened #1677 "Automate testing of released package, warning the core team if something is broken"
This ticket is to automate testing of released package, warning the core team if something is broken (being the code, or the install script, or the debian repository being down or PGP key used to sign the package being expired or whatever error we may encounter within installation process workflow of release package).

That testing shall be scheduled periodically (ideally every 4-6 hours).

The te

[2016-05-24 15:42] fpietrosanti commented on #1676
If we can have a boolean for each of them, to be activated, along with a description of what the feature is, it would be a nice catch. That way the admin will have all those feature disabled at upgrade, unless explicitly enabled?

[2016-05-24 16:51] NSkelsey opened #1678 "Use sqlite3 secure_delete"
We are leaking information to disk when performing simple deletes with sqlite3.

To avoid analysis of deleted tips, messages, and other metadata further research of secure deleting is required

https://www.sqlite.org/pragma.html#pragma_secure_delete

[2016-05-24 23:27] evilaliv3 commented on #1676
i'm ok for having booleans assigned to features.
i would say that everything could become subject to a protection to a boolean or configuration but i would say that in order to easy the develpment we really would require this that is my preferite ticket since ever: https://github.com/globaleaks/GlobaLeaks/issues/999

by the end of the summer i would like to see in place:
- https://github.com/globa

[2016-05-25 13:49] evilaliv3 commented on #999
@NSkelsey with those two commits the PoC of the db changes i've in mind is in place.

it implements what we discussed that is:
- a config table
- a localization table for the variables of the config model that will require the internationalization.

in addition to our discussion i've added a default attribute where to archiving/updating the default value that is from my point of view important in

[2016-05-25 16:30] evilaliv3 commented on #1678
@NSkelsey what do to you think of this changes?

i've not discovered various aspects:
- auto_vacuum is the only pragma to be set before creating any table as it want to allocate additional data for working at runtime;
- foreign_keys instead should be enabled in every query and there is no need to enable them at db initialization

[2016-05-26 12:14] evilaliv3 commented on #1678
implemented!

[2016-05-26 12:23] evilaliv3 commented on #1678
i've documented what implemented and added also documentation for what relates the file overwrite performed by the platform [GlobaLeaks Application Security
Design and Details](https://docs.google.com/document/d/1SMSiAry7x5XY9nY8GAejJD75NWg7bp7M1PwXSiwy62U)

[2016-05-26 12:24] #1678 closed

[2016-05-27 09:33] NSkelsey opened #1679 "Support Alternative Databases"
If we can define our create table in SQL that conforms to the ISO SQL-92 specification we will be able to support MySQL, MSSQL, Postgres and more from a basic language point of view.

Since nothing is especially complex defining the schema once in compliant SQL-92 with sqlite3, we can hit compatibility with other systems for free.

[1]: Comparison of db compatibility: http://troels.arvin.dk/db/rdb

[2016-05-27 10:30] danilort opened #1680 "Glyphicon's not loading in tor 5.5 in some environments"
The glyphicon is not visible, using TorBrowser.
Try also on  https://demo.globaleaks.org/#/

TorBrowser 5.5.5 (FF 38.8)
Globaleaks  2.61.12

![2016-05-27_121335](https://cloud.githubusercontent.com/assets/16148184/15605488/9704b146-2406-11e6-81e2-aacb2753f6bd.png)

Danilo

[2016-05-27 10:48] danilort opened #1681 "When the Receiver label a submission, the label is not saved"
When the Receiver set the Label, this is not saved.

Steps to reproduce:
	• logon as Receiver
	• open one submission
	• write on text-box (es: MyTAG)
	• click the button

![2016-05-27_124918](https://cloud.githubusercontent.com/assets/16148184/15605935/4ed16bd2-2409-11e6-9c3f-a9672f2cdef2.png)

Danilo

[2016-05-27 10:49] danilort commented on #1681
PS: Globaleaks  2.61.12

[2016-05-27 11:11] NSkelsey commented on #1680
Hi Danilo,

Thanks for reporting the issue.

I have tried the reproducing the issue on Windows 8.1 with Tor 5.5.5 and the glyphicons display.

Can you share additional information about your environment?

[2016-05-27 13:11] danilort commented on #1680
SOLVED.
When I access from my company INTRAnet, the icons are missing (but in previous versions of GL, I saw icons).
When I access from external internet, the icons are ok.

Sorry
Danilo

[2016-05-27 13:20] NSkelsey commented on #1680
Great!

I wonder why an intranet would have any effect on the resource. The glyphicons are loaded via a base64 encoded URI maybe there is a cross-origin violation going on?

I'd like to leave this issue open until we get an answer to that question.

@danilort could you take a quick look into it?

[2016-05-27 13:20] evilaliv3 commented on #1681
Thank you for reporting this @danilort;

The bug has been identified and i'm going to fix it and implement the related testing in order to prove fix and add resiliency for further regressions.

[2016-05-27 13:31] danilort commented on #1680
Please, see #1603.
Is there a relationship?

[2016-05-27 14:41] evilaliv3 commented on #1680
i would say no @danilort

that ticket addressed the following topic:
- since always we avoid files to be cached by Internet Explorer
- we just discovered that on this situation glyphicons where not loaded by IE because the browser in case caching is disabled is no able to reach downloaded files.

to change this and improve the optimization of the platform now, the glyphicons (that are contained in

[2016-05-27 14:49] evilaliv3 commented on #1681
Fixed and unit test added.

[2016-05-27 14:49] #1681 closed

[2016-05-30 06:31] danilort commented on #1680
see 2 attachment:

![2016-05-30_083047](https://cloud.githubusercontent.com/assets/16148184/15641399/e4b1d77a-2640-11e6-8c0c-be3ca2553915.png)

[ERRORI.txt](https://github.com/globaleaks/GlobaLeaks/files/288922/ERRORI.txt)

[2016-05-30 06:38] fpietrosanti commented on #1680
Interesting, the "downloadable font: not usable by platform" is reported also on Firefox bug tracker:
https://bugzilla.mozilla.org/show_bug.cgi?id=1228799
https://bugzilla.mozilla.org/show_bug.cgi?id=723482

[2016-05-30 06:42] fpietrosanti opened #1682 "Browser JS/CSS/Font debug console error should trigger an unhanded exception reporting/error"
This ticket is to implement within the end-to-end testing for browser and within the normal operations of globaleaks, the triggering of unhanded exception reporting for any kind of browser JS/CSS/Font debug console error.

Actually errors like Browser JS/CSS/Font debug console error should trigger an unhanded exception reporting/error like the one described at https://github.com/globaleaks/GlobaLe

[2016-05-30 07:04] danilort commented on #1680
I confirm. I get the same error with:
https://bugzilla.mozilla.org/attachment.cgi?id=8728664

I use Win10 Pro.

[2016-05-30 09:19] #1418 closed

[2016-05-30 09:32] EsterVR opened #1683 "Installation problem - unmet requirement"
After following the installation guide provided (https://github.com/globaleaks/GlobaLeaks/wiki/Installation-guide), and attempting to start Globaleaks (/etc/init.d/globaleaks start) I get the following message:

[code]

When I try solution (2) I get the following feedback (note, the path to requirements.txt is incorrect. the file is under /usr/share/globaleaks/):

[code]

When attempting to start

[2016-05-30 09:55] #1675 closed

[2016-05-30 10:04] evilaliv3 commented on #1683
thank you @EsterVR for reporting this.

was this a new setup or an update of an existing one?

[2016-05-30 10:28] EsterVR commented on #1683
It is a new setup on Ubuntu 14.04. At first, there were more unmet requirements, which I managed to update manually. However, these two remained.

[2016-05-30 19:34] EsterVR commented on #1683
As suggested I will make a new installation attempt on a fresh Ubuntu 14.04 machine.

[2016-05-30 19:34] #1683 closed

[2016-05-30 19:37] EsterVR opened #1684 "Permission denied : AppArmor"
I have done a fresh installation of Globaleaks on a new VPS (Proxmox with LXC) running Ubuntu 14.04 . During the installation process, I encountered the following error:
[code]

I am not trying to be smart this time, but waiting for your advice :)

[2016-05-30 19:51] NSkelsey commented on #1683
@EsterVR thanks, if the build breaks that is really quiet bad. Please reopen the issue

[2016-05-30 23:44] vecna opened #1685 "last setup_development_environment.sh"
A problem with cryptography don't  compiling (I've used the last one instead of the one hardcoded in requirements.txt), I'll investigate in the small free time. does for you sounds any bell ? is the Ubuntu 16.04. at the end of installation SSL error

    (glenv) aaѪaa:~/Dev/GlobaLeaks/backend$ !bi
    bin/globaleaks -h
    Starting GlobaLeaks
    sys.excepthook is missing
    Traceback (most recen

[2016-05-31 06:39] evilaliv3 commented on #1685
Halo!

The requirements of Ubuntu 16.04 are under testing but basically what we
are testing on 14.04 to install the same packages versions that are
packaged on that Ubuntu release as Debian package.
The compatibility between the packages exists but yes it is possibile that
compiling on an Ubuntu it wont work and that we need to install some
library.

Let me know if you end in understanding the iss

[2016-05-31 06:45] evilaliv3 commented on #1684
It is possibile that the promox kernel you are using does not support
apparmor.

You have two possibiluties:
- change the kernel
- disable the apparmor sandboxig in the meantime you change the kernel :)
you could do it setting the apparmor sandboxig to 0 in
/etc/default/globaleaks

[2016-05-31 06:53] fpietrosanti opened #1686 "Detect if the globaleaks instance is being started from an LXC container, preventing it from starting up"
This ticket is to detect if the globaleaks instance is being started from an LXC container, preventing it from starting up, providing guidelines on why don't use it (missing proper sandboxing apparmor support) on how to disable apparmor if the sysadmin want to really move forward considering the risks.

This ticket is also to update the technical documentation to include LXC container as an unsupp

[2016-05-31 06:54] fpietrosanti commented on #1684
"Use of libvirt-lxc is not generally recommended due to a lack of Apparmor protection for libvirt-lxc containers." from https://help.ubuntu.com/lts/serverguide/lxc.html

Opened ticket #1686 to detect the condition, preventing the installation and informing about the limit, at installation time and startup time.

[2016-05-31 06:57] fpietrosanti commented on #1685
For later investigation, the bug is documented on https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1512792

[2016-05-31 07:01] fpietrosanti commented on #188
@NSkelsey @evilaliv3 shall we close this ticket considering too old / being replaced by the database logging / auditing framework to be done for the OpenWhistleblowing things?

[2016-05-31 07:07] NSkelsey commented on #188
Sure, this means keeping OW and GL aligned with changes ported from one into the other and vice versa.

[2016-05-31 07:31] evilaliv3 commented on #188
I do not agree with this.

The log we discussed is the tip log and deals with building a datacentric
where the center is the tip-id.

This ticket istead deals with moving the whole logfile used for debugging
and errors etc to the db.

I may agree that we can close it anyhow if we agree that we prefer to keep
on the db only relevant log and keep to the file the debugging log given
the fact that fil

[2016-05-31 08:33] vecna commented on #1685
Ok, somehow, solved.

-cffi==0.8.2
-cryptography==0.8.2
-pycparser==2.10

In requirements.txt these version has to be updated to the last one

cryptography 1.3.2
cffi 1.6.0
pycparser 2.14

[2016-05-31 08:41] vecna opened #1687 "wizard has inconsistent password enforcing policy"
Despite the client report the password being "Strong", when the POST is received:

    2016-05-31 10:37:52+0200 '[!] Failed wizard initialization InvalidInputFormat: <<Invalid Input Format [password requirements unmet]>> (2) HTTP:406'
    2016-05-31 10:37:52+0200 [http] 406 POST /admin/wizard (127.0.0.1) 615.79ms

because the password is lacking of the previous (backend) password strength check (I

[2016-05-31 08:43] vecna opened #1688 "password strength checker has a small inconsistency"
Despite the two password are the same:
![image](https://cloud.githubusercontent.com/assets/89555/15668578/656189b6-271c-11e6-80da-49a8c9f29ab1.png)

still report they are different

[2016-05-31 08:44] vecna commented on #1688
Update: the password is not accepted because is "weak" but is not communicated that I can't use a weak password.

[2016-05-31 08:51] NSkelsey commented on #1688
On it.

[2016-05-31 09:01] vecna commented on #188
I gave a look exactly yesterday night on the status of log-refactor... I would not have time to complete it, but I can align it with the current devel and ... i don't know. in theory has also another OTF label on it.

[2016-05-31 09:15] NSkelsey commented on #1688
@vecna I can't reproduce the bug. The save button should be disabled and the * passwords do not match should not be displayed.

This is what I see when I check out the issue above:

<img width="425" alt="schermata 2016-05-31 alle 11 14 45 am" src="https://cloud.githubusercontent.com/assets/1095794/15669506/f250060a-2720-11e6-9fd4-3a913d1f5b00.png">

[2016-05-31 09:23] vecna commented on #1688
sorry, I forget to specify, is happening in the wizard

[2016-05-31 09:28] NSkelsey commented on #1688
Ahhh! Okay yeah one moment

[2016-05-31 10:37] danilort opened #1689 "The URL on the notifications email don't work well"
GlobaLeaks Version: 2.61.12

The keywords %TorURL% (notification templates) don't work well.
(the old version 2.60.121 was working well)

The URL on the email is correct:
http://v3xoewpevrengdp3.onion/#/status/59b3ceeb-3dc3-4215-aecf-921c75a9c9aa
but when I click, I arrive on the home page:
http://v3xoewpevrengdp3.onion/#/

What I expect:
	- the Receiver copy&paste the URL in torBrowser
	- insert

[2016-05-31 10:42] EsterVR commented on #1684
The kernel we are using supports AppArmor. In fact Proxmox 4 comes with AppArmor support by default since it is used to provide resource isolation in the container. Proxmox 4 doesn't work without Apparmor.

[2016-05-31 11:51] evilaliv3 commented on #1687
Right!

I would suggest that we can leave this validation only clientside.

As the javiscript library work we have no reason to do the test also on the
backend and after the clientside encryption and password hashing we would
not be anyhow able of doing it server side.

in alternative the server side check should be replaced with
http://packages.ubuntu.com/xenial/python-zxcvb

The package is avail

[2016-05-31 11:59] NSkelsey commented on #1689
Thanks Danilo,

@evilaliv3 this error has to do with the new `requiresAuth` and `noAuth` resolvers. The path is not saved in the `dest` param (thats not the right name) for redirect after login like it used to be.

A very simple testcase needs to be written to catch this in the future.

[2016-05-31 12:00] fpietrosanti commented on #1687
@evilaliv3 yes, i don't see risks, someone making a custom GLClient using it to reduce the password complexity on purpose, it's only harming to himself without any reasons

[2016-05-31 12:05] fpietrosanti opened #1690 "Improve URL format being sent in notifications"
This ticket is to improve the URL format being sent in notifications (such as http://v3xoewpevrengdp3.onion/#/status/59b3ceeb-3dc3-4215-aecf-921c75a9c9aa) in order to include also the identifier of the recipient as a parameters, enabling the GLClient to directly displaying *only* a password inquiry with cursor pre-selected, only one click/enter away from accessing the Tip.

Additionally because Gl

[2016-05-31 12:15] fpietrosanti commented on #1652
Maybe the database could be http://www.geonames.org/ or http://www.openstreetmap.org

[2016-05-31 13:39] evilaliv3 commented on #1688
I've applied minor changes to  the commit already authored by @NSkelsey

the behaviour is now the following:
- we never show errors on the password configrmation until the password constraints are satisfied.
- in case the password does not satisfy the required strenght we are now showing the text "The chosen password is too weak. Make it more secure by adding special characters, numbers, and unusu

[2016-05-31 13:45] evilaliv3 commented on #1690
yes @fpietrosanti; there is nothing that we can do sadly.

in the future, only for the recipient we may evaluate the usage of the
localstorage for this reason, but in the meantime i would say: inshalla!

[2016-05-31 13:58] #1688 closed

[2016-05-31 14:03] evilaliv3 commented on #1687
@NSkelsey would you please take care of reviewing this fix (that is simply code removal).

[2016-05-31 14:13] fpietrosanti commented on #1684
@EsterVR If i understood, the LXC container "inside itself" have some problem in using AppArmor, but it's mostly used to protect the "host" operating system isolating different "containers" among themeselfe ?
https://help.ubuntu.com/lts/serverguide/lxc.html#lxc-apparmor

[2016-05-31 14:21] evilaliv3 commented on #1687
@fpietrosanti: as discussed with @NSkelsey, with this and other changes we are really moving a lot of safety on the platform on the client and this is why from now one it is becoming important to not support unsafe browers that do not offer the webcryptoAPI.

e.g. the SALT generation and the password strength validations will be two things done by the client.

[2016-06-01 21:35] #1689 closed

[2016-06-01 21:36] #1687 closed

[2016-06-02 11:07] evilaliv3 commented on #1685
no we do not have to change them.

now i got what you are facing vecna.

you are trying to use the trusty package on xenial and that surely do not work.

the requirements of xenial are already studied in https://github.com/globaleaks/GlobaLeaks/issues/1515 and are; https://github.com/globaleaks/GlobaLeaks/blob/master/backend/requirements/requirements-xenial.txt

that exact version correspond to wh

[2016-06-02 13:46] evilaliv3 commented on #1190
@NSkelsey: this could be a nice to have to already backport in devel.

[2016-06-02 13:47] evilaliv3 commented on #1176
@NSkelsey: this could be a nice to have to already backport in devel.

[2016-06-02 13:47] evilaliv3 commented on #720
documented!

[2016-06-02 13:47] #720 closed

[2016-06-02 13:54] NSkelsey commented on #1190
No backports for you!

[2016-06-02 16:54] fpietrosanti commented on #1680
Tor Browser 6 is out!
https://blog.torproject.org/blog/tor-browser-60-released

Does the problem reproduce also with latests Tor Browser based on Firefox 45?

[2016-06-02 20:21] evilaliv3 commented on #1680
i think i've understood the issue; it should be related to direct2d/direct3d and probably in relations to nvidia cards:
https://bugzilla.mozilla.org/show_bug.cgi?id=1228799#c26
https://bugzilla.mozilla.org/show_bug.cgi?id=1228799#c28

@danilort lookin at this two comments in the mozzilla bugtracker do you confirm it?

[2016-06-03 21:25] NSkelsey opened #1691 "Allow the configuration of the default password via advanced settings"
As discussed with @evilaliv3 the Wizard will no longer require admin authentication.

Within the the wizard the field admin password is exposed. This space could be used to set the default password for all new users of the system and additionally be a configurable setting by the admin in the backend.

This removes the exposure that creating new users has when a platform has been online for a long

[2016-06-04 07:20] fpietrosanti commented on #1691
Are we going to have a sort of "initiatized vs. un-initialized" state

[2016-06-04 08:01] NSkelsey commented on #1691
Yep, in fact we already do. The return of /node signals whether the wizard has been completed or not.

[2016-06-04 09:15] evilaliv3 opened #1692 "the wizard operations should be atomic"
Analizing changes related to https://github.com/globaleaks/GlobaLeaks/issues/1691 i think it would be important that the wizard operations become atomic.

Right now, a malicious user to log in before the wizard is completed and alter the settings.

The real admin will then log in without noticing this changes.

It would be important to implement the wizard as an atomic operation that prevents to p

[2016-06-04 09:17] evilaliv3 commented on #1692
@NSkelsey / @fpietrosanti: i've already implemented quite alle this changes and i'm near to show you.

Basically what i've implemented, that for me is a big improval is the fact that the admin user is now created and activated during the wizard. The interface is still the same but basically it would not be possible for a custom client to bypass the wizard and enter as admin by changing settings be

[2016-06-04 16:53] NSkelsey commented on #1692
ACK, I like this model.

[2016-06-05 15:47] fpietrosanti opened #1693 "Improve UX for Receipt Inquiry removing 1 click/enter"
This ticket is to improve UX for Receipt Inquiry removing 1 click/enter.

I just did noticed on AirBnb registration platform that, when you have to type the SMS-verification code of 4 digits, as long as you type the last-digit the interface automatically start a confort indicator saying that's "logging in".

We may do the very same with the receipt input, by automatically using it as long as the l

[2016-06-06 08:01] evilaliv3 opened #1694 "W: Failed to fetch http://deb.globaleaks.org/trusty/Packages Bad header line"
in recent updates i've experienced this error while performing `apt-get update`.

the error is transient and happens one every two times.

[2016-06-06 09:37] danilort commented on #1680
TorBrowser 6 not solve.
The problem is hardware acceleration (confirmed).
See attachments.

[PROVE ESEGUITE.pdf](https://github.com/globaleaks/GlobaLeaks/files/300080/PROVE.ESEGUITE.pdf)

Danilo

[2016-06-06 10:04] evilaliv3 commented on #1680
ok now that the issue is confirmed we can try to notify it to bootstrap developer in order to understand it in detail and see if that is solvable by them or not.

alternatives could be to go for different implementations of icons if they do not have such issues.

@danilort when you have time could you please try to see if this page loads?

http://fontawesome.io/icons/

it is the font-awesome page

[2016-06-06 10:04] evilaliv3 commented on #1680
thank you so much @danilort for all your help.

[2016-06-06 10:33] danilort commented on #1680
![2016-06-06_122852](https://cloud.githubusercontent.com/assets/16148184/15819229/3df28220-2be2-11e6-9e20-6a946cd5e7b8.png)

----------------
Firefox crashes When using hardware acceleration
https://lists.torproject.org/pipermail/tor-bugs/2014-January/052074.html

Tor crashes when hardware acceleration option is turned on
https://www.reddit.com/r/TOR/comments/40btg2/tor_crashes_when_hardware_accel

[2016-06-06 12:13] NSkelsey opened #1695 "Enforce correspondence of client key pair"
In the implementation of client-side encryption we are uploading public and private key pairs to the server generated by the client.

The server using GNU GPG should require the key pair to actually be a key pair.

When the Private key is reuploaded protected with a new passphrase, a similar check should be enforced.

[2016-06-06 13:00] danilort commented on #1680
Le icone di ICONIC si vedono anche con TorBrowser.
Esempio: http://www.html.it/articoli/37270/esempi/esempio4.html

Danilo

[2016-06-06 15:08] vodkina commented on #1692
Could you please, estimate the issue?!

[2016-06-07 07:27] evilaliv3 commented on #1692
@NSkelsey by today i will release the devel, then cherrypick this commit in devel.

If you want this morning you can already cherry-pick into the browser crypto and work on the admin key generation. what do you think?

[2016-06-07 07:28] NSkelsey commented on #1692
Will do.

[2016-06-07 09:09] danilort opened #1696 "Failure in sending email about tip expirations"
Hello,
I think it would be useful to add a notification, which alerts the Receiver that the TIP is about to expire.
The Receiver can then decide to extend the expiration date.

I suggest to add also new keyword for the notification templates:  %TipExpiration%.

Ciao, Danilo

[2016-06-07 10:11] evilaliv3 commented on #1680
thanks @danilort

the bootstrap peaople are not aware of the issue and as they already removed the glyphicons from bootstrap4 they are not going to help directly.

your suggestion on the iconic library is right but for such a change we would have to assess first eventually all the browser compatibility.

i'm not investigating a different solution;
bootstrap includes more than one kind of css: svg,

[2016-06-07 10:39] evilaliv3 commented on #1680
ok after a better analyisis i think the only one that give compatibility over all the different browsers, and will so continue to work with all in full compatibility is the WOFF format.

i've already setup a demo globaleaks server that is only including that, this way we could all see on different platform if it behave well: https://demo.globaleaks.org/#/

[2016-06-07 12:40] evilaliv3 commented on #1696
This feature existed in past as requested by various adopters (https://github.com/globaleaks/GlobaLeaks/issues/748).

I would mark this as a bug to be investigated.

[2016-06-07 12:42] danilort commented on #1680
[woff.pdf](https://github.com/globaleaks/GlobaLeaks/files/302559/woff.pdf)
[woff2.pdf](https://github.com/globaleaks/GlobaLeaks/files/302560/woff2.pdf)
[svg.pdf](https://github.com/globaleaks/GlobaLeaks/files/302561/svg.pdf)
[ttf.pdf](https://github.com/globaleaks/GlobaLeaks/files/302563/ttf.pdf)

But the pages do not contain icons. They are all images PNG

Danilo

[2016-06-07 12:43] danilort commented on #1680
https://demo.globaleaks.org/#/

![2016-06-07_143751](https://cloud.githubusercontent.com/assets/16148184/15857917/29fd1762-2cbe-11e6-85a3-c0dabc59e6e7.png)

Danilo

[2016-06-07 12:48] evilaliv3 commented on #1680
you are right danilo; i wrongly pasted you the link without the '/components' subpath.

the ones i'm interested in are:
http://www.evilaliv3.org/icons/woff/components/
http://www.evilaliv3.org/icons/woff2/components/
http://www.evilaliv3.org/icons/eot/components/
http://www.evilaliv3.org/icons/svg/components/

but sadly you already configmred me that the woff (that is the only one more compatible)

[2016-06-07 13:05] danilort commented on #1680
alcune si vedono, ma molte no.

![warning](https://cloud.githubusercontent.com/assets/16148184/15858491/0da4731e-2cc1-11e6-95d2-f7c853fb7653.png)

![woff](https://cloud.githubusercontent.com/assets/16148184/15858495/105d630e-2cc1-11e6-82c5-d6df8778aeea.png)

![woff2](https://cloud.githubusercontent.com/assets/16148184/15858499/12cdb5d0-2cc1-11e6-9d59-8ccaa1e3cc6b.png)

![eot](https://cloud.githubu

[2016-06-07 13:15] danilort commented on #1680
FF46 - hardware acceleration = ON

![ff-on](https://cloud.githubusercontent.com/assets/16148184/15858778/943c0d14-2cc2-11e6-82d5-1c718b42c43a.png)

FF46 - hardware acceleration = OFF

![ff46-off](https://cloud.githubusercontent.com/assets/16148184/15858774/91b5fdd4-2cc2-11e6-9ead-fdc4adec9727.png)

[2016-06-07 13:40] danilort opened #1697 "Wrong changelog"
![log](https://cloud.githubusercontent.com/assets/16148184/15859580/01bc1d54-2cc6-11e6-9939-54576a3ca610.png)

:)

Danilo

[2016-06-07 13:56] NSkelsey commented on #1697
Great catch thanks

[2016-06-07 13:59] #1697 closed

[2016-06-08 12:08] NSkelsey opened #1698 "Disable browser autocomplete for html elements"
To reduce the number of traces in the user's browser it is nessecary to inform compliant browsers to set `autocomplete=off`

Additionally, browsers that support this behavior empirically should be documented.

Commit 098746b addresses the implementation. Tests are still TODO.

[2016-06-08 13:22] evilaliv3 commented on #1659
The description is already internationalized.

The name internationalization require a lot of work and this requirement is still not confirmed.

The implementation is so postponed.

[2016-06-08 15:16] NSkelsey commented on #1698
This is hard to test in Chrome due to the default configuration of the chrome profiles for selenium web drivers.

Firefox profiles may be easier to configure to set autofill properties.

This means that each browser may or may not support autofill (or the ability to disable it).

To close this ticket every form in the application should by default set `autocomplete` to `off`.

[2016-06-08 16:23] evilaliv3 commented on #1696
Fixed; will be released in the next release.

[2016-06-08 16:23] #1696 closed

[2016-06-09 07:39] evilaliv3 commented on #1698
The relevant forms that require autocomplete==off now have it.

I've completed this change in https://github.com/globaleaks/GlobaLeaks/commit/a648f248c743c84d7bcf0eaecfe643e42b117299

It involve:

- submissions forms (for the whistleblower)
- messages and comments (both for whisteblower and recipients)
- the receipt login (for the whistleblower)
- the authentication login (for every user)

[2016-06-09 07:40] evilaliv3 commented on #1692
merged into devel!

[2016-06-09 07:41] #1692 closed

[2016-06-09 08:14] evilaliv3 commented on #1691
The default password of the system is now configurable by the admin in the Advanced Settings.

I would suggest for now to not add this configuration during the wizard for now in order to not complicate that much the wizard.

[2016-06-09 08:14] #1691 closed

[2016-06-11 21:38] evilaliv3 commented on #1642
implemented!

[2016-06-11 21:38] #1642 closed

[2016-06-13 08:16] evilaliv3 commented on #1698
Done!

[2016-06-13 08:16] #1698 closed

[2016-06-13 14:09] evilaliv3 opened #1699 "Let the adming disable internal Tor in favour of an external sandboxed Tor appliance"
Some initiatives are starting running setups in which Tor is setup in a sandboxed environment in order to follow a thread model in which every service is isolated from the others.

This is the general use case in which in order to raise the security of the whole system each component is setup in a sandboxed way in order to limit the surface of attack in which one is compromised.

This ticket is to

[2016-06-13 14:20] fpietrosanti commented on #1699
Related to #962 by whonix guys

[2016-06-13 14:22] fpietrosanti commented on #1699
Related to #957 to handle Tor configuration with Txtorcon at Application layer

[2016-06-14 08:49] NSkelsey opened #1700 "Remove descriptions in translations that depend on specific text."
Notice the UI in italian and english. The translation of 'log in' doesn't make sense when the text of the button has become 'Entrata'

The Login UI in Italian:
<img width="412" alt="schermata 2016-06-14 alle 10 49 09 am" src="https://cloud.githubusercontent.com/assets/1095794/16036769/a62fc3e8-321d-11e6-916f-e38b8a0c1319.png">

The UI in English:

<img width="401" alt="schermata 2016-06-14 alle 10

[2016-06-14 13:20] fpietrosanti commented on #1376
This ticket must be improved by:

- Defining the additional terms of 7.b of AGPLv3 for the ATTRIBUTION
  (example 7b additional term http://htsql.org/license/)

- Making a web page on globaleaks.org explaining the licensing

[2016-06-14 13:22] NSkelsey commented on #536
The current implementation of GL Session handles this.

[2016-06-14 13:22] #536 closed

[2016-06-14 13:49] EsterVR opened #1701 "Customized css is not applied"
I am trying to customize the layout of a Globaleaks site but the CSS that I am uploading through the admin interface does not take effect. I can also not find the uploaded css file on the server (via ssh).

q1) Where should the uploaded css be stored?
q2) Any idea why it is not applied?

[2016-06-14 14:17] #1701 closed

[2016-06-14 15:05] NSkelsey commented on #1701
@EsterVR did you have some luck?

Is there anyway we can improve the UI?

[2016-06-14 15:55] fpietrosanti commented on #1376
Related #1520 /cc @NSkelsey

[2016-06-14 15:56] fpietrosanti commented on #1520
/cc @NSkelsey @evilaliv3

[2016-06-14 16:33] fpietrosanti commented on #1376
Proposed clause to be added mixing HTSQL / SugarCRM Public License in a AGPL compatible way (to be checked):

PRELIMINARY STATEMENT OF THE LICENSE:
GlobaLeaks may be used, modified, and/or deployed subject to the AGPLv3 with a supplemental term requiring as a form of attribution of the original author, the inclusion on each user interface screen (i) the "Powered by GlobaLeaks - AGPLv3 Licensed" lo

[2016-06-15 13:21] NSkelsey commented on #1376
@fpietrosanti I performed a review. The language needs some legal eyes.

I do not like the line "Powered by GlobaLeaks." It is very web 2.0 and it implies some sort of cloud based moon power that runs the system.

Something like "Built with GlobaLeaks" works better IMO.

[2016-06-16 12:14] fpietrosanti opened #1702 "Add "Powered by $PRODUCT_NAME" on Email Notification"
This ticket is to add an Attribution claim in all text of all email being sent as notifications, in relationship to #1376 and the procedure to disable it under #1520

[2016-06-16 13:12] NSkelsey commented on #1376
@fpietrosanti mateo has convinced that it should be powered by. Logo could simply be:

<img width="437" alt="schermata 2016-06-16 alle 3 10 10 pm" src="https://cloud.githubusercontent.com/assets/1095794/16117881/a1a2a986-33d4-11e6-8a4b-f2e4ee008b64.png">

[2016-06-16 17:46] evilaliv3 commented on #1376
I like this!

- AGPLv3 not GPL
- we should load it in base64 so a good compressed image work

@fpietrosanti: GlobaLeaks is a fearful world for the openwhistleblowing community; how do we deal with this?

[2016-06-16 21:21] NSkelsey commented on #1376
@fpietrosanti, here is modal for the UI switch that an admin must click. A couple points:

1) Forcing everyone to click through this is not great
2) This is DRM baybeeeeee
3) Functionally (realistically) we cannot separate the disable and the request for approval to remove the attribution. Instead we can do a double modal!

<img width="595" alt="schermata 2016-06-16 alle 11 18 25 pm" src="https://

[2016-06-17 07:15] fpietrosanti commented on #1376
@NSkelsey the enabler is another ticket at #1520, to be discussed, not part of legal compliance itself

[2016-06-17 08:37] evilaliv3 commented on #1376
@fpietrosanti / @NSkelsey:

i've updated the texts; do not edit other comments as we lose the history of the changes.

i think that reviewing the english it was reviewed also official texts of the AGPLv3 license; NEVER DO SUCH A THING.

edits:

- i've added some suggested texts on how to apply the AGPLv3 have been added (https://www.gnu.org/licenses/agpl-3.0.en.html)
- ive restored official texts

[2016-06-18 07:17] fpietrosanti opened #1704 "Evaluate in-app / in-website support chat integration"
This ticket is to evaluate, brainstorm the integration into GlobaLeaks of in-app support chat application that enable a GlobaLeaks user (being admin or receiver for example) to interact with professional support, either during a pre-evaluation of the software, or after a deployment.

While intercom.io seems to be the gold standard for in-app support chat integration, ppmessage is the actual openso

[2016-06-23 15:17] NSkelsey opened #1705 "Specify trust model and signature scheme for browser crypto"
As a result of the analysis of @evilaliv3 and various deadlines, the implementation of signed PGP messages has been punted.

A system of trust among the WB and receiver keys must be specified before any signatures we generate have any value.

[2016-06-23 15:30] NSkelsey opened #1706 "Perform Server side validation of client generated PGP keys"
This is a really essential TODO.

At the moment, the backend treats the fields as strings. Careful thought is needed to ensure that the submitted key pairs conform to the expected format.

[2016-06-23 15:35] NSkelsey opened #1707 "Research and develop memory protection for private material stored on the browser"
This ticket is for research and discussion of memory protection of passphrase and private key material that will be loaded into the browsers memory when encryption/decryption is preformed client-side.

[2016-06-25 08:49] soferio commented on #1459
The problem is solved for me (in the sense that it now works nicely on Microsoft Edge) by adding:

[2016-06-27 12:58] evilaliv3 opened #1709 "Verify that PGP keys and encrypted payloads generated clientside do not leak browser information"
Given the upcoming browsercrypto module implementing key generation and encryption client-side, it would be important to verify that keys generated client-side and encrypted payloads do not leak browser information.

In the specific we should verify that openpgp.js is:
- the generated keys and algorithms used are not browser dependent.
- the algorithms selected when doing encryption are not browse

[2016-06-27 13:01] evilaliv3 commented on #1709
@tanx is there some browser dependent selection of algorithms involved in key generation or in encryption that we should keep in mind?

\cc @toberndo @fpietrosanti

[2016-06-27 13:10] tanx commented on #1709
Not that I know of.

[2016-06-27 14:36] evilaliv3 commented on #1709
Okay, thanks; i will take this open in order to pay a bit of attention to it.

[2016-06-28 06:02] vodkina commented on #1709
is this an issue pertaining to the current (june) milestone? If so, please estimate it. Thanks :)

[2016-06-28 07:58] evilaliv3 commented on #1709
moved out of the milestone for now.

[2016-06-29 15:10] NSkelsey opened #1710 "Add Key Whitening to PGP key generation in the Browser"
Currently, openpgpjs relies exclusively on `Crypto.getRandomValue()` an extension worth implementing for GlobaLeaks allows the user to whiten the key with random input from the keyboard, mouse, etc, etc.

[2016-06-29 15:22] NSkelsey commented on #1376
Additional analysis by an awesome start-up lawyer in the US:

-         The fact that HTSQL is using this approach gives us some comfort that it’s ok.
-         On the GPL website, they state that they will not raise legal objections to people modifying their license, which gives us some (not perfect, but some) comfort that even if you’re wrong about what Section 7(b) allows you to do, you won’t g

[2016-06-29 16:33] evilaliv3 commented on #1376
Thanks @NSkelsey, seems a valuable feedback

I agree with all except what relates to the "END OF TERMS AND CONDITIONS" that is a sentence used as start and trailer by the AGPL so its the original text of the AGPL that read in a pedantic way says that it cannot be modified ;)

[2016-06-30 14:05] gszathmari opened #1711 "tor2web instructions don't work"
I was following the instructions on https://github.com/globaleaks/GlobaLeaks/wiki/Installing-GlobaLeaks-Tor2web-Letsencrypt

When I am connecting with my browser, I get the default Tor2Web page instead of the actual Globaleaks main page

<img width="973" alt="screen shot 2016-06-30 at 23 56 09" src="https://cloud.githubusercontent.com/assets/4806014/16491014/7563e7b2-3f1f-11e6-96ee-406acf5df02a.pn

[2016-06-30 14:12] evilaliv3 commented on #1711
Dear @gszathmari thanks for getting back to us.

The issue is known and is due to old files included in the current release of tor2web.

A new version is going to be released, in the meantime you could use the update version of the globaleaks configuration for tor2web and get back to us in case of issues: https://github.com/globaleaks/Tor2web/blob/master/data/conf/tor2web-globaleaks.conf

[2016-06-30 14:19] gszathmari commented on #1711
Hi @evilaliv3 , thanks for the quick response.

I am getting the folllowing error with the conf file:

[code]

[2016-07-01 09:42] evilaliv3 commented on #1711
@gszathmari i think that the issue here, could be that you written 1.2.3.4 in the IP?

or this was simply for not showing us the ip of your setup?

anyhow you find our a new release of tor2web that may have fixed your issues.

[2016-07-01 10:04] evilaliv3 commented on #1190
This is implemented and finalized in the browsercrypto branch and it's documentation is part of writing the browsercrypto specs; then will follow updating the application security document.

[2016-07-01 10:04] #1190 closed

[2016-07-01 10:05] evilaliv3 commented on #1176
This is implemented and finalized in the browsercrypto branch and it's documentation is part of writing the browsercrypto specs; then will follow updating the application security document.

[2016-07-01 10:06] #1176 closed

[2016-07-01 10:18] evilaliv3 commented on #1684
This issue was in the end solved by identifying that that was an issue on the apparmor configuration of the node instead of globaleaks itself.

[2016-07-01 10:18] #1684 closed

[2016-07-01 10:24] evilaliv3 commented on #1376
Splitting this ticket in tho considering done the edit of the attribution clause.

Opening now a new ticket for evaluating if and how automate the addition of the copyright header to all the sources.

[2016-07-01 10:24] #1376 closed

[2016-07-01 10:28] evilaliv3 opened #1712 "Add copyright notice to each source file"
Completing the work done in https://github.com/globaleaks/GlobaLeaks/issues/1376 in order to protect GlobaLeaks as an opensource project it would be important to identify if and how to add a copyright header to each source file as suggested by the AGPLv3 license.

[2016-07-01 11:23] gszathmari commented on #1711
Ah sorry I rewrote the IP here to protect my privacy

[2016-07-01 11:31] gszathmari commented on #1711
Unfortunately I still got this error after `/etc/init.d/tor2web start`

[code]
[main]
basehost = secret.com
listen_ipv4 = x.x.x.x
mode = TRANSLATION
onion = secret.onion
dummyproxy = http://127.0.0.1:8082
ssl_key = /home/tor2web/certs/tor2web-key.pem
ssl_cert = /home/tor2web/certs/tor2web-cer.pem
ssl_intermediate = /home/tor2web/certs/tor2web-intermediate.pem
disable_gettor = True
disable_disclaim

[2016-07-03 11:08] evilaliv3 opened #1713 "Long running promises involving status messages should always block the user from changing the page."
Long running promises involving status messages should always block the user from changing the page or interrupting what is happening.

Right now the following interfaces affected:
- key generation page at the end of the wizard
- key generation page at the first login
- key update page at the end of the password change

[2016-07-03 11:11] evilaliv3 commented on #1713
i'm addressing a proper refactor both on devel and on the browsercrypto branch in order to address this.

Basically i'm passing from a model where i've implemented this behaviour using the z-index tricky to a model that use the proper HTML5 CSS classes.

[code]

this can be applied to the root HTML element in this way:
[code]

[2016-07-03 12:17] NSkelsey commented on #1713
evilaliv3: the intention behind `loadingModal` was to handle these cases.

Are you thinking instead of dropping a transparent element in front of the whole page? I like this solution

[2016-07-03 12:51] evilaliv3 commented on #1713
i'm keeping the transparent oeverlay, calling it page overlay for when we have the modal, but in general i'm also making use of this css rules.

i'm about to finalize the integration in the browsercrypto and i will leave some notes on the commits of some issues i've fixed.

[2016-07-03 12:51] NSkelsey commented on #1713
ACK

[2016-07-03 13:00] NSkelsey commented on #1706
Taking this on this afternoon.

[2016-07-03 13:07] NSkelsey commented on #1706
For starters, there is a non zero risk that fuzzing the input into the Python GPG library opens up a vulnerability [1].

The question is whether it is better to trust the implementation of OpenPGPjs to flawlessly validate input in the client or if it is worth performing the validation twice, to try and catch any issues on the server first.

[1]: http://osdir.com/ml/opensource-software-security/201

[2016-07-03 14:30] NSkelsey commented on #1706
Verification of content using pgpdump:

[code]

[2016-07-03 15:27] evilaliv3 opened #1714 "Language selector should perform automatic save of the language preference for the user."
It would be nice to implement for the user an api for setting variables one by one.

This could be done easily as we have done for setting the label of the tip and that API could be generalized to objects like, user, receiver, convext, whatevah.

After doing that it would be interesting to implement on this API an automatic save of the language preference on the backend when a logged user perform

[2016-07-03 15:37] evilaliv3 opened #1715 "Save language preference of the whistleblower in encrypted format."
Now that the clientside encryption will be in place, it would be interesting to start storing some preferences for the whistleblower user in relation to the tip.

E.g. the language used during the submission could be stored encrypted on the backend so that when the user will re-log in with the receipt the language could be set to that preference.

This would represent a nice improvement for the UX

[2016-07-03 15:43] evilaliv3 commented on #1715
@fpietrosanti / @NSkelsey : in relation to this issue i've identified that we should analyze the impact of having answers in plaintext in rleation to every kind of question.

e.g.: a single freetext answer left in plaintext leak the language of the user that is such a leak in some contexts.

[2016-07-04 19:00] evilaliv3 opened #1716 "Whistleblower access should be subject to an expiration time different from the data retention policy"
Most of the users are doing bad use of the platform as for practical reason are always putting the data retention policy limit big near to infinite.

This is acceptable in relation to the data retention policy, but not acceptable in relation to the possiblity for an attacker to get more chance in accessing existing submissions.

This require to be handled, and the best solution is to split the whi

[2016-07-04 19:00] evilaliv3 commented on #1716
By default i will set it to 3 months and make the whistleblower reset it by simply logging onto the platform.

I think that always when customized, the value of this timeout parameter should be studied and its value should take into account:
- the data retention policy
- the receipt complexity (currently set to 16 digits)

[2016-07-04 19:03] evilaliv3 commented on #1716
@NSkelsey check it out! ;)

[2016-07-04 20:43] fpietrosanti commented on #1716
Security documents should be updated accordingly for what's related to anti-bruteforcing protection's references

[2016-07-05 15:44] evilaliv3 opened #1717 "The platform should proactively sniff the browser language and answer with that on the first request"
In order to optimize the user experience serving the most probable language that the user will want to choose and reduce the round trips required to show the interface in that language the platform should proactively sniff the browser language and answer with that on the first request.

[2016-07-05 15:49] evilaliv3 commented on #1717
This could be done by sniffing the AcceptLanguage header sent by browsers following the rfc2616.
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4

In particular we could reuse the same code implemented in cyclone for this reason: https://github.com/fiorix/cyclone/blob/master/cyclone/web.py#L902

Sadly we could not reuse exactly the function because it embeds al lot of logic related t

[2016-07-06 14:02] evilaliv3 opened #1718 "Allow users to configure their profile informatioin"
Since ever we have discussed about allowing users to configure their profile information.

We never opened (as far that i remember) any ticket in order to discuss this and collect the possible issues in such a feature.

The main issue in implementing such a feature that i see is the possibility for a malicious or compromised recipient to hijack other users and the platform itself by simulating oth

[2016-07-06 15:18] fpietrosanti commented on #1718
related #355 #841

[2016-07-07 07:45] evilaliv3 commented on #1076
Very nice interface from hackerone:

![screenshot from 2016-07-07 09-43-31](https://cloud.githubusercontent.com/assets/217034/16645902/7c1abae2-4427-11e6-8570-7ce18aa4543b.png)
![screenshot from 2016-07-07 09-43-42](https://cloud.githubusercontent.com/assets/217034/16645904/80a055cc-4427-11e6-9275-99777190d9da.png)

[2016-07-07 15:57] evilaliv3 opened #1719 "Password reset in gl-admin script should be re-implemented following browsercrypto implementation"
Given the fact that the password reset implementation on the admin side has changed, this changes should be reflected in the gl-admin script.

The new implementation should take care when possible of reusing code already implemented in the backend.

[2016-07-07 21:57] evilaliv3 opened #1720 "STATEMENT FOR ETHERNAL FRIENDSHIP: Every GlobaLeaks abuse by an adopter will be badly punished."

[2016-07-12 14:00] NSkelsey commented on #1716
TODO these changes should be ported into master to satisfy the requirements of an adopter before September.

[2016-07-12 18:13] evilaliv3 opened #1721 "Make Tor a recommended package"
Tor since always been marked as a mandatory requirement for GlobaLeaks.

This makes not possible to implement cleanly setups in which Tor should not being installed on the same machine of GlobaLeaks itself but on an other.
In fact on this situation even if one disable tor by ```update-rc.d tor remove``` an eventual apt-get upgrade will remark Tor for autostart at the next upgrade.

The only way fo

[2016-07-12 18:46] evilaliv3 opened #1722 "Fix haveged watermark configuration in relation to upstream patch"
A patch for https://bugs.launchpad.net/ubuntu/+source/haveged/+bug/1318678 has been just released: https://launchpadlibrarian.net/271062942/0003-Don-t-set-a-watermark-higher-than-pool-size.patch

The package is already updated in xenial and in strech but not in trusty.

Sadly haveged is not exporting any --version; so it is not possible to apply a different configuration depending on the version o

[2016-07-15 09:35] NSkelsey opened #1723 "Init.d service generates mangled logs"
From a production system we are seeing the first line of every log file generated with a-bunch of ^@a's

This will remain a TODO until it can be reproduced elsewhere.

[2016-07-16 08:05] evilaliv3 opened #1724 "Custom CSS should not impact on the Administrator interface"
In order to prevent the admin user to lockout himself or affects its own interface it would be important to prevent the custom CSS to impact on some of the interfaces like:
- all the admin pages
- the login pages

[2016-07-16 08:05] evilaliv3 commented on #1724
This feature request, already identified in past is now a requirement for the ADJBarcellona project where the UI of the end user (whistleblower) by design affects some of the interfaces.

In fact in the ADJBarcellona project has the need to remove for the whistleblower interface the possibility to remove the language selector but such a change, now doable only with the CSS, highly affects all the

[2016-07-16 08:24] evilaliv3 opened #1725 "Urls including lang parameter should be retested and proper unit test implemented."
While working on the BustiaEtica project it has been noted that urls including ```lang``` parameter (e.g.  ```url?lang=ca```) appear sometimes to not working properly.

This ticket is to keep track of the retesting of the functionality of the feature.

As part of the ticket it would be important to write an end2end test for protecting against possible regressions in the feature.

[2016-07-16 08:27] evilaliv3 commented on #1725
A proper retesting should include:

- navigating urls on at least two languages; one of the two can be the default language.
- on this ourls spwcificlly the following checks should be done:
  - software texts should be properly internationalized
  - user defined texts should be properly internationalized

[2016-07-16 08:50] evilaliv3 commented on #1716
I agree.

This is now a requirement for most of the public administrations and enterprises where the data retention policy choice, in relation to some law requirements or some procedures is too broad.

[2016-07-16 21:05] evilaliv3 opened #1726 "Implement specific data retention policy for unread submissions."
Most of the real use cases have data retention policies too broad; typical settings enable the submission to survive one year.

With this ticket I propose to add an additional specific configuration for managing automatic deletion of unread contents.

i think in fact that if from one side is ok that an organization set the data retention policy to one year, t would be important to enforce in the w

[2016-07-17 05:31] fpietrosanti commented on #1726
Given the fact that with case management functionalities we Will have other "states" for the submission (from open to assigned to closed and other states), it maybe valuable to do a generic data cleaner based on tip status, with different data retention policy periods per status per context.
That general framework based on tip status should eventually consider that following the recommendation fro

[2016-07-17 09:21] evilaliv3 opened #1727 "Extend field triggers to function with fields in nested groups"
Right now the field triggers (optional questions) implementation allow the trigger to be only at the root level of the questionnaire and not inside a nested structure of fields.

This ticket is to keep track of the current status of the implementation and of the work for extending fields triggers to hierachic fieldgroups groups.

[2016-07-17 10:31] evilaliv3 opened #1728 "FANTASMA: phantom recipient"
Working on the BustiaEtica project we collected a possible feature involving a FANTASMA.

The keypoints discussed for such a feature are:
- the platform COULD allow to define a phantom recipient
- the platform, upon creation of the Phantom recipient MUST leave on the platform only the public key of the phantom user and force the administrator to download the fantasma key.
- it will be duty of the

[2016-07-17 10:40] evilaliv3 commented on #1728
By current research ideas, i think that this phantasma user could be eventually the same used for implementing the key escrow mechanism.

In my opinion in fact the two features does not compete one on the other; both enable different use cases and the implementation of both add to the platform important resiliency capabilities.

https://github.com/globaleaks/GlobaLeaks/issues/1658

[2016-07-17 16:35] fpietrosanti commented on #1728
I'm missing which is exactly the use case, what's the problem we are trying to satisfy, handling key escrow?

[2016-07-18 07:40] NSkelsey commented on #1716
The implementation which I am porting from Browser crypto into devel, does not generate a notification to the receiver before a Whistleblower's access to the tip expires.

We can modify `check_for_expiring_submissions` to send email for tips that are expiring as well. Once the `wb_tip` is gone there will be no chance to return access to the WB.

[2016-07-18 12:17] NSkelsey commented on #1716
A few notes:
1) Instead of an email, a dialogue that is shown to the whistleblower that explains that their access to the submission will expire if they do not access it within X days is a better approach

2) The tip interface on both sides needs to update to show this new piece of state. We can place a flag that lives in the tip summary box.

3) The tip list interface needs either an extra column

[2016-07-18 14:25] NSkelsey opened #1729 "Fix Translation in tip delete"
The second sentence does not describe WHAT to delete.

![schermata 2016-07-18 alle 4 23 17 pm](https://cloud.githubusercontent.com/assets/1095794/16917962/0b5ca226-4d04-11e6-82fd-8d7681d567a6.png)

It should be something like:

[code]

[2016-07-18 15:02] NSkelsey opened #1730 "Prioritize translations based on which users will see them"
As globaleaks grows and gets more and more text it is important to spare the translators from tiny changes that are only shown to the admin.

It would be great to be able to say that the public frontend (the thing that whistleblower's see) is completely translated. This makes a huge amount of sense for initiatives that want to use less common languages to process whistleblowers, but do not need th

[2016-07-18 16:36] NSkelsey commented on #1716
This is what the current implementation looks like, (we've added a column)

![schermata 2016-07-18 alle 6 20 19 pm](https://cloud.githubusercontent.com/assets/1095794/16922504/0ad8752a-4d16-11e6-8598-93695fc9eaf4.png)

With a popover:
![schermata 2016-07-18 alle 6 20 10 pm](https://cloud.githubusercontent.com/assets/1095794/16922520/1a1e221e-4d16-11e6-934e-6c2442c139c0.png)

And when access is rev

[2016-07-19 07:17] NSkelsey commented on #582
Outdated.

[2016-07-19 07:17] #582 closed

[2016-07-19 07:24] NSkelsey opened #1731 "The CSS customization should apply to public pages"
An adopter needs to remove CSS that they have applied to every page in their interface. It needs to go on the public pages and that's it.

In order to handle this in a sane fashion and to not break the customizations of many other sites I propose the following:

Append CSS classes to the root tag:
```<div id="BodyDefault" data-ng-if="!Utils.isHomepage() || !node.custom_homepage">```

This way we c

[2016-07-19 09:59] NSkelsey commented on #1730
IN case of duplicates the string should only appear in public.

Instead we can do a simpler division, public and private.

For example the Tip interface contains a set of HTML files that are shared between the receiver and the whistleblower.

[2016-07-19 12:54] NSkelsey opened #1732 "Partial internal paths for authenticated users throws errors"
There is a problem when visiting half formed urls when a user is logged in like:

(localhost:8083/#/admin/)[http://localhost:8083/#/admin/]
(localhost:8082/#/reciever/)[http://localhost:8083/#/admin/]

It looks like the URL redirector gets caught in a loop redirecting to /admin from /admin/ endlessly murdering itself in a circle. The exception that gets throw looks like this:

![schermata 2016-07-

[2016-07-19 15:43] NSkelsey commented on #1731
This needs to be documented in the [Customization Guide](https://github.com/globaleaks/GlobaLeaks/wiki/Basic-customization-guide) for this to close.

[2016-07-19 21:32] NSkelsey commented on #1731
Documented.

[2016-07-19 21:32] #1731 closed

[2016-07-20 13:44] evilaliv3 commented on #1728
No; the idea is to be able to archive all the data of a submission encrypted for an offline key.

but i agree that the cryptographic support for this implementation can be exactly the same that we can use for the key escrow mechanism that basically the same issue but applied to keys

Also for the key escrow mechanism in fact we will need a with a public key associated to an offline private key.

[2016-07-20 19:42] NSkelsey commented on #1716
I have been testing the implementation of this feature.

When access is revoked the following log line is generated:

[code]

At migration time access to Old whistleblower tips should be revoked. Otherwise the scheduler will expire a whole bunch at 00:00:00 the next day the service restarts.

[2016-07-21 07:32] #1713 closed

[2016-07-21 07:33] #1721 closed

[2016-07-21 09:32] NSkelsey opened #1733 "Bring Tor Browser under end-to-end testing"
This one should be pretty obvious!

[2016-07-21 10:42] NSkelsey opened #1734 "Unique identifier for Tips does not use UTC"
An adopter has noticed that the submission counter order occasionally reports incorrect sequence numbers.

![submissions](https://cloud.githubusercontent.com/assets/1095794/17019926/30056f62-4f3f-11e6-9b4b-a1ecd010bf01.png)

The problem is that we generate the tip Name on the frontend using the angular `date` filter, which uses the browsers local time to express the date. When the sequence counter

[2016-07-21 10:47] NSkelsey commented on #1734
What will happen if we add the `UTC+0` param is the following:

Any tip that was created after midnight on local time will have see sequence date change.

So `20160714-2` will become `20160713-2`

[2016-07-21 15:20] NSkelsey commented on #1733
PoC

[code]

[2016-07-21 18:05] evilaliv3 commented on #1734
good to go for me nick. if you open a pull request i will merge it!

[2016-07-21 18:23] evilaliv3 opened #1735 "Deny the whistleblower to copy contents of the application inside its clipboard"
Right now the platform allows the whistleblower to copy contents of the applications inside its clipboard.

This could represent a security issue that could bypass the security measure put in place in order to prevent to leave forensic traces on the browser.

This ticket is to discuss the possible protections that could be:
1. deny the whistleblower to copy any content on the clipboard
2. deny als

[2016-07-21 19:22] evilaliv3 commented on #1735
[code]

[2016-07-21 19:23] evilaliv3 commented on #1735
The above code is more interesting than the CSS code as i found the css code to be strongly faulty on various browsers.

[2016-07-21 19:41] evilaliv3 opened #1736 "Disable cat and paste on password confirmation inputs"
Currently the platform allows cat and paste on password confirmation inputs.

This is not generally recommended as it allows the user to cut and paste a wrongly typed function fooling the user and ending in saving and unknown password.

[2016-07-21 19:44] evilaliv3 commented on #1736
The following seems a good solution: http://stackoverflow.com/questions/27783144/disable-cut-copy-and-paste-function-for-textbox-using-angularjs

[code]

[code]

[2016-07-21 20:07] evilaliv3 commented on #1729
Nick would you please fix this sentence?

here are currently mixed the foollowing two concepts:
1) if you confirm, the data on the platform will be definitely lost;
2) regardless of the platform if the intention is  to delete the content, be sure to delete your copies.

i would probably go for communicating only 1) for now.

[2016-07-22 02:23] fpietrosanti commented on #1735
I think that being a concious action by the Whistleblower (that Will have it'own reasons and thinking about The action of Saving what he submitted, doing an explicit/conscious action of selecting and copying the data), he should not be prevented from doing it.

If there's a security risks, let's define a risk scenario and how this feature would address it

[2016-07-22 02:53] fpietrosanti commented on #1733
I'd suggest to:
a) Write a post to tor-dev mailing list with our requirement of automated testing of tor-browser and our uses of saucelabs, asking if someone else feel the same need because it could benefit the tor community at large

b) Write to saucelabs asking if they can include TorBrowser in their testing platform, referring to the tor-dev mailing list post

[2016-07-22 07:35] evilaliv3 commented on #1735
from my point of view the security risk exists; if the user copy the receipt or other initiative specific contents onto the clipboard this contents could be leaked undefinitely there.

[2016-07-22 08:58] evilaliv3 commented on #1736
Input for this ticket collected during the ISO 27001 audit.

[2016-07-22 08:58] evilaliv3 commented on #1735
Input for this ticket collected during the ISO 27001 audit.

[2016-07-22 09:23] NSkelsey commented on #1736
I agree with Fabio

[2016-07-22 09:30] fpietrosanti commented on #1735
The content in the clipboard is stored in the volatile memory of the computer, like the browser web page content, but it get overwritten automatically everytime there's a new copy and paste or computer is rebooted.
I see no clear risk compared to the same risk related to browser data staying in volatile memory until it's closed or worst risk of swap paging content of the submission by the browser.

[2016-07-22 09:35] NSkelsey commented on #1729
[code]

@evilaliv3 my humble submission, the last line is bonus.

[2016-07-22 13:45] evilaliv3 commented on #1729
Ok i like them. Let's put them all and eventually we will remove the last one if not understood by the users.

[2016-07-22 13:52] evilaliv3 commented on #1735
i may agree on the first part of the defense of your point, and i've already reverted the changed but let me comment that the second part does not make any sense.

for sure whistleblowers can make mistakes out of the platform, but the platform has to implement the better policies anyhow; if we follow your suggestion most of the features that we have could be trashed, like the data retention policy

[2016-07-22 14:14] evilaliv3 commented on #1729
bam!

[2016-07-22 14:14] #1729 closed

[2016-07-22 14:30] #1735 closed

[2016-07-22 15:52] evilaliv3 commented on #1729
@NSkelsey the france language coordinator proposed this change:

key Please be aware that everything stored off of the platform like files you have saved on your computer must be deleted manually.
Long sentences like that are heavy, it should at least be punctuated, possibly :"Please be aware that everything stored off the platform, e.g. files you have saved on your computer, must be deleted manua

[2016-07-22 16:25] NSkelsey commented on #1729
Better!

[2016-07-22 16:25] evilaliv3 commented on #1736
closing as completed and integrated in devel.

[2016-07-22 16:25] #1736 closed

[2016-07-22 16:27] evilaliv3 commented on #1734
works for me, reviewd and merged in devel.

[2016-07-22 16:27] #1734 closed

[2016-07-22 16:30] NSkelsey commented on #1734
@evilaliv3 I will open a ticket on using a platform wide TZ instead of a recipient based one, so that this display along with the date-times used in other interfaces use the same TZ across users and places.

[2016-07-22 16:32] evilaliv3 commented on #1724
This has been implemented by @NSkelsey and will be released in the upcoming release.

The platform now inject the follwing CSS classes in the root HTML element:
| Class       | Description |
|-------------|-------------|
| .ext-public | appended on every page intended for Whistleblower's. These are the public pages. |
| .ext-login  | appended to every page used for logging users (IE receivers, cus

[2016-07-22 16:33] #1724 closed

[2016-07-22 16:36] evilaliv3 commented on #1725
fix and regressions tests have been implenented and are now integrated in the devel branch.

the fix will be part of the upcoming release.

[2016-07-22 16:36] #1725 closed

[2016-07-22 16:42] evilaliv3 commented on #1723
I've investigated the bug and it seems to me to not be an issue with the platform.

To be verified if the issue is not related to the adopter setup where i remember that logs are subject to zip thanks to some external software.

[2016-07-22 16:43] evilaliv3 commented on #1717
This has been implemented and is part of the devel branch.

Will be shipped with release 2.63.0

[2016-07-22 16:43] #1717 closed

[2016-07-22 16:58] evilaliv3 commented on #1734
i agree that won't be bad to have the possibility to disable the user defined timezones and adopt a systemwide timezone related to the platform.

this way we will conserve the requirement of not leaking the timezone of the platform for the initiative where this is perceived as critical and we will satisfy your need of having all unified on a specific timezone.

in that feature so specify to have t

[2016-07-22 17:24] NSkelsey commented on #1734
@evilaliv3, for initiatives that do not want to disclose this info they will just not set a timezone?

One more point
1) At migration time the system timezone will be set to UTC+0. This will change the display of the dates and times in the tip interface for events occurring.
In general I think we should have a way to notify users of changes introduced by newer versions of the software. Something l

[2016-07-23 02:42] fpietrosanti commented on #1734
IMHO that's just a normal web application, so the time representation should have:
1. a system wide timezone configuration (set with a selector with all the TZ)
2. a recipient specific timezone configuration (to enable the user to have a representation of time, relative to it's timezone, think a multi-national with 6 recipients on 6 different timezones)

If we consider that leaking the timezone in

[2016-07-23 10:53] evilaliv3 commented on #1734
@fpietrosanti i resume the issue because identified by nick that i confirm:
1) for sure we have to switch a node timezone for the Tip Unique identifier, because an ID like 20160701-01 cannot change depending on the timezone of the user; this was happening and different users where viewing different ID depending on their relative timezone.

2) as extension of the issue 1 in general i'm perceiving a

[2016-07-24 13:18] evilaliv3 opened #1737 "Dates timezone should be explicit"
Right now timezone is not rightly handled by the application and the user can bee fooled in quite all the interfaces in knowing a wrong date for the creation, expiration and other information related to submissions and expiration.

This is due to the fact that the timezone is not shown as an explicit information in the dates shown on the platform.

In addition right now some of the dates sent thro

[2016-07-24 15:03] evilaliv3 commented on #1737
Angular is naturally able to detect and use the timezone of the brower: https://docs.angularjs.org/api/ng/filter/date

for this it is simply needed to add the ```Z``` element to the date filter; this way starting from a UTC date we will naturally show the date in the user timezone and it will print 4 digit (+sign) representation of the timezone offset (-1200-+1200) like ```24-07-2016 10:38 +0200``

[2016-07-24 15:05] evilaliv3 commented on #1737
@NSkelsey would you please review this commit?

[2016-07-24 16:33] evilaliv3 commented on #1716
Implemented in devel; will be shipped in the upcoming release.

[2016-07-24 16:35] evilaliv3 commented on #1711
@gszathmari have you managed to get this fixed?

closing the ticket for now as we have retested and fixed the released configuration that i think now should works.

feel free to reopen the ticket in case you need further assistance on this topic.

[2016-07-24 16:35] #1711 closed

[2016-07-24 16:35] #1709 closed

[2016-07-24 16:37] evilaliv3 commented on #1685
Closing this for now; See previous comments for details.

[2016-07-24 16:37] #1685 closed

[2016-07-24 23:27] NSkelsey commented on #1737
@evilaliv3 I really dislike appending `+0XXX` to every date time.

There are alternatives:
1) Go back to using local without TZ strings and place an indicator somewhere to tell you the TZ
2) Attach the actual TZ to the date and display EST, CEST, PST etc etc (nobody or their mother thinks in UTC)

[2016-07-25 05:18] evilaliv3 commented on #1737
nice edit and good suggestions; i was already keeping into account the first.

i totally agree with you but my commit tries first to be explicit and making things homogeneous then we can discuss of this improvements that requires various custom logic for:
1) reading the timezone (angularjs does not export an API for it but us it internally
2) do and the eventuall mapping you are describing (EST, C

[2016-07-25 12:43] NSkelsey commented on #1734
I think Fabio's solution works. Have a node setting and a user setting, where the application's default is UTC.

- Sequence numbers always use UTC, so that they do not change based on changing config.

- We stop performing the Timezone sniff that gives us the local TZ for the user.

- The dates displayed to Users, prefer their local settings over the nodes config.

[2016-07-26 15:36] NSkelsey commented on #1737
@evilaliv3 @fpietrosanti

Implementing the TZ as an administrator setting that gets set application wide. This is the TZ of the server. The default will be UTC.

Definitely not going to use the +0XXX extensions. IMO It is better to keep the UI minimal and let it be implicit.

![schermata 2016-07-26 alle 3 26 48 pm](https://cloud.githubusercontent.com/assets/1095794/17139622/86a21f0a-5345-11e6-8d66

[2016-07-26 17:00] evilaliv3 commented on #1737
@NSkelsey: could you please clarify better your idea?

if i'm not wrong you want to simplify to have only a single global setting for the timezone of all the dates shown by the platform (if this is the case let's also change the name to 'timezone' instead of 'default_timezone')

i'm not against this semplification given the usage that has been done;

in my experience i also feel that this simplifi

[2016-07-26 17:21] evilaliv3 commented on #1737
@NSkelsey while we discuss this issue i've removed the current work i did from the devel branch.

@fpietrosanti could you please read the ticket and express your ideas on all the various topics?

[2016-07-26 17:33] evilaliv3 commented on #1737
an additional detail to be used in our decisions:

the whistleblower using TBB will be always using UTC and we are not able to discern Tor/non-Tor users so probably adopting the detection of the browser timezone is not a good choice.

my last idea on the topic is:
- to have a node configuration for the timezone (to be used forcefully on Tor/non-Tor user)
- the possibility for a logged user to enab

[2016-07-27 08:56] fpietrosanti commented on #1737
I think the current implementation with automatic detection is fine and it's like most webapp does. Btw it make sense to provide the ability for the end-user to specify it's own timezone as a static preference, that would override the automatic detection.

[2016-07-27 11:28] NSkelsey commented on #1168
This can be solved by adding another CSS class ext for the specific langauges.

A selector with `ext-applang` could set custom fonts.

[2016-07-29 07:47] NSkelsey opened #1739 "Support updating customized translations"
With the current internationalization code it is impossible to:

1) Add a new language (to the list of supported langs) to a deployment already released.

2) Remove a language from the stored JSON blobs. A language can be removed from enabled_langs, but everything related to it sticks around in the JSON blobs.

3) Update the translations of customizable fields.

4) Reset the translation of individ

[2016-07-29 09:41] evilaliv3 commented on #1737
I agree that the current implementation of the detection is fine.

for now i've simply made the code uniform removing mixed used; let's remove the ticket from the current milestone and postpone improvements to the future.

as a resume for future development:
- on Tor browsers all dates will be shown always in UTC.
- it would be eventually possible to add a user preference for all users except the

[2016-07-29 12:42] evilaliv3 commented on #1561
this issues does not exists anymore because the wizard has been refactored as an atomic operation.

[2016-07-29 12:44] #1561 closed

[2016-07-29 12:51] evilaliv3 commented on #1345
this if implemented should be subject to an enabler to be enabled by the admin.

the risk in allowing to change eventually. the name, the description and the image in fact allows an user to impersonate other users so that eventually this changes should be moderated.

[2016-07-29 12:55] evilaliv3 commented on #1249
Jquery is dead since a while!

[2016-07-29 12:55] #1249 closed

[2016-07-29 13:07] evilaliv3 commented on #1345
related to: https://github.com/globaleaks/GlobaLeaks/issues/156

[2016-08-01 09:46] NSkelsey commented on #1454
There is an external service:

https://github.com/angular/protractor-accessibility-plugin

With chrome we can get 90% of the way there!

[2016-08-01 22:12] NSkelsey commented on #999
The above commit 5ca13eb is a refactor of non l10n system config. The goal is to integrate the l10n config first in #1739, then complete these changes, dropping the node and template tables completely.

[2016-08-02 13:21] inthegarage commented on #1630
Please see my comments on https://github.com/angular/protractor/issues/2377

I currently can get this working (kinda), so the browser loads(Edge) and it navigates to my page, however all tests fail with the same error:

    Failed: Error while waiting for Protractor to sync with the page: "window.angular is undefined.  This could be either because this is a non-angular page or because your test in

[2016-08-03 10:36] NSkelsey commented on #1739
With commit 6b7eb75 this issue is solved. It will be integrated as part of the refactor/model_config branch

[2016-08-03 10:36] #1739 closed

[2016-08-04 07:20] evilaliv3 opened #1740 "wrongly opened in place of milestone! :)"

[2016-08-04 07:23] #1740 closed

[2016-08-04 12:35] evilaliv3 opened #1741 "Collect information about the connection type (Tor/HTTPS) for each operation performed on the platform."
Right now the platform mark every submission in relation the connection type marking it Tor/HTTPS but this is applied one shot to the submission.

It would be interesting instead to log that information for each operation performed on the platform and to expose through the Tip interface only the more recent value (e.g. if the submissio happened in HTTPS but last action has been performed using Tor

[2016-08-04 12:46] evilaliv3 commented on #1716
This has still to be described in the application security policy.

In addition i would suggest that the implementation reset the access expiration every time the whistleblower access. This way whistleblower that are active and log for checking their submission and possibly update it do not see their access expire; obviously in case the submission expiration time the access to the tip will expire

[2016-08-04 12:49] evilaliv3 opened #1742 "Create specific admin panel in relation to the data retention policy"
During time we are collecting valuable feature that all deals with the configuration of the data retention policy.

For example we have the:
- tip expiration as configured by the adopter in relation to the internal policy that could be postponed by the recipient; various adopters require this configuration to be disabled.
- access expiration of the whistleblower receipt that is generally configure

[2016-08-04 14:56] NSkelsey commented on #1716
@evilaliv3 this is what the current implementation does.

[2016-08-04 15:10] NSkelsey commented on #1716
Documented.

[2016-08-04 15:10] #1716 closed

[2016-08-04 17:22] evilaliv3 commented on #1716
Great! Well done!

[2016-08-05 09:46] evilaliv3 opened #1743 "Backup script fails if globaleaks is already stopped"
The backup script does currently fail if globaleaks service is already stopped

Evidence of the error:
[code]

[2016-08-05 10:15] NSkelsey commented on #1743
X_X the script is crap at the moment.

[2016-08-05 10:35] evilaliv3 opened #1744 "Backup script help informs the user of arguments not used"
The current backup script (gl-admin backup) help inform the user of the possibility to use some commands arguments that are not used in the real.

e.g.: gl-admin backup mention the possibility to explicit the destination path for the backup to be created but this argument is not used by the script.

this ticket is to keep track of the fix of such an issue by:
- change the BASENAME argument to BASE

[2016-08-05 10:52] NSkelsey commented on #1744
We should use a real config parser for the admin script.

[2016-08-05 12:42] evilaliv3 commented on #1744
What do you mean with config parser?
Il 05/Ago/2016 12:52 "Nick Skelsey" <notifications@github.com> ha scritto:

[2016-08-05 13:12] evilaliv3 commented on #1744
More than a config parser i think we should use an option parser.

We could use the same already used in bin/globaleaks: https://docs.python.org/2/library/optparse.html
```from optparse import OptionParser```

[2016-08-05 13:43] #1744 closed

[2016-08-05 13:43] #1743 closed

[2016-08-06 14:41] evilaliv3 opened #1745 "Allow configuration of the Tor Browser download link"
The privacy badge is since ever including a hardcoded ```Download the Tor Browser``` link that points to https://www.torproject.org/download/download

With the [GetTor](https://github.com/globaleaks/Tor2web/wiki/GetTor) feature of Tor2web (https://github.com/globaleaks/Tor2web/issues/168) the platform could serve Tor directly.

This added value helps:
 - simplify the user adoption of Tor, serving

[2016-08-10 06:55] strikerno19 opened #1746 "Recover expired data"
My CEO forgotten open e-mail from globaleak since May 2016, My CEO want to recovery expired data from database, please recommend how to recovery expired data. Thank You

[2016-08-10 07:29] NSkelsey commented on #1746
strikerno19: I am sorry this happened to you. Once the data is deleted it is deleted permanently. The defaults are designed to protect at risk organizations.

To avoid this in the future increase the tip expiration time to many years and use the tip access expiration setting (new in version 2.63.0) to permanently revoke a whistleblower's access.

[2016-08-10 10:19] NSkelsey commented on #1745
Fixed and release in 2.63.0

[2016-08-10 10:19] #1745 closed

[2016-08-11 01:02] strikerno19 commented on #1746
Thank you, for your recommended. I'm not sure, if I update version for change tip access expiration setting to version 2.63.0 will have an impact to systems or not

[2016-08-11 07:04] fpietrosanti commented on #1746
@strikerno19 If you are doing a professional uses of Whistleblowing, would you please consider supporting GlobaLeaks project with some donations or maintenance contract to get dedicated support and contribute to the r&d roadmap :*

[2016-08-11 09:49] NSkelsey commented on #1746
Closing this as informational.

[2016-08-11 09:49] #1746 closed

[2016-08-11 12:01] infosquatter opened #1747 "Can't upload images / deleted images on update"
After updating the software to the latest version, all the uploaded images disappeared (the custom .css was also deleted). I got to re-upload the logo image, but trying to re-upload the users logo/images simply doesn't work. Ref: Mexicoleaks.

[2016-08-11 13:26] evilaliv3 commented on #1747
what issue are you encountering in re-uploading the images?

recently (from various releases) we moved the images from the filesystem to the database and specific migration has been implemented for this.

the issue you may have encountered is that the platform since ever, supports only PNG images, but that support was not enforced so that if you loaded a JPG it was shown anyway.

 now instead for

[2016-08-11 13:38] infosquatter commented on #1747
im trying to upload .png images and I can see them on the preview. i
save it etc, but the changes dont have any effect afterwards.
Giovanni Pellerano:

[2016-08-11 13:41] evilaliv3 commented on #1747
thanks @infosquatter

can you confirm that this is the latest version?

we are now proceeding retesting if there is a defect in the current release.

[2016-08-11 13:46] evilaliv3 commented on #1747
@infosquatter issue conformed; i will be back to you shortly when we have a fix.

[2016-08-11 20:23] evilaliv3 commented on #1564
The update to grunt@1.0.1 done in previous releases unblocked this ticket removing the issue of creating/using the shrinkwrap!